{% load event_extras %}
{% load i18n %}
<ul class="nav nav-pills nav-stacked custom-nav">
    <li class="menu-list {% active request 'event:event_edit' 'event_speakers' 'event_presentations' 'event:event_configuration' 'event_tickets' 'event_places' 'event:event_designer' %}">
        <a href="index.html">
            <i class="fa fa-home"></i> <span>{% trans 'page' %}</span></a>
        <ul class="sub-menu-list">
            <li class="$">
                <a href="#"> {% trans 'information' %}</a>
            </li>
            <li class="#">
                <a href="#"> {% trans 'tickets' %}</a>
            </li>
        </ul>
    </li>
    <li class="#">
        <a href="#"><i class="fa fa-hand-o-right"></i> {% trans 'attendees' %}</a>
    </li>
    <li class="menu-list">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i> <span>{% trans 'statistics' %}</span></a>
        <ul class="sub-menu-list">
            <li><a href="#"> Información</a></li>
        </ul>
    </li>
    <li class=""><a href="#" target="_blank">
        <i class="fa fa-sitemap"></i>
        <span>{% trans 'go to website' %}</span></a></li>
</ul>