{% load event_extras %}
{% load i18n %}
<ul class="nav nav-pills nav-stacked custom-nav">

    <li class="menu-list">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i> <span>{% trans 'events'|capfirst %}</span></a>
        <ul class="sub-menu-list">
            <li><a href="#">{% trans 'all events'|capfirst %}</a></li>
            <li><a href="#">{% trans 'colaborators'|capfirst %}</a></li>
            <li><a href="#">{% trans 'locations'|capfirst %}</a></li>
            <li><a href="#">{% trans 'event types'|capfirst %}</a></li>
            <li><a href="#">{% trans 'tags'|capfirst %}</a></li>
        </ul>
    </li>

    <li class=""><a href="#"><i class="fa fa-hand-o-right"></i> <span>{% trans 'contacts'|capfirst %}</span></a></li>

    <li class="menu-list">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i> <span>{% trans 'photos'|capfirst %}</span></a>
        <ul class="sub-menu-list">
            <li><a href="#">{% trans 'events'|capfirst %}</a></li>
            <li><a href="#">{% trans 'event types'|capfirst %}</a></li>
            <li><a href="#">{% trans 'tags'|capfirst %}</a></li>
        </ul>
    </li>
</ul>