{% load static %}
<div class="nav-container">
    <nav class="overlay-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="index.html">
                        <img alt="Logo" class="logo logo-light" src="{% static 'main/img/yovoy.png' %}">
                        <img alt="Logo" class="logo logo-dark" src="{% static 'main/img/yovoy-dark.png' %}">
                    </a>
                </div>
                <div class="col-md-10 text-right">
                    <ul class="menu">
                        <li><a class="inner-link" onclick="fb_login()" href="#" target="default">Create Event</a></li>
{#                        <li class="social-link"><a href="#"><i class="icon social_twitter"></i></a></li>#}
{#                        <li class="social-link"><a href="#"><i class="icon social_facebook"></i></a></li>#}
{#                        <li class="social-link instagram-toggle"><a href="#" class="instagram-toggle-init"><i#}
{#                                class="icon social_instagram"></i></a></li>#}
                    </ul>
                    <div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->

        <div class="bottom-border"></div>


        <div class="instagram-sidebar">
            <div class="instafeed" data-user-name="insideenvato">
                <ul>
                </ul>
            </div>
        </div>

    </nav>
</div>