{% load i18n %}
<section class="error-page fullscreen-element preserve-3d" parent-id="variant-404-1">
    <div class="container vertical-align">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="text-white">404<br>{% trans 'Not Found' %}</h1>

                <p class="lead text-white">{% trans 'Oh dear, this is not the way to the Meetup...' %}</p>
                <a href="#" class="btn btn-white">{% trans 'Take Me Home' %}</a>
                <a href="#" class="btn btn-white btn-hollow">{% trans 'Report this error' %}</a>
            </div>

            <div class="col-sm-4 text-right">
                <i class="icon pe-7s-way"></i>
                <i class="icon pe-7s-compass"></i>
                <i class="icon pe-7s-attention"></i>
            </div>
        </div>
    </div>
</section>