{% load static %}
{% load i18n %}
<section class="duplicatable-content visitor-info" parent-id="variant-visitors-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{% trans 'Travel Information' %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="info-box">
                    <img alt="Venue" src="{% static 'main/img/venue.jpg' %}">

                    <h3>{% trans 'Venue' %}</h3>

                    <p>
                        Docklands Convention Centre<br>
                        158 Wurundjeri Way<br>
                        Melbourne, 3000<br><br>
                        <a href="#">{% trans 'See Map' %}</a>
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="info-box">
                    <img alt="Venue" src="{% static 'main/img/air.jpg' %}">

                    <h3>{% trans 'Air Travel' %}</h3>

                    <p>
                        {% trans 'Lorem ipsum dolor sit amet, consectetur do elit adipisicing elit, sed do eiusmod tempor inc ut labore et dolore magna aliqua.' %}
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="info-box">
                    <img alt="Venue" src="{% static 'main/img/travel.jpg' %}">

                    <h3>{% trans 'Getting Around' %}</h3>

                    <p>
                        {% trans 'Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore' %}
                    </p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <h1>{% trans 'Nearby Accomodation' %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="info-box">
                    <img alt="Venue" src="{% static 'main/img/hotel1.jpg' %}">

                    <h3>{% trans 'Parkview Hotel' %}</h3>

                    <p>
                        42 Wallaby Way<br>
                        Sydney 2014
                    </p>

                    <div class="text-link">
                        <a href="#">{% trans 'See Map' %}</a>
                        <a href="#">{% trans 'Website' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="info-box">
                    <img alt="Venue"
                         src="http://38.media.tumblr.com/928dd4dabe559c7955f98e30a1dd0b60/tumblr_nabjg4wraw1qfirfao1_1280.jpg">

                    <h3>{% trans 'Empire Luxury Hotel' %}</h3>

                    <p>
                        200 Collins St<br>
                        Melbourne 3000
                    </p>

                    <div class="text-link">
                        <a href="#">{% trans 'See Map' %}</a>
                        <a href="#">{% trans 'Website' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="info-box">
                    <img alt="Venue"
                         src="http://38.media.tumblr.com/3d156c8f2eda130780e2b381039d6827/tumblr_nabj1sNYFd1qfirfao1_1280.jpg">

                    <h3>Walter Plaza</h3>

                    <p>
                        235 Exhibition St<br>
                        Melbourne 3000
                    </p>

                    <div class="text-link">
                        <a href="#">{% trans 'See Map' %}</a>
                        <a href="#">{% trans 'See Website' %}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>