{% load static %}
{% load i18n %}
<section class="strip-divider call-to-action" parent-id="variant-cta-1">
    <div class="background-image-holder parallax-background">
        <img class="background-image" alt="BG Image" src="{% static 'main//img/grey-bg.jpg' %}">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>{% trans 'What are you waiting for? Meetup 2019!?' %}</h1>
                <span class="uppercase">{% trans 'Do not Wait, Get your tickets right now'%}</span>
                <a class="btn btn-lg" href="#">{% trans 'Purchase Tickets' %}</a>
                <span class="uppercase">{% trans 'Oh, invite your friends too' %}</span>
                <a href="#"><i class="icon social_facebook"></i></a>
                <a href="#"><i class="icon social_twitter"></i></a>
            </div>
        </div>

    </div>
</section>
