{% load static %}
{% load i18n %}
<section class="hero-slider" parent-id="variant-countdown-header-1">
    <ul class="slides">
        <li class="countdown-header primary-overlay">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="{% trans 'About Image' %}" src="{% static 'main/img/hero5.jpg' %}">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                        <img alt="Logo" class="" src="{% static 'main/img/tedxcharacato.png' %}">
                        <h1 class="text-white text-title">{{ event.name }}</h1>
                        <span class="uppercase text-white">{{ event.start|date:'F d' }} - {{ event.address }}</span>

                        <h1 class="text-white large-h1">{{ event.slogan }}</h1>
                    </div>
                </div>
                <!--end of row-->

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="countdown" data-date="{{ event.start|date:'Y/m/d' }}"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
