{% load static %}
{% load i18n %}
<section class="strip-divider primary-overlay countdown-divider" parent-id="variant-countdown-divider-1">
    <div class="background-image-holder parallax-background">
        <img class="background-image" alt="{% trans 'About Image' %}"
             src="{% static 'main/img/hero5.jpg' %}">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img alt="Logo" class="" src="{% static 'main/img/tedxcharacato.png' %}">

                <h1 class="text-white text-title">{{ event.name }}</h1>


                <h2 class="text-white">
                    {% if event.description %}{{ event.description }}{% else %}
                        {% trans 'Get ready to rock in...' %}{% endif %}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1"
                 data-vip="{'buttonText':'{% trans 'Edit Countdown Date' %}','modalTitle':'{% trans 'Edit Countdown Date' %}','modalIntro':'{% trans 'Enter the date you wish to count down to in the following format: YYYY/MM/DD hh:mm (hh:mm optional)' %}','modalInputLabel':'{% trans 'Countdown Date (YYYY/MM/DD)' %}:','selector':'.countdown','attribute':'data-date','refresh':'true'}">
                <div class="countdown" data-date="{{ event.start|date:'Y/m/d' }}"></div>
            </div>
        </div>
    </div>
</section>