{% load i18n %}
<section class="duplicatable-content" parent-id="variant-faq-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Frequently Asked Questions</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="faq-item">
                    <p class="question">
                        What if I need to cancel my booking at late notice?
                    </p>

                    <p>
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="faq-item">
                    <p class="question">
                        Which payment methods do you accept?
                    </p>

                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        ptariatur. Excepteur sint occaecat
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="faq-item">
                    <p class="question">
                        I'd like to {% trans 'Purchase Tickets' %} for 20 members, is there bulk pricing?
                    </p>

                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque corruptiex.<br><br>
                        <a href="#">More Info</a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="faq-item">
                    <p class="question">
                        Is there ample parking at the Meetup venue?
                    </p>

                    <p>
                        Short Answer Yes<br><br>
                        Voluptate velit esse cillum dolore eu fugiat nulla ptariatur. Excepteur sint occaecat
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>