{% load i18n %}
<section class="contact-tweets" parent-id="variant-contact-1">
    <div class="container vertical-align">
        <div class="row">
            <div class="col-md-5 col-sm-8">
                <i class="icon pe-7s-mail"></i>

                <h1 class="text-white">{% trans  'Get in touch today.' %}</h1>

                <form class="register email-form">
                    <div class="col-sm-6">
                        <input class="form-name validate-required" type="text" placeholder="{% trans  'Name' %}" name="name"
                               data-vip="{'buttonText':'{% trans  'Edit Placeholder Text' %}','modalTitle':'{% trans  'Edit Placeholder Text' %}','modalIntro':'{% trans  'Enter text you want the user to see when field is empty.' %}','modalInputLabel':'{% trans  'Placeholder text' %}:','selector':'input','attribute':'placeholder','refresh':'false'}">
                    </div>
                    <div class="col-sm-6">
                        <input class="form-email validate-email" type="text" placeholder="{% trans  'Email Address' %}"
                               name="email"
                               data-vip="{'buttonText':'{% trans  'Edit Placeholder Text' %}','modalTitle':'{% trans  'Edit Placeholder Text' %}','modalIntro':'{% trans  'Enter text you want the user to see when field is empty.' %}','modalInputLabel':'{% trans  'Placeholder text' %}:','selector':'input','attribute':'placeholder','refresh':'false'}">
                    </div>
                    <div class="col-sm-12">
                        <input class="form-message validate-required" type="text" placeholder="{% trans  'Message' %}"
                               name="message"
                               data-vip="{'buttonText':'{% trans  'Edit Placeholder Text' %}','modalTitle':'{% trans  'Edit Placeholder Text' %}','modalIntro':'{% trans  'Enter text you want the user to see when field is empty.' %}','modalInputLabel':'{% trans  'Placeholder text' %}:','selector':'input','attribute':'placeholder','refresh':'false'}">
                    </div>

                    <div class="col-sm-6">
                        <input type="submit" value="Send Form" class="btn btn-hollow"
                               data-vip="{'buttonText':'{% trans  'Edit Submit Button Text' %}','modalTitle':'{% trans  'Edit Submit Button Text' %}','modalIntro':'{% trans  'Enter text you want the user to see when field is empty.' %}','modalInputLabel':'Submit button text:','selector':'input','attribute':'value','refresh':'false'}">
                    </div>

                    <div class="col-sm-12">
                        <span>{% trans  '*We usually respond within 24 hours' %}</span>

                        <div class="form-success"><span>{% trans  'Thank you, your enquiry has been sent!' %}</span></div>
                        <div class="form-error"><span>{% trans  'Validation error, please check all fields' %}</span></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="map-holder col-md-6 col-sm-4"
         data-vip="{'buttonText':'{% trans  'Edit Map Embed' %}','modalTitle':'{% trans  'Edit Map Embed' %}','modalIntro':'{% trans  'Get the embed code from your preferred mapping provider and paste here.' %}','modalInputLabel':'{% trans  'Map Embed Code' %}:','selector':'iframe','attribute':'src'}">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.2140611954183!2d-122.12117800000001!3d37.408414999999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fba7963491697%3A0x2f1c2bf242a2d45d!2sElks+Lodge!5e0!3m2!1sen!2sau!4v1409714993346"></iframe>
    </div>
</section>