{% load static %}
{% load i18n %}
<section class="image-with-text background-dark preserve-3d" parent-id="variant-register-1">

    <div class="container vertical-align">
        <div class="row">
            <div class="col-md-5 col-sm-8">
                <h1 class="text-white">{% blocktrans with event.nick as nick %}Register your attendance at {{ nick }}
                    while places last{% endblocktrans %}</h1>
                {% include 'main/blocks/register_form.html' %}
            </div>
        </div>

    </div>

    <div class="go-right side-image col-sm-4 col-md-6">
        <div class="background-image-holder">
            <img class="background-image" alt="{% trans 'About Image' %}" src="{% static 'main//img/side2.jpg' %}">
        </div>
    </div>

</section>