{% load i18n %}
<section class="fullwidth-map screen" parent-id="variant-map-1">
    <div class="map-holder"
         data-vip="{'buttonText':'{% trans  'Edit Map Embed' %}','modalTitle':'{% trans  'Edit Map Embed' %}','modalIntro':'{% trans  'Get the embed code from your preferred mapping provider and paste here.' %}','modalInputLabel':'{% trans  'Map Embed Code' %}:','selector':'iframe','attribute':'src'}">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.2140611954183!2d-122.12117800000001!3d37.408414999999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fba7963491697%3A0x2f1c2bf242a2d45d!2sElks+Lodge!5e0!3m2!1sen!2sau!4v1409714993346"></iframe>
    </div>
</section>
