{% load static %}
{% load i18n %}
<section class="hero-slider" parent-id="variant-hero-slider-1">
    <ul class="slides">

        <li class="hero-slide">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="{% trans  'Background Image' %}" src="{% static 'main/img/hero8.jpg' %}">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <img alt="Logo" class="" src="{% static 'main/img/tedxcharacato.png' %}">
                        <h1 class="large-h1 text-white">{{ event.name }}</h1>
                        <h1 class="large-h1 text-white">{{ event.description }}</h1>
                        <span class="lead text-white">{{ event.slogan }}</span>
                    </div>

                </div>
            </div>
        </li>

        <li class="hero-slide">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="{% trans  'Background Image' %}" src="{% static 'main/img/hero2.jpg' %}">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <img alt="Logo" class="" src="{% static 'main/img/tedxcharacato.png' %}">
                        <h1 class="large-h1 text-white">{{ event.name }}</h1>
                        <h1 class="large-h1 text-white">{{ event.description }}</h1>
                        <span class="lead text-white">{{ event.slogan }}</span>
                    </div>

                </div>
            </div>
        </li>

        <li class="hero-slide">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="{% trans  'Background Image' %}" src="{% static 'main/img/hero1.jpg' %}">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <img alt="Logo" class="" src="{% static 'main/img/tedxcharacato.png' %}">
                        <h1 class="large-h1 text-white">{{ event.name }}</h1>
                        <h1 class="large-h1 text-white">{{ event.description }}</h1>
                        <span class="lead text-white">{{ event.slogan }}</span>
                    </div>

                </div>
            </div>
        </li>

    </ul>
</section>