{% load i18n %}
<section class="topics duplicatable-content" parent-id="variant-icon-list-1">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{% trans 'Topics Covered' %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="topic" vht="parent">
                    <i class="pe-7s-browser"></i>

                    <h3>{% trans 'PHP Development' %}</h3>

                    <p class="lead">
                        {% trans 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.' %}
                    </p>
                    <ul class="ruled-list">
                        <li>{% trans 'Introduction to PHP' %}</li>
                        <li>{% trans 'How PHP changed the web' %}</li>
                        <li>{% trans 'Why developers love PHP' %}</li>
                        <li>{% trans 'Improving WordPress workflow' %}</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="topic" vht="parent">
                    <i class="pe-7s-loop"></i>

                    <h3>{% trans 'PHP Development' %}</h3>

                    <p class="lead">
                        {% trans 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.' %}
                    </p>
                    <ul class="ruled-list">
                        <li>{% trans 'Introduction to PHP' %}</li>
                        <li>{% trans 'How PHP changed the web' %}</li>
                        <li>{% trans 'Why developers love PHP' %}</li>
                        <li>{% trans 'Improving WordPress workflow' %}</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="topic" vht="parent">
                    <i class="pe-7s-user"></i>

                    <h3>{% trans 'PHP Development' %}</h3>

                    <p class="lead">
                        {% trans 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.' %}
                    </p>
                    <ul class="ruled-list">
                        <li>{% trans 'Introduction to PHP' %}</li>
                        <li>{% trans 'How PHP changed the web' %}</li>
                        <li>{% trans 'Why developers love PHP' %}</li>
                        <li>{% trans 'Improving WordPress workflow' %}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</section>