{% load i18n %}
<section class="topics duplicatable-content overlay" parent-id="variant-icon-list-2">

    <div class="background-image-holder parallax-background">
        <img class="background-image" alt="{% trans 'About Image' %}"
             src="http://31.media.tumblr.com/d91942eddeeb832e44d7ac24196e0587/tumblr_n8gyrvGyzC1st5lhmo1_1280.jpg">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-white">{% trans 'Topics Covered' %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="topic" vht="parent">
                    <i class="pe-7s-ribbon"></i>

                    <h3 class="text-white">{% trans 'PHP Development' %}</h3>

                    <p class="lead text-white">
                        {% trans 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.' %}
                    </p>
                    <ul class="ruled-list text-white">
                        <li>{% trans 'Introduction to PHP' %}</li>
                        <li>{% trans 'How PHP changed the web' %}</li>
                        <li>{% trans 'Why developers love PHP' %}</li>
                        <li>{% trans 'Improving WordPress workflow' %}</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="topic" vht="parent">
                    <i class="pe-7s-id"></i>

                    <h3 class="text-white">{% trans 'PHP Development' %}</h3>

                    <p class="lead text-white">
                        {% trans 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.' %}
                    </p>
                    <ul class="ruled-list text-white">
                        <li>{% trans 'Introduction to PHP' %}</li>
                        <li>{% trans 'How PHP changed the web' %}</li>
                        <li>{% trans 'Why developers love PHP' %}</li>
                        <li>{% trans 'Improving WordPress workflow' %}</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="topic" vht="parent">
                    <i class="pe-7s-medal"></i>

                    <h3 class="text-white">{% trans 'PHP Development' %}</h3>

                    <p class="lead text-white">
                        {% trans 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.' %}
                    </p>
                    <ul class="ruled-list text-white">
                        <li>{% trans 'Introduction to PHP' %}</li>
                        <li>{% trans 'How PHP changed the web' %}</li>
                        <li>{% trans 'Why developers love PHP' %}</li>
                        <li>{% trans 'Improving WordPress workflow' %}</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</section>