{% load static %}
{% load i18n %}
<section class="image-with-text testimonials preserve-3d" parent-id="variant-image-block-2">

    <div class="go-left side-image col-md-6 col-sm-4">
        <div class="background-image-holder">
            <img class="background-image" alt="{% trans 'About Image' %}" src="{% static 'main/img/side3.jpg' %}">
        </div>
    </div>

    <div class="container vertical-align">
        <div class="row">
            <div class="col-md-5 col-md-offset-7 col-sm-7 col-sm-offset-5">
                <div class="testimonials-slider">
                    <ul class="slides">
                        <li>
                            <h1>"{% trans 'Meetup was chock full of useful stuff. My head was spinning!' %}"</h1>

                            <p class="lead">
                                {% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}
                            </p>
                        </li>

                        <li>
                            <h1>"{% trans 'Last years Meetup completely changed my approach to PHP!' %}"</h1>

                                <p class="lead">
                                    {% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}
                                </p>
                        </li>

                        <li>
                            <h1>"{% trans 'If you go to one conference this year, make sure it is Meetup.' %}"</h1>

                            <p class="lead">
                                {% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</section>