{% load static %}
{% load i18n %}
<section class="section-header overlay preserve3d" parent-id="variant-page-header-1">

    <div class="background-image-holder parallax-background">
        <img class="background-image" alt="{% trans  'Background Image' %}" src="{% static 'main/img/hero7.jpg' %}">
    </div>

    <div class="container vertical-align">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-">
                <i class="icon pe-7s-global"></i>
                <i class="icon pe-7s-glasses"></i>
                <i class="icon pe-7s-date"></i>

                <h1 class="text-white">{% trans 'A little more about ' %} {{ event.nick }}</h1>

                <p class="lead text-white">
                    {{ event.description }}
                </p>
            </div>
        </div>
    </div>

</section>