{% load i18n %}
<section class="inline-video" parent-id="variant-inline-video-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{% trans 'Schedule' %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">
                    {% trans 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos.' %}
                </p>

                <p>
                    {% trans 'Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non.' %}
                </p>
                <a href="#" class="btn">{% trans 'Get Tickets' %}</a>
                <a href="#" class="btn btn-hollow">{% trans 'Subscribe' %}</a>
            </div>

            <div class="col-md-6">
                <div class="embedded-video-holder"
                     data-vip="{'buttonText':'Edit Video Embed','modalTitle':'Edit Video Embed','modalIntro':'Get the embed code from your preferred video provider and paste here.','modalInputLabel':'Video Embed Code:','selector':'iframe','attribute':'src'}">
                    <iframe delay-src="https://player.vimeo.com/video/88883554?color=ffffff"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>