{% load i18n %}
<section class="contained-gallery" parent-id="variant-instagram-2">
		<div class="container">
			<div class="row">
			
				<div class="col-md-7 col-sm-6">
					<div class="instagram" data-vip="{'buttonText':'{% trans  'Edit Instagram Feed' %}','modalTitle':'{% trans  'Edit Instagram Feed' %}','modalIntro':'{% trans  'Enter the username for your desired Instagram feed.' %}','modalInputLabel':'{% trans  'Instagram username' %}:','selector':'.instafeed','attribute':'data-user-name','refresh':'true'}">
						<div class="instafeed" data-user-name="insideenvato">
							<ul>
							</ul>
						</div>
					</div>
				</div>
			
				<div class="col-md-5 col-sm-6">
					<h1>{% trans  'Meetup 2013 was a rousing success, check out the highlights from last year''s event.' %}</h1>
					
					<p class="lead">
						{% trans  'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.' %}
					</p>
					
					<a href="#" class="btn"><i class="icon social_instagram">&nbsp;</i> {% trans  'Follow' %} {{ event.nick }}</a>
					<a href="#" class="btn btn-hollow">{% trans  'Register Now' %}</a>
					
				</div>
				
			</div>
		</div>
	</section>