{% load i18n %}
{% load static %}
<section parent-id="variant-instagram-3" class="instagram preserve-3d gallery-header"
         data-vip="{'buttonText':'{% trans 'Edit Instagram Feed' %}','modalTitle':'{% trans 'Edit Instagram Feed' %}','modalIntro':'{% trans 'Enter the username for your desired Instagram feed.' %}','modalInputLabel':'{% trans 'Instagram username' %}:','selector':'.instafeed','attribute':'data-user-name','refresh':'true'}">

    <div class="instafeed" data-user-name="insideenvato">
        <ul></ul>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <img alt="Logo" class="" src="{% static 'main/img/tedxcharacato.png' %}">

                <h1 class="text-white large-h1">{{ event.name }}</h1>

                <span class="uppercase text-white">{{ event.start|date:'F d' }} - {{ event.address }}</span>

                <h1 class="text-white large-h1">{{ event.slogan }}</h1>
            </div>
        </div>
    </div>
</section>