{% load i18n %}
<section class="instagram preserve-3d" parent-id="variant-instagram-1"
         data-vip="{'buttonText':'{% trans  'Edit Instagram Feed' %}','modalTitle':'{% trans  'Edit Instagram Feed' %}','modalIntro':'{% trans  'Enter the username for your desired Instagram feed.' %}','modalInputLabel':'{% trans  'Instagram username' %}:','selector':'.instafeed','attribute':'data-user-name','refresh':'true'}">

    <div class="instafeed" data-user-name="insideenvato">
        <ul></ul>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <i class="icon social_instagram text-white"></i>

                    <h1 class="text-white">{% trans  'Memories from' %} {{ event.nick }}</h1>
                    <span class="lead text-white">{% trans  'Follow this year''s event on' %} <strong><a class="text-white" href="#">Instagram</a></strong></span>
                </div>
            </div>
        </div>
    </div>
</section>