{% load static %}
{% load i18n %}
<section class="contained-gallery" parent-id="variant-lightbox-2">
    <div class="container">
        <div class="row">

            <div class="col-md-7 col-sm-6">
                <div class="lightbox-gallery">
                    <ul>
                        <li>
                            <a href="../img/lb1.jpg" class="ven" data-lightbox="true" data-title="Meetup 2013">
                                <div class="background-image-holder">
                                    <img class="background-image" alt="Lightbox Image"
                                         src="{% static 'main/img/lb1.jpg' %} ">
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="../img/lb2.jpg" class="ven" data-lightbox="true" data-title="Meetup 2013">
                                <div class="background-image-holder">
                                    <img class="background-image" alt="Lightbox Image"
                                         src="{% static 'main/img/lb2.jpg' %} ">
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="../img/lb3.jpg" class="ven" data-lightbox="true" data-title="Meetup 2013">
                                <div class="background-image-holder">
                                    <img class="background-image" alt="Lightbox Image"
                                         src="{% static 'main/img/lb3.jpg' %} ">
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="../img/lb4.jpg" class="ven" data-lightbox="true" data-title="Meetup 2013">
                                <div class="background-image-holder">
                                    <img class="background-image" alt="Lightbox Image"
                                         src="{% static 'main/img/lb4.jpg' %} ">
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="../img/lb5.jpg" class="ven" data-lightbox="true" data-title="Meetup 2013">
                                <div class="background-image-holder">
                                    <img class="background-image" alt="Lightbox Image"
                                         src="{% static 'main/img/lb5.jpg' %} ">
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="../img/lb6.jpg" class="ven" data-lightbox="true" data-title="Meetup 2013">
                                <div class="background-image-holder">
                                    <img class="background-image" alt="Lightbox Image"
                                         src="{% static 'main/img/lb6.jpg' %} ">
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="../img/lb7.jpg" class="ven" data-lightbox="true" data-title="Meetup 2013">
                                <div class="background-image-holder">
                                    <img class="background-image" alt="Lightbox Image"
                                         src="{% static 'main/img/lb7.jpg' %} ">
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="../img/lb8.jpg" class="ven" data-lightbox="true" data-title="Meetup 2013">
                                <div class="background-image-holder">
                                    <img class="background-image" alt="Lightbox Image"
                                         src="{% static 'main/img/lb8.jpg' %} ">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-5 col-sm-6">
                <h1>{% trans  'Meetup 2013 was a rousing success, check out the highlights from last year''s event.' %}</h1>

                <p class="lead">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias.
                </p>

                <a href="#" class="btn"><i class="icon social_instagram">&nbsp;</i> {% trans  'Follow' %} Meetup</a>
                <a href="#" class="btn btn-hollow">{% trans  'Register Now' %}</a>

            </div>

        </div>
    </div>
</section>