{% load static %}
{% load i18n %}
<section class="lightbox-gallery preserve-3d" parent-id="variant-lightbox-1">

    <div class="gallery-holder">
        <ul>
            <li>
                <a href="{% static 'main/img/lb1.jpg' %}" class="ven" data-lightbox="true" data-title="Meetup 2013">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Lightbox Image" src="{% static 'main/img/lb1.jpg' %} ">
                    </div>
                </a>
            </li>

            <li>
                <a href="{% static 'main/img/lb2.jpg' %}" class="ven" data-lightbox="true" data-title="Meetup 2013">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Lightbox Image" src="{% static 'main/img/lb2.jpg' %} ">
                    </div>
                </a>
            </li>

            <li>
                <a href="{% static 'main/img/lb3.jpg' %}" class="ven" data-lightbox="true" data-title="Meetup 2013">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Lightbox Image" src="{% static 'main/img/lb3.jpg' %} ">
                    </div>
                </a>
            </li>

            <li>
                <a href="{% static 'main/img/lb4.jpg' %}" class="ven" data-lightbox="true" data-title="Meetup 2013">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Lightbox Image" src="{% static 'main/img/lb4.jpg' %} ">
                    </div>
                </a>
            </li>

            <li>
                <a href="{% static 'main/img/lb5.jpg' %}" class="ven" data-lightbox="true" data-title="Meetup 2013">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Lightbox Image" src="{% static 'main/img/lb5.jpg' %} ">
                    </div>
                </a>
            </li>

            <li>
                <a href="{% static 'main/img/lb6.jpg' %}" class="ven" data-lightbox="true" data-title="Meetup 2013">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Lightbox Image" src="{% static 'main/img/lb6.jpg' %} ">
                    </div>
                </a>
            </li>

            <li>
                <a href="{% static 'main/img/lb7.jpg' %}" class="ven" data-lightbox="true" data-title="Meetup 2013">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Lightbox Image" src="{% static 'main/img/lb7.jpg' %} ">
                    </div>
                </a>
            </li>

            <li>
                <a href="{% static 'main/img/lb8.jpg' %}" class="ven" data-lightbox="true" data-title="Meetup 2013">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Lightbox Image" src="{% static 'main/img/lb8.jpg' %} ">
                    </div>
                </a>
            </li>

            <li>
                <a href="{% static 'main/img/lb1.jpg' %}" class="ven" data-lightbox="true" data-title="Meetup 2013">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Lightbox Image" src="{% static 'main/img/lb1.jpg' %} ">
                    </div>
                </a>
            </li>

            <li>
                <a href="{% static 'main/img/lb2.jpg' %}" class="ven" data-lightbox="true" data-title="Meetup 2013">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Lightbox Image" src="{% static 'main/img/lb2.jpg' %} ">
                    </div>
                </a>
            </li>
        </ul>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <i class="icon pe-7s-camera text-white"></i>

                    <h1 class="text-white">{% trans  'Memories from' %} Meetup 2013</h1>
                        <span class="lead text-white">{% trans 'Follow this year''s event on' %} <strong><a class="text-white"
                                                                                             href="#">Instagram</a></strong></span>
                </div>
            </div>
        </div>
    </div>
</section>