{% load i18n %}
{% load static %}
<section class="color-blocks" parent-id="variant-promo-links-1">
    <div class="color-block block-left col-md-6 col-sm-12"></div>
    <div class="color-block block-right col-md-6 col-sm-12"></div>

    <div class="container">
        <div class="row">
            <a href="#" class="block-content">
                <div class="col-md-2 col-sm-4 text-center">
                    <i class="icon pe-7s-cash"></i>
                </div>

                <div class="col-md-4 col-sm-8">
                    <h1>{% trans 'Purchase an early bird ticket and save!' %}</h1>

                    <p>
                        {% trans 'Catch our Early Bird special and save 20% off your ticket, be quick before they sell out!' %}
                    </p>
                </div>
            </a>

            <a href="#" class="block-content">
                <div class="col-md-2 col-sm-4 text-center">
                    <i class="icon pe-7s-phone"></i>
                </div>

                <div class="col-md-4 col-sm-8">
                    <h1>{% trans 'Download the Meetup app and stay informed!' %}</h1>

                    <p>
                        {% trans 'Available on iOS and Android, the Meetup app includes directions, schedule info and more!' %}
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>