{% load static %}
{% load i18n %}
<section class="pricing-options" parent-id="variant-pricing-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{% trans  'Pricing Options' %}</h1>
            </div>
        </div>

        <div class="row vjd">
            <div class="col-sm-6">
                <a href="#">
                    <div class="pricing-option">

                        <div class="dot"></div>

                        <div class="col-md-6 text-center">
                            <span class="dollar">$</span>
                            <span class="price">249</span>
                            <span class="type">{% trans  'Standard Pass' %}</span>
                        </div>

                        <div class="col-md-6">
                            <span class="plan-title">{% trans  'Day 1 & 2 Standard' %}</span>
                            <ul>
                                <li>{% trans  'Main keynote speeches' %}</li>
                                <li>{% trans  'Access to all areas' %}</li>
                                <li>{% trans  'Lunch on day 1' %}</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6">
                <a href="#">
                    <div class="pricing-option">

                        <div class="dot"></div>

                        <div class="col-md-6 text-center">
                            <span class="dollar">$</span>
                            <span class="price">349</span>
                            <span class="type">{% trans  'Silver Pass' %}</span>
                        </div>

                        <div class="col-md-6">
                            <span class="plan-title">{% trans  'Day 1 & 2 Premium' %}</span>
                            <ul>
                                <li>{% trans  'Main keynote speeches' %}</li>
                                <li>{% trans  'Access to all areas' %}</li>
                                <li>{% trans  'Lunch on both days' %}</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6">
                <a href="#">
                    <div class="pricing-option emphasis">

                        <div class="dot"></div>

                        <div class="col-md-6 text-center">
                            <span class="dollar">$</span>
                            <span class="price">399</span>
                            <span class="type">{% trans  'Gold Pass' %}</span>
                        </div>

                        <div class="col-md-6">
                            <span class="plan-title">{% trans  'All Days Pass' %}</span>
                            <ul>
                                <li>{% trans  'Main keynote speeches' %}</li>
                                <li>{% trans  'Access to all areas' %}</li>
                                <li>{% trans  'Lunch on day 1' %}</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6">
                <a href="#">
                    <div class="pricing-option">

                        <div class="dot"></div>

                        <div class="col-md-6 text-center">
                            <span class="dollar">$</span>
                            <span class="price">489</span>
                            <span class="type">{% trans  'Platinum Pass' %}</span>
                        </div>

                        <div class="col-md-6">
                            <span class="plan-title">{% trans  'All Days with Extras' %}</span>
                            <ul>
                                <li>{% trans  'VIP Lounge access' %}</li>
                                <li>{% trans  'Event afterparty ticket' %}</li>
                                <li>{% trans  'Catered breakfast' %}</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>