{% load static %}
{% load i18n %}

<section class="hero-slider" parent-id="variant-register-header-1">
    <ul class="slides">

        <li class="register-header">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="{% trans  'Background Image' %}" src="{% static 'main/img/hero6.jpg' %}">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <img alt="Logo" class="" src="{% static 'main/img/tedxcharacato.png' %}">
                        <h1 class="text-white text-title">{{ event.name }}</h1>
                        <h1 class="large-h1 text-white">{{ event.description }}</h1>
                        <span class="lead text-white">{{ event.slogan }}</span>
                    </div>

                    <div class="col-md-5 col-md-offset-1 col-sm-6">
                        {% include 'main/blocks/register_form.html' %}
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>