{% load i18n %}

<a id="schedule" class="in-page-link" parent-id="variant-schedule-1"></a>
<section class="schedule">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h1>{% trans 'October' %} 3</h1>
                <ul class="schedule-overview">
                    <li>
                        <div class="schedule-title">
                            <span class="time">9:30am - 11:30am</span>
                            <span class="title">{% trans 'Welcome & Registration' %}</span>
                        </div>

                        <div class="schedule-text">
                            <p>
                                {% trans 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.' %}
                            </p>
                        </div>

                        <div class="marker-pin">
                            <div class="top"></div>
                            <div class="middle"></div>
                            <div class="bottom"></div>
                        </div>
                    </li>

                    <li>
                        <div class="schedule-title">
                            <span class="time">11:30am - 1pm</span>
                            <span class="title">{% trans 'Improving WordPress Workflow' %}</span>
                        </div>

                        <div class="schedule-text">
                            <p>
                                {% trans 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.' %}
                            </p>
                        </div>

                        <div class="marker-pin">
                            <div class="top"></div>
                            <div class="middle"></div>
                            <div class="bottom"></div>
                        </div>
                    </li>

                    <li>
                        <div class="schedule-title">
                            <span class="time">1pm - 2pm</span>
                            <span class="title">{% trans 'Catered Lunch' %}</span>
                        </div>

                        <div class="schedule-text">
                            <p>
                                {% trans 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.' %}
                            </p>
                        </div>

                        <div class="marker-pin">
                            <div class="top"></div>
                            <div class="middle"></div>
                            <div class="bottom"></div>
                        </div>
                    </li>

                    <li>
                        <div class="schedule-title">
                            <span class="time">2pm - 3:30pm</span>
                            <span class="title">{% trans 'Advanced MySQL Usage' %}</span>
                        </div>

                        <div class="schedule-text">
                            <p>
                                {% trans 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.' %}
                            </p>
                        </div>

                        <div class="marker-pin">
                            <div class="top"></div>
                            <div class="middle"></div>
                            <div class="bottom"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-6">
                <h1>{% trans 'October' %} 4</h1>
                <ul class="schedule-overview">
                    <li>
                        <div class="schedule-title">
                            <span class="time">9:30am - 11:30am</span>
                            <span class="title">{% trans 'Welcome & Registration' %}</span>
                        </div>

                        <div class="schedule-text">
                            <p>
                                {% trans 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.' %}
                            </p>
                        </div>

                        <div class="marker-pin">
                            <div class="top"></div>
                            <div class="middle"></div>
                            <div class="bottom"></div>
                        </div>
                    </li>

                    <li>
                        <div class="schedule-title">
                            <span class="time">11:30am - 1pm</span>
                            <span class="title">{% trans 'Improving WordPress Workflow' %}</span>
                        </div>

                        <div class="schedule-text">
                            <p>
                                {% trans 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.' %}
                            </p>
                        </div>

                        <div class="marker-pin">
                            <div class="top"></div>
                            <div class="middle"></div>
                            <div class="bottom"></div>
                        </div>
                    </li>

                    <li>
                        <div class="schedule-title">
                            <span class="time">1pm - 2pm</span>
                            <span class="title">{% trans 'Catered Lunch' %}</span>
                        </div>

                        <div class="schedule-text">
                            <p>
                                {% trans 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.' %}
                            </p>
                        </div>

                        <div class="marker-pin">
                            <div class="top"></div>
                            <div class="middle"></div>
                            <div class="bottom"></div>
                        </div>
                    </li>

                    <li>
                        <div class="schedule-title">
                            <span class="time">2pm - 3:30pm</span>
                            <span class="title">{% trans 'Advanced MySQL Usage' %}</span>
                        </div>

                        <div class="schedule-text">
                            <p>
                                {% trans 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.' %}
                            </p>
                        </div>

                        <div class="marker-pin">
                            <div class="top"></div>
                            <div class="middle"></div>
                            <div class="bottom"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-6">
                <h1>{% trans 'October' %} 5</h1>
                <ul class="schedule-overview">
                    <li>
                        <div class="schedule-title">
                            <span class="time">9:30am - 11:30am</span>
                            <span class="title">{% trans 'Welcome & Registration' %}</span>
                        </div>

                        <div class="schedule-text">
                            <p>
                                {% trans 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.' %}
                            </p>
                        </div>

                        <div class="marker-pin">
                            <div class="top"></div>
                            <div class="middle"></div>
                            <div class="bottom"></div>
                        </div>
                    </li>

                    <li>
                        <div class="schedule-title">
                            <span class="time">11:30am - 1pm</span>
                            <span class="title">{% trans 'Improving WordPress Workflow' %}</span>
                        </div>

                        <div class="schedule-text">
                            <p>
                                {% trans 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.' %}
                            </p>
                        </div>

                        <div class="marker-pin">
                            <div class="top"></div>
                            <div class="middle"></div>
                            <div class="bottom"></div>
                        </div>
                    </li>

                    <li>
                        <div class="schedule-title">
                            <span class="time">1pm - 2pm</span>
                            <span class="title">{% trans 'Catered Lunch' %}</span>
                        </div>

                        <div class="schedule-text">
                            <p>
                                {% trans 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.' %}
                            </p>
                        </div>

                        <div class="marker-pin">
                            <div class="top"></div>
                            <div class="middle"></div>
                            <div class="bottom"></div>
                        </div>
                    </li>

                    <li>
                        <div class="schedule-title">
                            <span class="time">2pm - 3:30pm</span>
                            <span class="title">{% trans 'Advanced MySQL Usage' %}</span>
                        </div>

                        <div class="schedule-text">
                            <p>
                                {% trans 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.' %}
                            </p>
                        </div>

                        <div class="marker-pin">
                            <div class="top"></div>
                            <div class="middle"></div>
                            <div class="bottom"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>