{% load static %}
{% load i18n %}

<a id="speakers" class="in-page-link" id="variant-members-1"></a>
<section class="speakers duplicatable-content">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{% trans 'speakers'|capfirst %}</h1>
            </div>
        </div>

        <div class="row speakers-row">
            <div class="col-md-3 col-sm-6 speaker-column">
                <div class="speaker">
                    <div class="image-holder">
                        <img class="background-image" alt="Speaker" src="{% static 'main/img/speaker1.jpg' %}"
                             vht=".speaker-column">

                        <div class="hover-state text-center preserve3d" vht=".speaker-column">
                            <div class="social-links vertical-align">
                                <a href="#"><i class="icon social_twitter" vht="parent"></i></a>
                                <a href="#"><i class="icon social_linkedin" vht="parent"></i></a>
                            </div>
                        </div>
                    </div>
                    <span class="speaker-name">{% trans 'Joel Dupree' %}</span>
                    <span>{% trans 'CEO at Serv Inc.' %}</span>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 speaker-column">
                <div class="speaker">
                    <div class="image-holder">
                        <img class="background-image" alt="Speaker" src="{% static 'main/img/speaker2.jpg' %}"
                             vht=".speaker-column">

                        <div class="hover-state text-center preserve3d" vht=".speaker-column">
                            <div class="social-links vertical-align">
                                <a href="#"><i class="icon social_twitter" vht="parent"></i></a>
                                <a href="#"><i class="icon social_linkedin" vht="parent"></i></a>
                            </div>
                        </div>
                    </div>
                    <span class="speaker-name">{% trans 'Harry Brown' %}</span>
                    <span>{% trans 'Creative at large' %}</span>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 speaker-column">
                <div class="speaker">
                    <div class="image-holder">
                        <img class="background-image" alt="Speaker" src="{% static 'main/img/speaker3.jpg' %}"
                             vht=".speaker-column">

                        <div class="hover-state text-center preserve3d" vht=".speaker-column">
                            <div class="social-links vertical-align">
                                <a href="#"><i class="icon social_twitter" vht="parent"></i></a>
                                <a href="#"><i class="icon social_linkedin" vht="parent"></i></a>
                            </div>
                        </div>
                    </div>
                    <span class="speaker-name">{% trans 'Mike Parker' %}</span>
                    <span>{% trans 'Ad Man for AppSpinn' %}</span>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 speaker-column">
                <div class="speaker">
                    <div class="image-holder">
                        <img class="background-image" alt="Speaker" src="{% static 'main/img/speaker4.jpg' %}"
                             vht=".speaker-column">

                        <div class="hover-state text-center preserve3d" vht=".speaker-column">
                            <div class="social-links vertical-align">
                                <a href="#"><i class="icon social_twitter" vht="parent"></i></a>
                                <a href="#"><i class="icon social_linkedin" vht="parent"></i></a>
                            </div>
                        </div>
                    </div>
                    <span class="speaker-name">{% trans 'John Talabot' %}</span>
                    <span>{% trans 'Robotics at Cyberdyne' %}</span>
                </div>
            </div>
        </div>
    </div>
</section>