{% load static %}
{% load i18n %}

<section class="speakers duplicatable-content" parent-id="variant-members-2">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{% trans 'speakers'|capfirst %}</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="speaker-with-bio" vht="parent">
                    <div class="speaker">
                        <div class="image-holder">
                            <img class="background-image" alt="Speaker" src="{% static 'main/img/speaker1.jpg' %}"
                                 vht=".col-sm-12">

                            <div class="hover-state text-center preserve3d" vht=".col-sm-12">
                                <div class="social-links vertical-align">
                                    <a href="#"><i class="icon social_twitter" vht="parent"></i></a>
                                    <a href="#"><i class="icon social_linkedin" vht="parent"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="speaker-description">
                        <h2>{% trans 'Salem Marsden' %}</h2>
                        <span class="sub">{% trans 'The King of Capital' %}</span>

                        <p>
                            {% trans 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.' %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="speaker-with-bio" vht="parent">
                    <div class="speaker">
                        <div class="image-holder">
                            <img class="background-image" alt="Speaker" src="{% static 'main/img/speaker2.jpg' %}"
                                 vht=".col-sm-12">

                            <div class="hover-state text-center preserve3d" vht=".col-sm-12">
                                <div class="social-links vertical-align">
                                    <a href="#"><i class="icon social_twitter" vht="parent"></i></a>
                                    <a href="#"><i class="icon social_linkedin" vht="parent"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="speaker-description">
                        <h2>{% trans 'Toby Wallace' %}</h2>
                        <span class="sub">{% trans 'Wild Ideas Man' %}</span>

                        <p>
                            {% trans 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.' %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="speaker-with-bio" vht="parent">
                    <div class="speaker">
                        <div class="image-holder">
                            <img class="background-image" alt="Speaker" src="{% static 'main/img/speaker3.jpg' %}"
                                 vht=".col-sm-12">

                            <div class="hover-state text-center preserve3d" vht=".col-sm-12">
                                <div class="social-links vertical-align">
                                    <a href="#"><i class="icon social_twitter" vht="parent"></i></a>
                                    <a href="#"><i class="icon social_linkedin" vht="parent"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="speaker-description">
                        <h2>{% trans 'Simon Sesz' %}</h2>
                        <span class="sub">{% trans 'CEO of WhoDat' %}</span>

                        <p>
                            {% trans 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.' %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="speaker-with-bio" vht="parent">
                    <div class="speaker">
                        <div class="image-holder">
                            <img class="background-image" alt="Speaker" src="{% static 'main/img/speaker4.jpg' %}"
                                 vht=".col-sm-12">

                            <div class="hover-state text-center preserve3d" vht=".col-sm-12">
                                <div class="social-links vertical-align">
                                    <a href="#"><i class="icon social_twitter" vht="parent"></i></a>
                                    <a href="#"><i class="icon social_linkedin" vht="parent"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="speaker-description">
                        <h2>{% trans 'Pete Dunn' %}</h2>
                        <span class="sub">{% trans 'HR at CodeMogul' %}</span>

                        <p>
                            {% trans 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.' %}
                        </p>
                    </div>
                </div>
            </div>

        </div>


    </div>

</section>