{% load static %}
{% load i18n %}
<section class="sponsors" parent-id="variant-sponsors-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>{% trans  'Proudly sponsored by' %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 vjd">
                <div class="col-md-4 col-sm-6 sponsor-column">
                    <div class="sponsor text-center" vht=".sponsor-column">
                        <a href="#">
                            <img alt="Sponsor" src="{% static 'main/img/sponsor1.png' %} " vht=".sponsor-column">
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 sponsor-column">
                    <div class="sponsor text-center" vht=".sponsor-column">
                        <a href="#">
                            <img alt="Sponsor" src="{% static 'main/img/sponsor2.png' %} " vht=".sponsor-column">
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 sponsor-column">
                    <div class="sponsor text-center" vht=".sponsor-column">
                        <a href="#">
                            <img alt="Sponsor" src="{% static 'main/img/sponsor3.png' %} " vht=".sponsor-column">
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 sponsor-column">
                    <div class="sponsor text-center" vht=".sponsor-column">
                        <a href="#">
                            <img alt="Sponsor" src="{% static 'main/img/sponsor4.png' %} " vht=".sponsor-column">
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 sponsor-column">
                    <div class="sponsor text-center" vht=".sponsor-column">
                        <a href="#">
                            <img alt="Sponsor" src="{% static 'main/img/sponsor5.png' %} " vht=".sponsor-column">
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 sponsor-column">
                    <div class="sponsor text-center" vht=".sponsor-column">
                        <a href="#">
                            <img alt="Sponsor" src="{% static 'main/img/sponsor6.png' %} " vht=".sponsor-column">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <span>{% trans  'Interested in becoming a sponsor?' %} <a href="#">{% trans  'Get in touch' %}</a></span>
            </div>
        </div>
    </div>
</section>