{% load i18n %}
<section class="subscribe-2" parent-id="variant-subscribe-2"
         data-vip="{'buttonText':'{% trans  'Embed Mailing List Form' %}','modalTitle':'{% trans  'Embed Mailing List Signup Form' %}','modalIntro':'{% trans  'Copy the form code from your mailing list provider.  Currently Mailchimp and Campaign Monitor are supported.  The `Super Slim` form from Mailchimp best suits this section as it includes only the email field.' %}','modalInputLabel':'{% trans  'Form embed code' %}:','selector':'.mail-list-form','attribute':'srcdoc','refresh':'false'}">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <i class="icon pe-7s-pen"></i>
                <i class="icon pe-7s-mail-open-file"></i>
                <i class="icon pe-7s-paper-plane"></i>

                <h1 class="large-h1">{% trans  'Subscribe to stay informed' %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form class="email-subscribe mail-list-signup">
                    <div class="col-sm-7">
                        <input class="form-email signup-email-field" type="text"
                               placeholder="{% trans  'Enter your email address' %}"
                               data-vip="{'buttonText':'{% trans  'Edit Placeholder Text' %}','modalTitle':'{% trans  'Edit Placeholder Text' %}','modalIntro':'{% trans  'Enter text you want the user to see when field is empty.' %}','modalInputLabel':'{% trans  'Placeholder text' %}:','selector':'input','attribute':'placeholder','refresh':'false'}">
                    </div>

                    <div class="col-sm-5">
                        <input class="btn" type="submit" value="Subscribe"
                               data-vip="{'buttonText':'{% trans  'Edit Submit Button Text' %}','modalTitle':'{% trans  'Edit Submit Button Text' %}','modalIntro':'{% trans  'Enter text you want the user to see when field is empty.' %}','modalInputLabel':'Submit button text:','selector':'input','attribute':'value','refresh':'false'}">
                    </div>

                    <div class="col-sm-12 text-center">
                        <span>{% trans  '*We never share your email with 3rd parties' %}</span>
                    </div>
                    <iframe class="mail-list-form" srcdoc="">
                    </iframe>
                </form>
            </div>
        </div>
    </div>

</section>