{% load static %}
{% load i18n %}
<section class="subscribe-1" parent-id="variant-subscribe-1">
    <div class="background-image-holder parallax-background">
        <img class="background-image" alt="{% trans  'Background Image' %}" src="{% static 'main/img/hero4.jpg' %}">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="large-h1 text-white">{% trans  'Subscribe to stay informed' %}</h1>
            </div>
        </div>

        <div class="row"
             data-vip="{'buttonText':'{% trans  'Embed Mailing List Form' %}','modalTitle':'{% trans  'Embed Mailing List Signup Form' %}','modalIntro':'{% trans  'Copy the form code from your mailing list provider.  Currently Mailchimp and Campaign Monitor are supported.  The `Super Slim` form from Mailchimp best suits this section as it includes only the email field.' %}','modalInputLabel':'{% trans  'Form embed code' %}:','selector':'.mail-list-form','attribute':'srcdoc','refresh':'false'}">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form class="email-subscribe mail-list-signup">
                    <div class="col-sm-7">
                        <input class="form-email signup-email-field" type="text"
                               placeholder="{% trans  'Enter your email address' %}"
                               data-vip="{'buttonText':'{% trans  'Edit Placeholder Text' %}','modalTitle':'{% trans  'Edit Placeholder Text' %}','modalIntro':'{% trans  'Enter text you want the user to see when field is empty.' %}','modalInputLabel':'{% trans  'Placeholder text' %}:','selector':'input','attribute':'placeholder','refresh':'false'}">
                    </div>

                    <div class="col-sm-5">
                        <input class="btn" type="submit" value="Subscribe"
                               data-vip="{'buttonText':'{% trans  'Edit Submit Button Text' %}','modalTitle':'{% trans  'Edit Submit Button Text' %}','modalIntro':'{% trans  'Enter text you want the user to see when field is empty.' %}','modalInputLabel':'Submit button text:','selector':'input','attribute':'value','refresh':'false'}">
                    </div>

                    <div class="col-sm-12 text-center">
                        <span class="text-white">{% trans  '*We never share your email with 3rd parties' %}</span>
                    </div>
                    <iframe class="mail-list-form" srcdoc="">
                    </iframe>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center"
                 data-vip="{'buttonText':'{% trans  'Edit Twitter Feed' %}','modalTitle':'{% trans  'Edit Twitter Feed' %}','modalIntro':'{% trans  'Enter the widget ID that you retrieved from your Twitter URL. NOTE: You must first create a widget on your twitter settings page, visit the widget and copy the 18-digit id from the URL.' %}','modalInputLabel':'Widget ID:','selector':'.tweets-feed','attribute':'data-widget-id','refresh':'true'}">
                <div class="twitter-feed">
                    <i class="icon social_twitter text-white"></i>

                    <div class="tweets-feed" data-widget-id="492085717044981760">

                    </div>
                    <span class="text-white">{% trans  'Follow' %} <a href="#">@{{ event.nick }}</a> {% trans  'for more updates' %}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="footer">
                <div class="col-sm-12">
                    <div class="top-border"></div>
                </div>
                <div class="col-sm-3">
                    <span class="text-white">&copy; {% trans  'Copyright 2015 Eventus.' %}</span>
                </div>

                <div class="col-sm-9 text-right">
                    <ul class="menu">
                        <li><a href="#">{% trans  'Press' %}</a></li>
                        <li><a href="#">{% trans  'Terms of service' %}</a></li>
                        <li><a href="#">{% trans  'About' %}</a></li>
                        <li><a href="#">{% trans  'Contact' %}</a></li>
                        <li><a class="inner-link back-to-top" href="#top">{% trans  'Back To Top' %}&nbsp;<i
                                class="icon pe-7s-angle-up-circle"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>