{% load static %}
{% load i18n %}
<section class="image-with-text background-dark preserve-3d" parent-id="variant-image-block-1">

    <div class="container vertical-align">
        <div class="row">
            <div class="col-md-5 col-sm-7">
                <h1 class="text-white">{{ event.slogan }}</h1>

                <p class="lead text-white">
                    {{ event.description }}
                </p>
            </div>
        </div>
    </div>

    <div class="go-right side-image col-sm-4 col-md-6">
        <div class="background-image-holder">
            <img class="background-image" alt="{% trans 'About Image' %}" src="{% static 'main/img/lb4.jpg' %}">
        </div>
    </div>

</section>