{% load static %}
{% load i18n %}
<section class="hero-slider" parent-id="variant-video-header-1">
    <ul class="slides">
        <li class="video-header">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="{% trans  'Background Image' %}" src="{% static 'main/img/hero1.jpg' %}">
            </div>

            <div class="video-wrapper">
                <video autoplay="" muted="" loop="">
                    <source src="{% static 'main/video/video.webm' %}" type="video/webm">
                    </source>
                    <source src="{% static 'main/video/video.mp4' %}" type="video/mp4">
                    </source>
                    <source src="{% static 'main/video/video.ogv' %}" type="video/ogg">
                </video>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                        <img alt="Logo" class="" src="{% static 'main/img/tedxcharacato.png' %}">
                        <h1 class="large-h1 text-white text-title">{{ event.name }}</h1>

                        <span class="uppercase text-white">{{ event.start|date:'F d' }} - {{ event.address }}</span>

                        <h1 class="large-h1 text-white">{{ event.slogan}}</h1>

                        <a href="#" class="btn">{% trans 'Register Now' %}</a>
                        <a href="#" class="btn btn-hollow">{% trans 'Learn More' %}</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>