{% load static %}
{% load i18n %}
<section class="strip-divider primary-overlay" parent-id="variant-video-divider-1">
			<div class="background-image-holder parallax-background">
				<img class="background-image" alt="{% trans 'About Image' %}" src="http://38.media.tumblr.com/c0a5e2ff697195d3ea19bade2096e19c/tumblr_n9yapqbkvv1qfirfao1_1280.jpg">
			</div>
			
			<div class="video-wrapper">
				<video autoplay="" muted="" loop="">
					<source src="{% static 'main/video/video.webm'%}" type="video/webm"/>
                    <source src="{% static 'main/video/video.mp4'%}" type="video/mp4"/>
					<source src="{% static 'main/video/video.ogv'%}" type="video/ogg"/>
				</video>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1 class="text-white">{% trans 'Interested in speaking at' %} {{ event.nick }}? <a href="#">{% trans 'Get in touch' %}</a></h1>
					</div>
				</div>
			</div>
	</section>