{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'event/js/bootstrap-datepicker/css/datepicker-custom.css' %}"/>
<script type="text/javascript" src="{% static 'event/js/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script>
    $(function () {
        $('.default-date-picker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });
    });
</script>