{% load static %}
{#<link href="{% static 'event/js/iCheck/skins/minimal/minimal.css' %}" rel="stylesheet">#}
{#<link href="{% static 'event/js/iCheck/skins/minimal/red.css' %}" rel="stylesheet">#}
{#<link href="{% static 'event/js/iCheck/skins/minimal/green.css' %}" rel="stylesheet">#}
{#<link href="{% static 'event/js/iCheck/skins/minimal/blue.css' %}" rel="stylesheet">#}
{#<link href="{% static 'event/js/iCheck/skins/minimal/yellow.css' %}" rel="stylesheet">#}
{#<link href="{% static 'event/js/iCheck/skins/minimal/purple.css' %}" rel="stylesheet">#}
{##}
<link href="{% static 'event/js/iCheck/skins/square/square.css' %}" rel="stylesheet">
{#<link href="{% static 'event/js/iCheck/skins/square/red.css' %}" rel="stylesheet">#}
<link href="{% static 'event/js/iCheck/skins/square/green.css' %}" rel="stylesheet">
<link href="{% static 'event/js/iCheck/skins/square/blue.css' %}" rel="stylesheet">
{#<link href="{% static 'event/js/iCheck/skins/square/yellow.css' %}" rel="stylesheet">#}
{#<link href="{% static 'event/js/iCheck/skins/square/purple.css' %}" rel="stylesheet">#}


<script src="{% static 'event/js/iCheck/jquery.icheck.js' %}"></script>
<script src="{% static 'event/js/icheck-init.js' %}"></script>