{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'event/js/bootstrap-timepicker/css/timepicker.css' %} "/>
<script type="text/javascript" src="{% static 'event/js/bootstrap-timepicker/js/bootstrap-timepicker.js' %} "></script>
<script>
    $(function () {
        $('.timepicker-default').timepicker();
    });
</script>