<div class="nav-container">
    <nav class="vir vjs-1443843878000 overlay-nav" nav-id="variant-top-nav-1" vic="vjs-1443843878000">
        <div class="container vjs-1443843878000-0" vic="vjs-1443843878000-0">
            <div class="row vjs-1443843878000-1" vic="vjs-1443843878000-1">
                <div class="col-md-2 vjs-1443843878000-2" vic="vjs-1443843878000-2">
                    <img alt="Logo" class="logo logo-light vjs-1443843878000-3" src="/static/main/img/eventus-ligth.png"
                         vic="vjs-1443843878000-3">
                    <img alt="Logo" class="logo logo-dark vjs-1443843878000-4" src="/static/main/img/eventus-dark.png"
                         vic="vjs-1443843878000-4">
                </div>

                <div class="col-md-10 text-right vjs-1443843878000-5" vic="vjs-1443843878000-5">
                    <ul class="menu vjs-1443843878000-6" style="margin-right: 32px;" vic="vjs-1443843878000-6">
                        <li vic="vjs-1443843878000-7" class="vjs-1443843878000-7"><a
                                class="vjs-1443843878000-8 vir inner-link" href="#inicio" target="default"
                                vic="vjs-1443843878000-8" contenteditable="true">INICIo</a></li>
                        <li vic="vjs-1443843878000-9" class="vjs-1443843878000-9"><a
                                class="vjs-1443843878000-10 vir inner-link" href="#ponentes" target="default"
                                vic="vjs-1443843878000-10" contenteditable="true">PONENTES</a></li>
                        <li vic="vjs-1443843878000-11" class="vjs-1443843878000-11"><a
                                class="vjs-1443843878000-12 vir inner-link" href="#programa" target="default"
                                vic="vjs-1443843878000-12" contenteditable="true">PROGRAMA</a></li>
                        <li vic="vjs-1443843878000-13" class="vjs-1443843878000-13"><a
                                class="inner-link vjs-1443843878000-14 vir vib" href="#pricing" target="default"
                                vic="vjs-1443843878000-14" contenteditable="true">pricing</a></li>
                        <li vic="vjs-1443843878000-15" class="vjs-1443843878000-15"><a
                                class="vjs-1443843878000-16 vir inner-link" href="#formulario" target="default"
                                vic="vjs-1443843878000-16" contenteditable="true">regiStrO</a></li>
                        <li class="social-link vjs-1443843878000-17" vic="vjs-1443843878000-17"><a
                                href="http://twitter.com" vic="vjs-1443843878000-18" class="vjs-1443843878000-18 vir"
                                contenteditable="true" target="_blank"><i
                                class="icon social_twitter vjs-1443843878000-19" vic="vjs-1443843878000-19"></i></a>
                        </li>
                        <li class="social-link vjs-1443843878000-20" vic="vjs-1443843878000-20"><a
                                href="http://facebook.com" vic="vjs-1443843878000-21" class="vjs-1443843878000-21 vir"
                                contenteditable="true" target="_blank"><i
                                class="icon social_facebook vjs-1443843878000-22" vic="vjs-1443843878000-22"></i><i
                                class="icon social_facebook vjs-1444753983111 vib" vic="vjs-1444753983111"></i></a><a
                                href="facebook.com" vic="vjs-1444753998015" class="vir vjs-1444753998015 vib"
                                contenteditable="true" target="_blank"><i
                                class="icon social_facebook vjs-1444753998015-0" vic="vjs-1444753998015-0"></i><i
                                class="icon social_facebook vib vjs-1444753998015-1" vic="vjs-1444753998015-1"></i></a>
                        </li>
                        <li class="social-link instagram-toggle vjs-1443843878000-23 vib" vic="vjs-1443843878000-23"><a
                                href="#" class="instagram-toggle-init vjs-1443843878000-24 vir"
                                vic="vjs-1443843878000-24" contenteditable="true"><i
                                class="icon social_instagram vjs-1443843878000-25" vic="vjs-1443843878000-25"></i></a>
                        </li>
                    </ul>
                    <div class="sidebar-menu-toggle vjs-1443843878000-26" vic="vjs-1443843878000-26"><i vht="parent"
                                                                                                        class="icon icon_menu vjs-1443843878000-27"
                                                                                                        vjw=".sidebar-menu"
                                                                                                        vic="vjs-1443843878000-27"></i>
                    </div>
                    <div class="mobile-menu-toggle vjs-1443843878000-28" vic="vjs-1443843878000-28"><i vht="parent"
                                                                                                       class="icon icon_menu vjs-1443843878000-29"
                                                                                                       vic="vjs-1443843878000-29"></i>
                    </div>

                </div>
            </div>
        </div>

        <div class="bottom-border vjs-1443843878000-30" vic="vjs-1443843878000-30"></div>

        <div class="sidebar-menu vjs-1443843878000-31" vic="vjs-1443843878000-31">
            <img alt="Logo" class="logo vjs-1443843878000-32" src="/static/main/img/eventus-ligth.png"
                 vic="vjs-1443843878000-32">

            <div class="bottom-border vjs-1443843878000-33" vic="vjs-1443843878000-33"></div>
            <div class="sidebar-content vjs-1443843878000-34" vic="vjs-1443843878000-34">

                <div class="widget vjs-1443843878000-35" vic="vjs-1443843878000-35">
                    <ul class="menu vjs-1443843878000-36" vic="vjs-1443843878000-36">
                        <li vic="vjs-1443843878000-37" class="vjs-1443843878000-37"><a vht="parent"
                                                                                       class="inner-link vjs-1443843878000-38 vir"
                                                                                       href="#inicio"
                                                                                       vic="vjs-1443843878000-38"
                                                                                       contenteditable="true">Inicio</a>
                        </li>

                        <li vic="vjs-1443843878000-39" class="vjs-1443843878000-39"><a vht="parent"
                                                                                       class="vjs-1443843878000-40 vir inner-link"
                                                                                       href="#ponentes"
                                                                                       vic="vjs-1443843878000-40"
                                                                                       contenteditable="true"
                                                                                       target="default">ponentes</a>
                        </li>
                        <li vic="vjs-1443843878000-41" class="vjs-1443843878000-41"><a vht="parent"
                                                                                       class="vjs-1443843878000-42 vir inner-link"
                                                                                       href="#programa"
                                                                                       vic="vjs-1443843878000-42"
                                                                                       contenteditable="true"
                                                                                       target="default">Programa</a>
                        </li>
                        <li vic="vjs-1443843878000-43" class="vjs-1443843878000-43 vib"><a vht="parent"
                                                                                           class="inner-link vjs-1443843878000-44 vir"
                                                                                           href="#pricing"
                                                                                           vic="vjs-1443843878000-44"
                                                                                           contenteditable="true">Pricing</a>
                        </li>
                        <li vic="vjs-1443843878000-45" class="vjs-1443843878000-45"><a vht="parent"
                                                                                       class="vjs-1443843878000-46 vir inner-link"
                                                                                       href="#formulario"
                                                                                       vic="vjs-1443843878000-46"
                                                                                       contenteditable="true"
                                                                                       target="default">Registro</a>
                        </li>


                    </ul>
                </div>

                <div class="widget vjs-1443843878000-47" vic="vjs-1443843878000-47">
                    <ul class="social-profiles vjs-1443843878000-48" vic="vjs-1443843878000-48">
                        <li vic="vjs-1443843878000-49" class="vjs-1443843878000-49"><a href="http://twitter.com"
                                                                                       vic="vjs-1443843878000-50"
                                                                                       class="vjs-1443843878000-50 vir"
                                                                                       contenteditable="true"
                                                                                       target="_blank"><i vht="parent"
                                                                                                          class="icon social_twitter vjs-1443843878000-51"
                                                                                                          vic="vjs-1443843878000-51"></i></a>
                        </li>
                        <li vic="vjs-1443843878000-52" class="vjs-1443843878000-52"><a href="http://facebook.com"
                                                                                       vic="vjs-1443843878000-53"
                                                                                       class="vjs-1443843878000-53 vir"
                                                                                       contenteditable="true"
                                                                                       target="_self"><i vht="parent"
                                                                                                         class="icon social_facebook vjs-1443843878000-54"
                                                                                                         vic="vjs-1443843878000-54"></i></a>
                        </li>
                        <li vic="vjs-1443843878000-55" class="vjs-1443843878000-55"><a href="#"
                                                                                       vic="vjs-1443843878000-56"
                                                                                       class="vjs-1443843878000-56 vir vib"
                                                                                       contenteditable="true"><i
                                vht="parent" class="icon social_dribbble vjs-1443843878000-57"
                                vic="vjs-1443843878000-57"></i></a></li>
                        <li vic="vjs-1443843878000-58" class="vjs-1443843878000-58"><a href="#"
                                                                                       vic="vjs-1443843878000-59"
                                                                                       class="vjs-1443843878000-59 vir vib"
                                                                                       contenteditable="true"><i
                                vht="parent" class="icon social_instagram vjs-1443843878000-60"
                                vic="vjs-1443843878000-60"></i></a></li>
                        <li vic="vjs-1443843878000-61" class="vjs-1443843878000-61"><a href="#"
                                                                                       vic="vjs-1443843878000-62"
                                                                                       class="vjs-1443843878000-62 vir vib"
                                                                                       contenteditable="true"><i
                                vht="parent" class="icon social_googleplus vjs-1443843878000-63"
                                vic="vjs-1443843878000-63"></i></a></li>
                    </ul>
                </div>

                <div class="copy-text vjs-1443843878000-64" vic="vjs-1443843878000-64">
                    <span vic="vjs-1443843878000-65" class="vjs-1443843878000-65 vir" contenteditable="true">© Copyright 2015 eventus.</span>
                </div>
            </div>
        </div>

        <div class="instagram-sidebar vjs-1443843878000-66"
             data-vip="{&quot;buttonText&quot;:&quot;Edit Instagram Feed&quot;,&quot;modalTitle&quot;:&quot;Edit Instagram Feed&quot;,&quot;modalIntro&quot;:&quot;Enter the username for your desired Instagram feed.&quot;,&quot;modalInputLabel&quot;:&quot;Instagram username:&quot;,&quot;selector&quot;:&quot;.instafeed&quot;,&quot;attribute&quot;:&quot;data-user-name&quot;,&quot;refresh&quot;:&quot;true&quot;}"
             vic="vjs-1443843878000-66">
            <div class="instafeed vjs-1443843878000-67" data-user-name="insideenvato" vic="vjs-1443843878000-67">
                <ul vic="vjs-1443843878000-68" class="vjs-1443843878000-68"></ul>
            </div>
        </div>

    </nav>

</div>
<div class="main-container">
    <a id="inicio" class="in-page-link" vij="inicio" vik="variant-video-header-1-1444753452872"></a>
    <section class="hero-slider vjs-1444753452872 variant-video-header-1-1444753452872"
             parent-id="variant-video-header-1" vic="vjs-1444753452872">
        <ul class="slides vjs-1444753452872-0" vic="vjs-1444753452872-0">
            <li class="video-header vjs-1444753452872-1" vic="vjs-1444753452872-1">
                <div class="background-image-holder parallax-background vjs-1444753452872-2" vic="vjs-1444753452872-2">
                    <img class="background-image vjs-1444753452872-3" alt="Imagen de Fondo"
                         src="/static/main/img/hero1.jpg" vic="vjs-1444753452872-3">
                </div>

                <div class="video-wrapper vjs-1444753452872-4" vic="vjs-1444753452872-4">
                    <video autoplay="" muted="" loop="" vic="vjs-1444753452872-5" class="vjs-1444753452872-5">
                        <source src="/static/main/video/video.webm" type="video/webm">

                        <source src="/static/main/video/video.mp4" type="video/mp4">

                        <source src="/static/main/video/video.ogv" type="video/ogg">
                    </video>
                </div>

                <div class="container vjs-1444753452872-6" vic="vjs-1444753452872-6">
                    <div class="row vjs-1444753452872-7" vic="vjs-1444753452872-7">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center vjs-1444753452872-8"
                             vic="vjs-1444753452872-8">
                            <img alt="Logo" class="vjs-1444753452872-9" src="/static/main/img/eventus-ligth.png"
                                 vic="vjs-1444753452872-9">

                            <h1 class="large-h1 text-white text-title vjs-1444753452872-10 vir vib"
                                vic="vjs-1444753452872-10" contenteditable="true"></h1>

                            <span class="uppercase text-white vjs-1444753452872-11 vir" vic="vjs-1444753452872-11"
                                  contenteditable="true">Octubre 27 - Universidad Católica de Santa Maria</span>

                            <h1 class="large-h1 text-white vjs-1444753452872-12 vir" vic="vjs-1444753452872-12"
                                contenteditable="true">Vamos a hacer esa clase de videos emocionantes con todos, no
                                puedes perdertelo!</h1>

                            <a href="#formulario" class="btn vjs-1444753452872-13 vir inner-link"
                               vic="vjs-1444753452872-13" contenteditable="true" target="default">Registrar ahora</a>
                            <a href="#mas_info" class="btn btn-hollow vjs-1444753452872-14 vir inner-link"
                               vic="vjs-1444753452872-14" contenteditable="true" target="default">Ver mas</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <a id="mas_info" class="in-page-link" vij="mas_info" vik="variant-icon-list-1-1444753364899"></a>
    <section class="topics duplicatable-content vjs-1444753364899 variant-icon-list-1-1444753364899"
             parent-id="variant-icon-list-1" vic="vjs-1444753364899">

        <div class="container vjs-1444753364899-0" vic="vjs-1444753364899-0">
            <div class="row vjs-1444753364899-1" vic="vjs-1444753364899-1">
                <div class="col-sm-12 vjs-1444753364899-2" vic="vjs-1444753364899-2">
                    <h1 vic="vjs-1444753364899-3" class="vjs-1444753364899-3 vir" contenteditable="true">Sobre el
                        evento...</h1>
                </div>
            </div>

            <div class="row vjs-1444753364899-4" vic="vjs-1444753364899-4">
                <div class="col-md-4 col-sm-6 vjs-1444753364899-5" vic="vjs-1444753364899-5">
                    <div class="topic vjs-1444753364899-6" vht="parent" vic="vjs-1444753364899-6">
                        <i class="pe-7s-browser vjs-1444753364899-7" vic="vjs-1444753364899-7"></i>

                        <h3 vic="vjs-1444753364899-8" class="vjs-1444753364899-8 vir" contenteditable="true">PHP
                            Development</h3>

                        <p class="lead vjs-1444753364899-9 vir" vic="vjs-1444753364899-9" contenteditable="true">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem.
                        </p>
                        <ul class="ruled-list vjs-1444753364899-10" vic="vjs-1444753364899-10">
                            <li vic="vjs-1444753364899-11" class="vjs-1444753364899-11 vir" contenteditable="true">
                                Introduction to PHP
                            </li>
                            <li vic="vjs-1444753364899-12" class="vjs-1444753364899-12 vir" contenteditable="true">How
                                PHP changed the web
                            </li>
                            <li vic="vjs-1444753364899-13" class="vjs-1444753364899-13 vir" contenteditable="true">Why
                                developers love PHP
                            </li>
                            <li vic="vjs-1444753364899-14" class="vjs-1444753364899-14 vir" contenteditable="true">
                                Improving WordPress workflow
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 vjs-1444753364899-15" vic="vjs-1444753364899-15">
                    <div class="topic vjs-1444753364899-16" vht="parent" vic="vjs-1444753364899-16">
                        <i class="pe-7s-loop vjs-1444753364899-17" vic="vjs-1444753364899-17"></i>

                        <h3 vic="vjs-1444753364899-18" class="vjs-1444753364899-18 vir" contenteditable="true">PHP
                            Development</h3>

                        <p class="lead vjs-1444753364899-19 vir" vic="vjs-1444753364899-19" contenteditable="true">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem.
                        </p>
                        <ul class="ruled-list vjs-1444753364899-20" vic="vjs-1444753364899-20">
                            <li vic="vjs-1444753364899-21" class="vjs-1444753364899-21 vir" contenteditable="true">
                                Introduction to PHP
                            </li>
                            <li vic="vjs-1444753364899-22" class="vjs-1444753364899-22 vir" contenteditable="true">How
                                PHP changed the web
                            </li>
                            <li vic="vjs-1444753364899-23" class="vjs-1444753364899-23 vir" contenteditable="true">Why
                                developers love PHP
                            </li>
                            <li vic="vjs-1444753364899-24" class="vjs-1444753364899-24 vir" contenteditable="true">
                                Improving WordPress workflow
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 vjs-1444753364899-25" vic="vjs-1444753364899-25">
                    <div class="topic vjs-1444753364899-26" vht="parent" vic="vjs-1444753364899-26">
                        <i class="pe-7s-user vjs-1444753364899-27" vic="vjs-1444753364899-27"></i>

                        <h3 vic="vjs-1444753364899-28" class="vjs-1444753364899-28 vir" contenteditable="true">PHP
                            Development</h3>

                        <p class="lead vjs-1444753364899-29 vir" vic="vjs-1444753364899-29" contenteditable="true">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem.
                        </p>
                        <ul class="ruled-list vjs-1444753364899-30" vic="vjs-1444753364899-30">
                            <li vic="vjs-1444753364899-31" class="vjs-1444753364899-31 vir" contenteditable="true">
                                Introduction to PHP
                            </li>
                            <li vic="vjs-1444753364899-32" class="vjs-1444753364899-32 vir" contenteditable="true">How
                                PHP changed the web
                            </li>
                            <li vic="vjs-1444753364899-33" class="vjs-1444753364899-33 vir" contenteditable="true">Why
                                developers love PHP
                            </li>
                            <li vic="vjs-1444753364899-34" class="vjs-1444753364899-34 vir" contenteditable="true">
                                Improving WordPress workflow
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <a id="ponentes" class="in-page-link" vij="ponentes" vik="variant-members-1-1444753359106"></a>
    <section class="speakers duplicatable-content vjs-1444753359106 variant-members-1-1444753359106"
             vic="vjs-1444753359106">

        <div class="container vjs-1444753359106-0" vic="vjs-1444753359106-0">
            <div class="row vjs-1444753359106-1" vic="vjs-1444753359106-1">
                <div class="col-sm-12 vjs-1444753359106-2" vic="vjs-1444753359106-2">
                    <h1 vic="vjs-1444753359106-3" class="vjs-1444753359106-3 vir" contenteditable="true">Ponentes</h1>
                </div>
            </div>

            <div class="row speakers-row vjs-1444753359106-4" vic="vjs-1444753359106-4">
                <div class="col-md-3 col-sm-6 speaker-column vjs-1444753359106-5" vic="vjs-1444753359106-5">
                    <div class="speaker vjs-1444753359106-6" vic="vjs-1444753359106-6">
                        <div class="image-holder vjs-1444753359106-7" vic="vjs-1444753359106-7">
                            <img class="background-image vjs-1444753359106-8" alt="Speaker"
                                 src="/static/main/img/speaker1.jpg" vht=".speaker-column" vic="vjs-1444753359106-8">

                            <div class="hover-state text-center preserve3d vjs-1444753359106-9" vht=".speaker-column"
                                 vic="vjs-1444753359106-9">
                                <div class="social-links vertical-align vjs-1444753359106-10"
                                     vic="vjs-1444753359106-10">
                                    <a href="#" vic="vjs-1444753359106-11" class="vjs-1444753359106-11 vir"
                                       contenteditable="true"><i class="icon social_twitter vjs-1444753359106-12"
                                                                 vht="parent" vic="vjs-1444753359106-12"></i></a>
                                    <a href="#" vic="vjs-1444753359106-13" class="vjs-1444753359106-13 vir"
                                       contenteditable="true"><i class="icon social_linkedin vjs-1444753359106-14"
                                                                 vht="parent" vic="vjs-1444753359106-14"></i></a>
                                </div>
                            </div>
                        </div>
                        <span class="speaker-name vjs-1444753359106-15 vir" vic="vjs-1444753359106-15"
                              contenteditable="true">Joel Dupree</span>
                        <span vic="vjs-1444753359106-16" class="vjs-1444753359106-16 vir" contenteditable="true">CEO at Serv Inc.</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 speaker-column vjs-1444753359106-17" vic="vjs-1444753359106-17">
                    <div class="speaker vjs-1444753359106-18" vic="vjs-1444753359106-18">
                        <div class="image-holder vjs-1444753359106-19" vic="vjs-1444753359106-19">
                            <img class="background-image vjs-1444753359106-20" alt="Speaker"
                                 src="/static/main/img/speaker2.jpg" vht=".speaker-column" vic="vjs-1444753359106-20">

                            <div class="hover-state text-center preserve3d vjs-1444753359106-21" vht=".speaker-column"
                                 vic="vjs-1444753359106-21">
                                <div class="social-links vertical-align vjs-1444753359106-22"
                                     vic="vjs-1444753359106-22">
                                    <a href="#" vic="vjs-1444753359106-23" class="vjs-1444753359106-23 vir"
                                       contenteditable="true"><i class="icon social_twitter vjs-1444753359106-24"
                                                                 vht="parent" vic="vjs-1444753359106-24"></i></a>
                                    <a href="#" vic="vjs-1444753359106-25" class="vjs-1444753359106-25 vir"
                                       contenteditable="true"><i class="icon social_linkedin vjs-1444753359106-26"
                                                                 vht="parent" vic="vjs-1444753359106-26"></i></a>
                                </div>
                            </div>
                        </div>
                        <span class="speaker-name vjs-1444753359106-27 vir" vic="vjs-1444753359106-27"
                              contenteditable="true">Harry Brown</span>
                        <span vic="vjs-1444753359106-28" class="vjs-1444753359106-28 vir" contenteditable="true">Creative at large</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 speaker-column vjs-1444753359106-29" vic="vjs-1444753359106-29">
                    <div class="speaker vjs-1444753359106-30" vic="vjs-1444753359106-30">
                        <div class="image-holder vjs-1444753359106-31" vic="vjs-1444753359106-31">
                            <img class="background-image vjs-1444753359106-32" alt="Speaker"
                                 src="/static/main/img/speaker3.jpg" vht=".speaker-column" vic="vjs-1444753359106-32">

                            <div class="hover-state text-center preserve3d vjs-1444753359106-33" vht=".speaker-column"
                                 vic="vjs-1444753359106-33">
                                <div class="social-links vertical-align vjs-1444753359106-34"
                                     vic="vjs-1444753359106-34">
                                    <a href="#" vic="vjs-1444753359106-35" class="vjs-1444753359106-35 vir"
                                       contenteditable="true"><i class="icon social_twitter vjs-1444753359106-36"
                                                                 vht="parent" vic="vjs-1444753359106-36"></i></a>
                                    <a href="#" vic="vjs-1444753359106-37" class="vjs-1444753359106-37 vir"
                                       contenteditable="true"><i class="icon social_linkedin vjs-1444753359106-38"
                                                                 vht="parent" vic="vjs-1444753359106-38"></i></a>
                                </div>
                            </div>
                        </div>
                        <span class="speaker-name vjs-1444753359106-39 vir" vic="vjs-1444753359106-39"
                              contenteditable="true">Mike Parker</span>
                        <span vic="vjs-1444753359106-40" class="vjs-1444753359106-40 vir" contenteditable="true">Ad Man for AppSpinn</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 speaker-column vjs-1444753359106-41" vic="vjs-1444753359106-41">
                    <div class="speaker vjs-1444753359106-42" vic="vjs-1444753359106-42">
                        <div class="image-holder vjs-1444753359106-43" vic="vjs-1444753359106-43">
                            <img class="background-image vjs-1444753359106-44" alt="Speaker"
                                 src="/static/main/img/speaker4.jpg" vht=".speaker-column" vic="vjs-1444753359106-44">

                            <div class="hover-state text-center preserve3d vjs-1444753359106-45" vht=".speaker-column"
                                 vic="vjs-1444753359106-45">
                                <div class="social-links vertical-align vjs-1444753359106-46"
                                     vic="vjs-1444753359106-46">
                                    <a href="#" vic="vjs-1444753359106-47" class="vjs-1444753359106-47 vir"
                                       contenteditable="true"><i class="icon social_twitter vjs-1444753359106-48"
                                                                 vht="parent" vic="vjs-1444753359106-48"></i></a>
                                    <a href="#" vic="vjs-1444753359106-49" class="vjs-1444753359106-49 vir"
                                       contenteditable="true"><i class="icon social_linkedin vjs-1444753359106-50"
                                                                 vht="parent" vic="vjs-1444753359106-50"></i></a>
                                </div>
                            </div>
                        </div>
                        <span class="speaker-name vjs-1444753359106-51 vir" vic="vjs-1444753359106-51"
                              contenteditable="true">John Talabot</span>
                        <span vic="vjs-1444753359106-52" class="vjs-1444753359106-52 vir" contenteditable="true">Robotics at Cyberdyne</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a id="programa" class="in-page-link" vij="programa" vik="variant-schedule-2-1444753384934"></a>
    <section class="schedule schedule-with-text vjs-1444753384934 variant-schedule-2-1444753384934"
             parent-id="variant-schedule-2" vic="vjs-1444753384934">
        <div class="container vjs-1444753384934-0" vic="vjs-1444753384934-0">
            <div class="row vjs-1444753384934-1" vic="vjs-1444753384934-1">
                <div class="col-md-5 col-sm-6 vjs-1444753384934-2" vic="vjs-1444753384934-2">
                    <h1 vic="vjs-1444753384934-3" class="vjs-1444753384934-3 vir" contenteditable="true">Programa</h1>

                    <p vic="vjs-1444753384934-4" class="vjs-1444753384934-4 vir" contenteditable="true">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                        provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
                        dolorum fuga.
                    </p>

                    <a href="#formulario" class="btn vjs-1444753384934-5 vir inner-link" vic="vjs-1444753384934-5"
                       contenteditable="true" target="default">Registrarse</a>

                </div>

                <div class="col-md-7 col-sm-6 vjs-1444753384934-6" vic="vjs-1444753384934-6">
                    <ul class="schedule-overview vjs-1444753384934-7" vic="vjs-1444753384934-7">
                        <li vic="vjs-1444753384934-8" class="vjs-1444753384934-8 vir" contenteditable="true">
                            <div class="schedule-title vjs-1444753384934-9" vic="vjs-1444753384934-9">
                                <span class="time vjs-1444753384934-10 vir" vic="vjs-1444753384934-10"
                                      contenteditable="true">9:30am - 11:30am</span>
                                <span class="title vjs-1444753384934-11 vir" vic="vjs-1444753384934-11"
                                      contenteditable="true">Welcome &amp; Registration</span>
                            </div>

                            <div class="schedule-text vjs-1444753384934-12" vic="vjs-1444753384934-12">
                                <p vic="vjs-1444753384934-13" class="vjs-1444753384934-13 vir" contenteditable="true">
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                    praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                    excepturi sint occaecati cupiditate non provident.
                                </p>
                            </div>

                            <div class="marker-pin vjs-1444753384934-14" vic="vjs-1444753384934-14">
                                <div class="top vjs-1444753384934-15" vic="vjs-1444753384934-15"></div>
                                <div class="middle vjs-1444753384934-16" vic="vjs-1444753384934-16"></div>
                                <div class="bottom vjs-1444753384934-17" vic="vjs-1444753384934-17"></div>
                            </div>
                        </li>

                        <li vic="vjs-1444753384934-18" class="vjs-1444753384934-18 vir" contenteditable="true">
                            <div class="schedule-title vjs-1444753384934-19" vic="vjs-1444753384934-19">
                                <span class="time vjs-1444753384934-20 vir" vic="vjs-1444753384934-20"
                                      contenteditable="true">11:30am - 1pm</span>
                                <span class="title vjs-1444753384934-21 vir" vic="vjs-1444753384934-21"
                                      contenteditable="true">Improving WordPress Workflow</span>
                            </div>

                            <div class="schedule-text vjs-1444753384934-22" vic="vjs-1444753384934-22">
                                <p vic="vjs-1444753384934-23" class="vjs-1444753384934-23 vir" contenteditable="true">
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                    praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                    excepturi sint occaecati cupiditate non provident.
                                </p>
                            </div>

                            <div class="marker-pin vjs-1444753384934-24" vic="vjs-1444753384934-24">
                                <div class="top vjs-1444753384934-25" vic="vjs-1444753384934-25"></div>
                                <div class="middle vjs-1444753384934-26" vic="vjs-1444753384934-26"></div>
                                <div class="bottom vjs-1444753384934-27" vic="vjs-1444753384934-27"></div>
                            </div>
                        </li>

                        <li vic="vjs-1444753384934-28" class="vjs-1444753384934-28 vir" contenteditable="true">
                            <div class="schedule-title vjs-1444753384934-29" vic="vjs-1444753384934-29">
                                <span class="time vjs-1444753384934-30 vir" vic="vjs-1444753384934-30"
                                      contenteditable="true">1pm - 2pm</span>
                                <span class="title vjs-1444753384934-31 vir" vic="vjs-1444753384934-31"
                                      contenteditable="true">Catered Lunch</span>
                            </div>

                            <div class="schedule-text vjs-1444753384934-32" vic="vjs-1444753384934-32">
                                <p vic="vjs-1444753384934-33" class="vjs-1444753384934-33 vir" contenteditable="true">
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                    praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                    excepturi sint occaecati cupiditate non provident.
                                </p>
                            </div>

                            <div class="marker-pin vjs-1444753384934-34" vic="vjs-1444753384934-34">
                                <div class="top vjs-1444753384934-35" vic="vjs-1444753384934-35"></div>
                                <div class="middle vjs-1444753384934-36" vic="vjs-1444753384934-36"></div>
                                <div class="bottom vjs-1444753384934-37" vic="vjs-1444753384934-37"></div>
                            </div>
                        </li>

                        <li vic="vjs-1444753384934-38" class="vjs-1444753384934-38 vir" contenteditable="true">
                            <div class="schedule-title vjs-1444753384934-39" vic="vjs-1444753384934-39">
                                <span class="time vjs-1444753384934-40 vir" vic="vjs-1444753384934-40"
                                      contenteditable="true">2pm - 3:30pm</span>
                                <span class="title vjs-1444753384934-41 vir" vic="vjs-1444753384934-41"
                                      contenteditable="true">Advanced MySQL Usage</span>
                            </div>

                            <div class="schedule-text vjs-1444753384934-42" vic="vjs-1444753384934-42">
                                <p vic="vjs-1444753384934-43" class="vjs-1444753384934-43 vir" contenteditable="true">
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                    praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                    excepturi sint occaecati cupiditate non provident.
                                </p>
                            </div>

                            <div class="marker-pin vjs-1444753384934-44" vic="vjs-1444753384934-44">
                                <div class="top vjs-1444753384934-45" vic="vjs-1444753384934-45"></div>
                                <div class="middle vjs-1444753384934-46" vic="vjs-1444753384934-46"></div>
                                <div class="bottom vjs-1444753384934-47" vic="vjs-1444753384934-47"></div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <a id="auspiciadores" class="in-page-link" vij="auspiciadores" vik="variant-sponsors-1-1444753552371"></a>
    <section class="sponsors vjs-1444753552371 variant-sponsors-1-1444753552371" parent-id="variant-sponsors-1"
             vic="vjs-1444753552371">
        <div class="container vjs-1444753552371-0" vic="vjs-1444753552371-0">
            <div class="row vjs-1444753552371-1" vic="vjs-1444753552371-1">
                <div class="col-sm-12 text-center vjs-1444753552371-2" vic="vjs-1444753552371-2">
                    <h1 vic="vjs-1444753552371-3" class="vjs-1444753552371-3 vir" contenteditable="true">Orgullosamente
                        auspiciados por</h1>
                </div>
            </div>

            <div class="row vjs-1444753552371-4" vic="vjs-1444753552371-4">
                <div class="col-sm-10 col-sm-offset-1 vjd vjs-1444753552371-5" vic="vjs-1444753552371-5">
                    <div class="col-md-4 col-sm-6 sponsor-column vjs-1444753552371-6" vic="vjs-1444753552371-6">
                        <div class="sponsor text-center vjs-1444753552371-7" vht=".sponsor-column"
                             vic="vjs-1444753552371-7">
                            <a href="#" vic="vjs-1444753552371-8" class="vjs-1444753552371-8 vir"
                               contenteditable="true">
                                <img alt="Sponsor" src="/static/main/img/sponsor1.png " vht=".sponsor-column"
                                     vic="vjs-1444753552371-9" class="vjs-1444753552371-9">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 sponsor-column vjs-1444753552371-10" vic="vjs-1444753552371-10">
                        <div class="sponsor text-center vjs-1444753552371-11" vht=".sponsor-column"
                             vic="vjs-1444753552371-11">
                            <a href="#" vic="vjs-1444753552371-12" class="vjs-1444753552371-12 vir"
                               contenteditable="true">
                                <img alt="Sponsor" src="/static/main/img/sponsor2.png " vht=".sponsor-column"
                                     vic="vjs-1444753552371-13" class="vjs-1444753552371-13">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 sponsor-column vjs-1444753552371-14" vic="vjs-1444753552371-14">
                        <div class="sponsor text-center vjs-1444753552371-15" vht=".sponsor-column"
                             vic="vjs-1444753552371-15">
                            <a href="#" vic="vjs-1444753552371-16" class="vjs-1444753552371-16 vir"
                               contenteditable="true">
                                <img alt="Sponsor" src="/static/main/img/sponsor3.png " vht=".sponsor-column"
                                     vic="vjs-1444753552371-17" class="vjs-1444753552371-17">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 sponsor-column vjs-1444753552371-18" vic="vjs-1444753552371-18">
                        <div class="sponsor text-center vjs-1444753552371-19" vht=".sponsor-column"
                             vic="vjs-1444753552371-19">
                            <a href="#" vic="vjs-1444753552371-20" class="vjs-1444753552371-20 vir"
                               contenteditable="true">
                                <img alt="Sponsor" src="/static/main/img/sponsor4.png " vht=".sponsor-column"
                                     vic="vjs-1444753552371-21" class="vjs-1444753552371-21">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 sponsor-column vjs-1444753552371-22" vic="vjs-1444753552371-22">
                        <div class="sponsor text-center vjs-1444753552371-23" vht=".sponsor-column"
                             vic="vjs-1444753552371-23">
                            <a href="#" vic="vjs-1444753552371-24" class="vjs-1444753552371-24 vir"
                               contenteditable="true">
                                <img alt="Sponsor" src="/static/main/img/sponsor5.png " vht=".sponsor-column"
                                     vic="vjs-1444753552371-25" class="vjs-1444753552371-25">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 sponsor-column vjs-1444753552371-26" vic="vjs-1444753552371-26">
                        <div class="sponsor text-center vjs-1444753552371-27" vht=".sponsor-column"
                             vic="vjs-1444753552371-27">
                            <a href="#" vic="vjs-1444753552371-28" class="vjs-1444753552371-28 vir"
                               contenteditable="true">
                                <img alt="Sponsor" src="/static/main/img/sponsor6.png " vht=".sponsor-column"
                                     vic="vjs-1444753552371-29" class="vjs-1444753552371-29">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row vjs-1444753552371-30" vic="vjs-1444753552371-30">
                <div class="col-sm-12 text-center vjs-1444753552371-31" vic="vjs-1444753552371-31">
                    <span vic="vjs-1444753552371-32" class="vjs-1444753552371-32 vir" contenteditable="true">Interesado en ser auspiciador? <a
                            href="#" vic="vjs-1444753552371-33" class="vjs-1444753552371-33 vir" contenteditable="true">Get
                        in touch</a></span>
                </div>
            </div>
        </div>
    </section>
    <a id="formulario" class="in-page-link" vij="formulario" vik="variant-register-1-1444753773241"></a>
    <section class="image-with-text background-dark preserve-3d vjs-1444753773241 variant-register-1-1444753773241"
             parent-id="variant-register-1" vic="vjs-1444753773241">

        <div class="container vertical-align vjs-1444753773241-0" vic="vjs-1444753773241-0">
            <div class="row vjs-1444753773241-1" vic="vjs-1444753773241-1">
                <div class="col-md-5 col-sm-8 vjs-1444753773241-2" vic="vjs-1444753773241-2">
                    <h1 class="text-white vjs-1444753773241-3 vir" vic="vjs-1444753773241-3" contenteditable="true">
                        Registrate ahora!</h1>


                    <form class="register email-form" action="/EVENT_NICK/register/" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="q4GKbX9uAfl2WwEEIrxQ38gss0bEttv0"
                               vic="vjs-1444753773241-4" class="vjs-1444753773241-4">
                        <input type="hidden" id="id_fbId" name="id" vic="vjs-1444753773241-5"
                               class="vjs-1444753773241-5">

                        <div class="col-sm-6 vjs-1444753773241-6" vic="vjs-1444753773241-6">
                            <input class="form-name validate-required vjs-1444753773241-7" type="text"
                                   placeholder="Name" name="first_name" id="id_firstName"
                                   data-vip="{'buttonText':'Edit Placeholder Text','modalTitle':'Edit Placeholder Text','modalIntro':'Enter text you want the user to see when field is empty.','modalInputLabel':'Placeholder text:','selector':'input','attribute':'placeholder','refresh':'false'}"
                                   vic="vjs-1444753773241-7">
                        </div>
                        <div class="col-sm-6 vjs-1444753773241-8" vic="vjs-1444753773241-8">
                            <input class="form-name validate-required vjs-1444753773241-9" type="text"
                                   placeholder="Last Name" name="last_name" id="id_lastName"
                                   data-vip="{'buttonText':'Edit Placeholder Text','modalTitle':'Edit Placeholder Text','modalIntro':'Enter text you want the user to see when field is empty.','modalInputLabel':'Placeholder text:','selector':'input','attribute':'placeholder','refresh':'false'}"
                                   vic="vjs-1444753773241-9">
                        </div>
                        <div class="col-sm-6 vjs-1444753773241-10" vic="vjs-1444753773241-10">
                            <input class="form-email validate-email vjs-1444753773241-11" type="text"
                                   placeholder="Email Address" name="email" id="id_email"
                                   data-vip="{'buttonText':'Edit Placeholder Text','modalTitle':'Edit Placeholder Text','modalIntro':'Enter text you want the user to see when field is empty.','modalInputLabel':'Placeholder text:','selector':'input','attribute':'placeholder','refresh':'false'}"
                                   vic="vjs-1444753773241-11">
                        </div>
                        <div class="col-sm-6 vjs-1444753773241-12" vic="vjs-1444753773241-12">
                            <input class="form-phone vjs-1444753773241-13" type="text" placeholder="Phone Number"
                                   name="phone"
                                   data-vip="{'buttonText':'Edit Placeholder Text','modalTitle':'Edit Placeholder Text','modalIntro':'Enter text you want the user to see when field is empty.','modalInputLabel':'Placeholder text:','selector':'input','attribute':'placeholder','refresh':'false'}"
                                   vic="vjs-1444753773241-13">
                        </div>
                        <div class="col-sm-6 vjs-1444753773241-14" vic="vjs-1444753773241-14">
                            <div class="select-holder vjs-1444753773241-15" vic="vjs-1444753773241-15">
                                <select class="form-selection" name="ticket_id" id="ticket_id">
                                    <option value="" selected="selected">select a ticket</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6 vjs-1444753773241-16" vic="vjs-1444753773241-16">
                            <input type="button" value="Register with facebook"
                                   class="btn btn-blue btn-face vjs-1444753773241-17"
                                   onclick="fb_login(showRegisterForm)" vic="vjs-1444753773241-17">
                            <input type="submit" value="Register Now" class="btn btn-submit hide vjs-1444753773241-18"
                                   data-vip="{'buttonText':'Edit Submit Button Text','modalTitle':'Edit Submit Button Text','modalIntro':'Enter text you want the user to see when field is empty.','modalInputLabel':'Submit button text:','selector':'input','attribute':'value','refresh':'false'}"
                                   vic="vjs-1444753773241-18">

                        </div>

                        <div class="col-sm-12 vjs-1444753773241-19" vic="vjs-1444753773241-19">
                            <span vic="vjs-1444753773241-20" class="vjs-1444753773241-20 vir" contenteditable="true">* estamos usando el 100% de seguridad en tu inscripción</span>

                            <div class="form-success vjs-1444753773241-21" vic="vjs-1444753773241-21"><span
                                    vic="vjs-1444753773241-22" class="vjs-1444753773241-22 vir" contenteditable="true">Thank you, your registration has been received!</span>
                            </div>
                            <div class="form-error vjs-1444753773241-23" vic="vjs-1444753773241-23"><span
                                    vic="vjs-1444753773241-24" class="vjs-1444753773241-24 vir" contenteditable="true">Validation error, please check all fields</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="go-right side-image col-sm-4 col-md-6 vjs-1444753773241-25" vic="vjs-1444753773241-25">
            <div class="background-image-holder vjs-1444753773241-26" vic="vjs-1444753773241-26">
                <img class="background-image vjs-1444753773241-27" alt="About Image" src="/static/main//img/side2.jpg"
                     vic="vjs-1444753773241-27">
            </div>
        </div>

    </section>
</div>
<div class="footer-container">

    <footer class="short footer vir">
        <div class="container vjs-1443844746919-0" vic="vjs-1443844746919-0">
            <div class="row vjs-1443844746919-1" vic="vjs-1443844746919-1">
                <div class="col-sm-3 vjs-1443844746919-2" vic="vjs-1443844746919-2">
                    <span class="text-white vjs-1443844746919-3 vir" vic="vjs-1443844746919-3" contenteditable="true">© Copyright 2015 eventus.</span>
                </div>

                <div class="col-sm-9 text-right vjs-1443844746919-4" vic="vjs-1443844746919-4">
                    <ul class="menu vjs-1443844746919-5" vic="vjs-1443844746919-5">
                        <li vic="vjs-1443844746919-6" class="vjs-1443844746919-6 vir" contenteditable="true"><a href="#"
                                                                                                                vic="vjs-1443844746919-7"
                                                                                                                class="vjs-1443844746919-7 vir"
                                                                                                                contenteditable="true">Press</a>
                        </li>
                        <li vic="vjs-1443844746919-8" class="vjs-1443844746919-8 vir" contenteditable="true"><a href="#"
                                                                                                                vic="vjs-1443844746919-9"
                                                                                                                class="vjs-1443844746919-9 vir"
                                                                                                                contenteditable="true">Terms
                            of service</a></li>
                        <li vic="vjs-1443844746919-10" class="vjs-1443844746919-10 vir" contenteditable="true"><a
                                href="#" vic="vjs-1443844746919-11" class="vjs-1443844746919-11 vir"
                                contenteditable="true">About</a></li>
                        <li vic="vjs-1443844746919-12" class="vjs-1443844746919-12 vir" contenteditable="true"><a
                                href="#" vic="vjs-1443844746919-13" class="vjs-1443844746919-13 vir"
                                contenteditable="true">Contact</a></li>
                        <li vic="vjs-1443844746919-14" class="vjs-1443844746919-14 vir" contenteditable="true"><a
                                class="inner-link back-to-top vjs-1443844746919-15 vir" href="#top"
                                vic="vjs-1443844746919-15" contenteditable="true">Back To Top&nbsp;<i
                                class="icon pe-7s-angle-up-circle vjs-1443844746919-16" vic="vjs-1443844746919-16"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
</div>
