<div class="vaa data-vfs="
     variant-video-header-1="" vbq="variant-video-header-1-1444753452872" style="position: relative; opacity: 1; z-index: 0;">
<div class="vab"><span class="vhz" contenteditable="true">inicio</span></div><i
        class="vca variant-icon variant-close-circle" vbq="variant-video-header-1-1444753452872"></i></div>
<div class="vaa data-vfs="
     variant-icon-list-1="" vbq="variant-icon-list-1-1444753364899" style="position: relative; opacity: 1; z-index: 0;">
<div class="vab"><span class="vhz" contenteditable="true">mas_info</span></div><i
        class="vca variant-icon variant-close-circle" vbq="variant-icon-list-1-1444753364899"></i></div>
<div class="vaa data-vfs=" variant-members-1="" vbq="variant-members-1-1444753359106">
<div class="vab"><span class="vhz" contenteditable="true">ponentes</span></div><i
        class="vca variant-icon variant-close-circle" vbq="variant-members-1-1444753359106"></i></div>
<div class="vaa data-vfs=" variant-schedule-2="" vbq="variant-schedule-2-1444753384934">
<div class="vab"><span class="vhz" contenteditable="true">programa</span></div><i
        class="vca variant-icon variant-close-circle" vbq="variant-schedule-2-1444753384934"></i></div>
<div class="vaa data-vfs=" variant-sponsors-1="" vbq="variant-sponsors-1-1444753552371">
<div class="vab"><span class="vhz" contenteditable="true">auspiciadores</span></div><i
        class="vca variant-icon variant-close-circle" vbq="variant-sponsors-1-1444753552371"></i></div>
<div class="vaa data-vfs=" variant-register-1="" vbq="variant-register-1-1444753773241">
<div class="vab"><span class="vhz" contenteditable="true">formulario<br></span></div><i
        class="vca variant-icon variant-close-circle" vbq="variant-register-1-1444753773241"></i></div>