{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Eventus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'main/pivot/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'main/pivot/css/flexslider.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'main/pivot/css/elegant-icons.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'main/pivot/css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'main/pivot/css/line-icons.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'main/pivot/css/theme.css' %}" rel="stylesheet" type="text/css" media="all"/>
{#    <link href="{% static 'main/variant/theme/css/theme-lava.css' %}" rel="stylesheet" type="text/css" media="all"/>#}
    <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="{% static 'main/pivot/css/ie9.css' %}" />
		<![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700'
          rel='stylesheet' type='text/css'>
    <script src="{% static 'main/pivot/js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    <style>
        .video-header:before {
            background-color: #000;
            opacity: 0.5;
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            z-index: 1;
            top: 0px;
        }
    </style>
</head>
<body>
<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<div class="nav-container">

    <nav class="top-bar overlay-bar offscreen-menu">
        <div class="container">

            <div class="row nav-menu clearfix">
                <div class="col-sm-2 col-xs-6">
                    <a>
                        <img class="logo logo-light" alt="Logo" src="{% static 'main/img/eventus-ligth.png' %}">
                        <img class="logo logo-dark" alt="Logo" src="{% static 'main/img/eventus-dark.png' %}">
                    </a>
                </div>
                <div class="col-sm-10 col-xs-6 columns">
                    <ul class="social-icons text-right">
                        <li>
                            {% if user.is_authenticated %}
                                <a>
                                    <i class="icon social_twitter"></i> hola {{ request.user.first_name }}
                                </a>
                                |
                                <a href="{% url 'accounts:logout' %}">
                                    salir
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of row-->

            <div class="row">
                <div class="col-sm-12">
                    <hr class="no-margin">
                </div>
            </div>
            <!--end of row-->

        </div>
        <!--end of container-->
    </nav>


</div>
<div class="main-container">
    <header class="fullscreen-element no-pad centered-text  variant-hero-header-1-1439793054856"
            style="height: 731px;">
        <div class="background-image-holder parallax-background overlay "
             data-bottom-top="-webkit-transform: translate3d(0px,-100px, 0px)"
             data-center="-webkit-transform: translate3d(0px,0px, 0px)"
             data-top-bottom="-webkit-transform: translate3d(0px,100px, 0px)"
             style="background: url(http://pivot.mediumra.re/img/hero7.jpg) 50% 0%;">
            <img class="background-image " alt="{% trans  'Background Image' %}"
                 src="{% static 'main/img/hero9.jpg' %}" style="display: none;">
        </div>

        <div class="container align-vertical "
             style="padding-top: 225.666664123535px;">
            <div class="row  ui-sortable">
                <div class="col-md-12 text-center ">
                    <span class="text-white alt-font  vir"
                            >Bienvenido a &nbsp;EVENTUS</span>

                    <h1 class="text-white  vir">La herramienta ideal para la promoción y gestión &nbsp;<br>de tus eventos&nbsp;ha llegado</h1>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'show_panel' %}" class="btn btn-primary btn-filled">Ir a panel</a>
                    {% else %}
                        <a href="#" onclick="fb_login(afterFb_me)" class="btn btn-primary btn-white">Facebook</a>
                        <a class="btn btn-primary btn-filled  vir" href="#" onclick="fb_login(afterFb_me)">Registrarse</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <section class="pure-text-contact  variant-contact-5-1440659634058">
        <div class="container ">
            <div class="row  ui-sortable">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center ">
{#                    <span class="sub alt-font  vir vib">We are accepting clients</span>#}

                    <h1 class=" vir"><strong
                            class=" vir">Eventus es
                        marketing inteligente para tu evento, y la única plataforma que te permite ...</strong></h1>
                    <i class="icon icon-map icon-jumbo vib"></i>
                    <i class="icon icon-bike icon-jumbo vib"></i>
                    <i class="icon icon-streetsign icon-jumbo vib"></i>
                </div>
            </div>

        </div>
    </section>
    <section class="product-right  variant-product-header-1-1439793406732">

        <div class="background-image-holder "
             style="background: url(http://pivot.mediumra.re/img/grey-bg.jpg) 50% 0%;">
            <img class="background-image " alt="{% trans  'Background Image' %}"
                 src="{% static 'main/img/grey-bg.jpg' %}"
                 vic=" " style="display: none;">
        </div>

        <div class="container align-vertical " style="padding-top: 204px;">
            <div class="row  ui-sortable">
                <div class="col-md-5 col-sm-6 ">
                    <h1 class=" vir">Crear paginas
                        web como un profesional en minutos&nbsp;</h1>

                    <p class="lead  vir">Utiliza
                        nuestro increíble diseñador web y comienza a crear paginas web con diseños profesionales con
                        solo subir fotos, mover y arrastrar.&nbsp;</p>
                    <a class="btn btn-primary  vir vib"  href="#" onclick="fb_login(afterFb_me)" >Ver demo</a>
                    <a class="btn btn-primary btn-filled  vir vib"  href="#" onclick="fb_login(afterFb_me)" >Comprar</a>
                </div>
            </div>
        </div>

        <div class="product-image " data-scroll-reveal="enter right and move 100px"
                >
            <img class="" alt="Product Image" src="{% static 'main/img/ipad2.png' %}"
                    >
        </div>

    </section>
    <section
            class="image-divider overlay duplicatable-content  variant-large-icon-features-2-1440658099769"
            >
        <div class="background-image-holder parallax-background "
             data-bottom-top="-webkit-transform: translate3d(0px,-100px, 0px)"
             data-center="-webkit-transform: translate3d(0px,0px, 0px)"
             data-top-bottom="-webkit-transform: translate3d(0px,100px, 0px)"
             style="background: url(http://pivot.mediumra.re/img/hero6.jpg) 50% 0%;">
            <img class="background-image " alt="{% trans  'Background Image' %}"
                 src="{% static 'main/img/hero10.jpg' %}" style="display: none;">
        </div>

        <div class="container ">
            <div class="row  ui-sortable">
                <div class="col-sm-8 col-sm-offset-2 text-center ">
                    <span class="text-white alt-font  vir vib"
                            >Check this out</span>

                    <h1 class="text-white  vir">
                        Conectar de una forma diferente</h1>
                </div>
            </div>

            <div class="row  ui-sortable">
                <div class="col-sm-4 ">
                    <div class="feature feature-icon-large " vht="parent">
                        <i class="text-white icon  icon-megaphone"></i>
                        <h5 class="text-white  vir"
                                >Envia invitaciones</h5>

                        <p class="text-white  vir"
                                >Utiliza nuestras increíbles herramientas de e-mailing y comienza a
                            contactarte con futuros clientes de una forma mas cercana.</p>
                    </div>
                </div>

                <div class="col-sm-4 ">
                    <div class="feature feature-icon-large " vht="parent"
                            >
                        <i class="text-white icon  icon-clipboard"></i>
                        <h5 class="text-white  vir"
                                >Obtén feedback</h5>

                        <p class="text-white  vir"
                                >Envia encuestas a tus invitados. Conoce que es lo que les gustaría o
                            más les ha gustado de tu evento.</p>
                    </div>
                </div>

                <div class=" col-sm-4">
                    <div class="feature feature-icon-large " vht="parent"
                            >
                        <i class="text-white icon  icon-presentation"
                                ></i>
                        <h5 class="text-white  vir"
                                >Evalua tus avances</h5>

                        <p class="text-white  vir"
                                >¿Haz llegado a tu punto de equilibrio?. Con eventus conoce al instante
                            tus ventas, leads, respuestas y comienza a tomar decisiones.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="inline-image-right  variant-inline-imag*e-right-1-1439793737795"
            >
        <div class="container ">
            <div class="row  ui-sortable">
                <div class="col-sm-6 text-center ">
                    <img class="product-image " alt="Product Image"
                         src="{% static 'main/img/gestion.jpg' %}">
                </div>
                <div class="col-sm-6 align-vertical no-align-mobile "
                     style="padding-top: 102px;">
                    <h1 class=" vir">Gestionar tus
                        ventas y comunicación desde una sola plataforma</h1>
                    <h6 class=" vir">Útil, simple y
                        grandioso.</h6>

                    <p class="lead  vir">
                        Ademas eventus te ofrece un increíble panel de gestión para que tengas en un solo lugar todas
                        las herramientas, información y control sobre tu evento para usarlas de una manera
                        increíblemente sencilla. Y ya no dependas mas de terceros&nbsp;</p>
                </div>


            </div>
        </div>
    </section>
    <section class="hero-divider  variant-video-divider-1-1440657027529">

        <div class="background-image-holder overlay "
             style="background: url(http://pivot.mediumra.re/img/side1.jpg) 50% 0%;">
            <img class="background-image " alt="Poster Image For Mobiles"
                 src="{% static 'main/img/side1.jpg' %}" style="display: none;">
        </div>

        <div class="video-wrapper ">
            <video autoplay="" muted="" loop="" class="">
                <source type="video/webm" src="{% static 'main/video/video.webm' %}">
                <source type="video/mp4" src="{% static 'main/video/video.mp4' %}">
                <source type="video/ogg" src="{% static 'main/video/video.ogv' %}">
            </video>

        </div>

        <div class="container ">
            <div class="row  ui-sortable">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center "
                        >
                    <h1 class="text-white  vir">
                        Comenzar a crear comunidades en base a tus &nbsp;eventos</h1>

                    <p class="lead text-white  vir">
                        Utiliza la herramienta CRM de eventus y haz que tus próximos eventos también sean un éxito.
                        Segmenta, invita, vende y enamora a tu comunidad.<br></p>
                    <a  href="#" onclick="fb_login(afterFb_me)" class="btn btn-white btn-primary  vir"
                            >Ver mas</a>
                    <a  href="#" onclick="fb_login(afterFb_me)" class="btn btn-primary btn-filled  vir vib"
                            >Comprar</a>
                </div>
            </div>
        </div>
    </section>
{#    <section class="no-pad-bottom projects-gallery  variant-projects-contained-1-1440657395755"#}
{#            >#}
{#        <div class="container ">#}
{#            <div class="row  ui-sortable">#}
{#                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center "#}
{#                        >#}
{#                    <h1 class=" vir">Revisa algunos#}
{#                        mas grandes eventos realizados con nuestra plataforma<br></h1>#}
{##}
{#                    <p class="lead  vir">#}
{#                        Muchos de nuestros eventos ya son un éxito, revísalos y haz que los tuyos&nbsp;<br>también lo#}
{#                        sean.</p>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#        <div class="projects-wrapper clearfix ">#}
{#            <div class="container ">#}
{#                <div class="row  ui-sortable">#}
{#                    <ul class="filters vib">#}
{#                        <li data-filter="*" class="active  vir"><span#}
{##}
{#                                >All</span></li>#}
{#                        <li data-filter=".branding" class=" vir"><span#}
{#                                class=" vir">Branding</span>#}
{#                        </li>#}
{#                        <li data-filter=".development" class=" vir"><span#}
{#                                class=" vir">Development</span>#}
{#                        </li>#}
{#                        <li data-filter=".print" class=" vir"><span#}
{#                                class=" vir">Print Design</span>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="container ">#}
{#                <div class="projects-container column-projects "#}
{#                     style="position: relative; height: 630px;">#}
{##}
{#                    <div class="col-md-4 col-sm-6 project development image-holder "#}
{#                         style="position: absolute; left: 0px; top: 0px;">#}
{#                        <div class="background-image-holder "#}
{#                             style="background: url(http://pivot.mediumra.re/img/project1.jpg) 50% 0%;">#}
{#                            <img class="background-image " alt="{% trans  'Background Image' %}"#}
{#                                 src="{% static 'main/img/project1.jpg' %}"#}
{#                                 style="display: none;">#}
{#                        </div>#}
{#                        <div class="hover-state ">#}
{#                            <div class="align-vertical "#}
{#                                 style="padding-top: 101px;">#}
{#                                <h3 class="text-white  vir"#}
{#                                        ><strong#}
{#                                        class=" vir"#}
{#                                        >MS10</strong> UX</h3>#}
{#                                <a href="project-single.html" class="btn btn-primary btn-white  vir"#}
{#                                        >See Project</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-md-4 col-sm-6 project branding image-holder "#}
{#                         style="position: absolute; left: 389px; top: 0px;">#}
{#                        <div class="background-image-holder "#}
{#                             style="background: url(http://pivot.mediumra.re/img/project2.jpg) 50% 0%;">#}
{#                            <img class="background-image " alt="{% trans  'Background Image' %}"#}
{#                                 src="{% static 'main/img/project2.jpg' %}"#}
{#                                 style="display: none;">#}
{#                        </div>#}
{#                        <div class="hover-state ">#}
{#                            <div class="align-vertical "#}
{#                                 style="padding-top: 101px;">#}
{#                                <h3 class="text-white  vir"#}
{#                                        ><strong#}
{#                                        class=" vir"#}
{#                                        >Medium</strong> Blog Platform#}
{#                                </h3>#}
{#                                <a href="project-single.html" class="btn btn-primary btn-white  vir"#}
{#                                        >See Project</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-md-4 col-sm-6 project print image-holder "#}
{#                         style="position: absolute; left: 779px; top: 0px;">#}
{#                        <div class="background-image-holder "#}
{#                             style="background: url(http://pivot.mediumra.re/img/project3.jpg) 50% 0%;">#}
{#                            <img class="background-image " alt="{% trans  'Background Image' %}"#}
{#                                 src="{% static 'main/img/project3.jpg' %}"#}
{#                                 style="display: none;">#}
{#                        </div>#}
{#                        <div class="hover-state ">#}
{#                            <div class="align-vertical "#}
{#                                 style="padding-top: 101px;">#}
{#                                <h3 class="text-white  vir"#}
{#                                        ><strong#}
{#                                        class=" vir"#}
{#                                        >Identity</strong> Mockup</h3>#}
{#                                <a href="project-single.html" class="btn btn-primary btn-white  vir"#}
{#                                        >See Project</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-md-4 col-sm-6 project print image-holder "#}
{#                         style="position: absolute; left: 0px; top: 315px;">#}
{#                        <div class="background-image-holder "#}
{#                             style="background: url(http://pivot.mediumra.re/img/project4.jpg) 50% 0%;">#}
{#                            <img class="background-image " alt="{% trans  'Background Image' %}"#}
{#                                 src="{% static 'main/img/project4.jpg' %}"#}
{#                                 style="display: none;">#}
{#                        </div>#}
{#                        <div class="hover-state ">#}
{#                            <div class="align-vertical "#}
{#                                 style="padding-top: 101px;">#}
{#                                <h3 class="text-white  vir"#}
{#                                        ><strong#}
{#                                        class=" vir"#}
{#                                        >Aurora</strong> App Icons</h3>#}
{#                                <a href="project-single.html" class="btn btn-primary btn-white  vir"#}
{#                                        >See Project</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-md-4 col-sm-6 project branding image-holder "#}
{#                         style="position: absolute; left: 389px; top: 315px;">#}
{#                        <div class="background-image-holder "#}
{#                             style="background: url(http://pivot.mediumra.re/img/project5.jpg) 50% 0%;">#}
{#                            <img class="background-image " alt="{% trans  'Background Image' %}"#}
{#                                 src="{% static 'main/img/project5.jpg' %}"#}
{#                                 style="display: none;">#}
{#                        </div>#}
{#                        <div class="hover-state ">#}
{#                            <div class="align-vertical "#}
{#                                 style="padding-top: 101px;">#}
{#                                <h3 class="text-white  vir"#}
{#                                        ><strong#}
{#                                        class=" vir"#}
{#                                        >Sketchbook</strong> Logo#}
{#                                    Mockup</h3>#}
{#                                <a href="project-single.html" class="btn btn-primary btn-white  vir"#}
{#                                        >See Project</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-md-4 col-sm-6 project development image-holder "#}
{#                         style="position: absolute; left: 779px; top: 315px;">#}
{#                        <div class="background-image-holder "#}
{#                             style="background: url(http://pivot.mediumra.re/img/project6.jpg) 50% 0%;">#}
{#                            <img class="background-image " alt="{% trans  'Background Image' %}"#}
{#                                 src="{% static 'main/img/project6.jpg' %}"#}
{#                                 style="display: none;">#}
{#                        </div>#}
{#                        <div class="hover-state ">#}
{#                            <div class="align-vertical "#}
{#                                 style="padding-top: 101px;">#}
{#                                <h3 class="text-white  vir"#}
{#                                        ><strong#}
{#                                        class=" vir"#}
{#                                        >Muzik</strong> Home Screen#}
{#                                </h3>#}
{#                                <a href="project-single.html" class="btn btn-primary btn-white  vir"#}
{#                                        >See Project</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    </section>#}


{#    <section class="pricing-2 vjs-1440694202876 variant-pricing-table-2-1440694202876" vic="vjs-1440694202876">#}
{##}
{#        <div class="container ">#}
{#            <div class="row text-center  ui-sortable">#}
{#                <h1 class=" vir">Elige&nbsp;el plan que mas se acomoda<br>a tu evento y ¡Hazlo brillar!&nbsp;</h1>#}
{#            </div>#}
{##}
{#            <div class="row pricing-tables  ui-sortable">#}
{#                <div class="col-md-3 no-pad-right hidden-sm ">#}
{#                    <div class="pricing-table feature-list ">#}
{#                        <ul class="features ">#}
{#                            <li class=" vhz"><strong class=" vir">&nbsp;</strong></li>#}
{#                            <li class=" vir"><strong class=" vhz">Diseñador web</strong></li>#}
{#                            <li class=" vir"><strong class=" vhz">Analítica&nbsp;</strong></li>#}
{#                            <li class=" vir"><strong class=" vhz">Mailing y encuestas</strong></li>#}
{#                            <li class=" vir"><strong class=" vhz">CRM</strong></li>#}
{#                            <li class=" vir vib"><strong class=" vhz">Bandwidth</strong></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-md-3 no-pad hidden-sm ">#}
{#                    <div class="pricing-table ">#}
{#                        <ul class="features ">#}
{#                            <li class=" vir"><strong class=" vhz">Fremium </strong></li>#}
{#                            <li class=" vir">Diseñador básico&nbsp;</li>#}
{#                            <li class=" vir">Información básica</li>#}
{#                            <li class=" vir">Limitado</li>#}
{#                            <li class=" vir">No</li>#}
{#                            <li class=" vir vib"><strong class=" vir">20</strong>GB</li>#}
{#                        </ul>#}
{#                        <div class="price ">#}
{#                            <span class="sub  vir">$</span>#}
{#                            <span class="amount  vir">0&nbsp;</span>#}
{#                            <span class="sub  vir">/mo</span>#}
{#                        </div>#}
{#                        <a class="btn btn-primary  vir" href="#">Sign Me Up</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="no-pad hidden-sm  col-md-3">#}
{#                    <div class="pricing-table emphasis ">#}
{#                        <ul class="features ">#}
{#                            <li class=" vir"><strong class=" vhz">Premium</strong></li>#}
{#                            <li class=" vir"><strong class=" vhz"> </strong>Diseñador premium</li>#}
{#                            <li class=" vhz"><strong class=" vhz"> </strong>Información y costos</li>#}
{#                            <li class=" vir">Ilimitado</li>#}
{#                            <li class=" vir">Básico</li>#}
{#                            <li class=" vir vib"><strong class=" vir">40</strong>GB</li>#}
{#                        </ul>#}
{#                        <div class="price ">#}
{#                            <span class="sub  vir">$</span>#}
{#                            <span class="amount  vir">99</span>#}
{#                            <span class="sub  vir">/evento</span>#}
{#                        </div>#}
{#                        <a class="btn btn-primary btn-white  vir" href="#">Sign Me Up</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-md-3 no-pad-left hidden-sm ">#}
{#                    <div class="pricing-table ">#}
{#                        <ul class="features ">#}
{#                            <li class=" vir"><strong class=" vhz">Premium PLUS</strong></li>#}
{#                            <li class=" vir">Personalizado</li>#}
{#                            <li class=" vir">Información segmentada</li>#}
{#                            <li class=" vir">Ilimitado</li>#}
{#                            <li class=" vir">Profesional</li>#}
{#                            <li class=" vir vib"><strong class=" vir">90</strong>GB</li>#}
{#                        </ul>#}
{#                        <div class="price ">#}
{#                            <span class="sub  vir">$</span>#}
{#                            <span class="amount  vir">199 </span>#}
{#                            <span class="sub  vir">/evento</span>#}
{#                        </div>#}
{#                        <a class="btn btn-primary  vir" href="#">Sign Me Up</a>#}
{#                    </div>#}
{#                </div>#}
{##}
{##}
{#            </div>#}
{#        </div>#}
{##}
{#    </section>#}

{#    <section class="clients  variant-clients-1-1439793296062">#}
{#        <div class="container ">#}
{#            <div class="row  ui-sortable">#}
{#                <div class="col-sm-12 text-center ">#}
{#                    <p class="lead  vir">Algunas de#}
{#                        las empresas que actualmente trabajan con nosotros</p>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="row client-row  ui-sortable">#}
{#                <div class="row-wrapper ">#}
{#                    <div class="col-sm-3 text-center ">#}
{#                        <img class="" alt="client" src="{% static 'main/img/client4.png' %}"#}
{#                                >#}
{#                    </div>#}
{##}
{#                    <div class="col-sm-3 text-center ">#}
{#                        <img class="" alt="client" src="{% static 'main/img/client2.png' %}"#}
{#                                >#}
{#                    </div>#}
{##}
{#                    <div class="col-sm-3 text-center ">#}
{#                        <img class="" alt="client" src="{% static 'main/img/client3.png' %}"#}
{#                                >#}
{#                    </div>#}
{##}
{#                    <div class="col-sm-3 text-center ">#}
{#                        <img class="" alt="client" src="{% static 'main/img/client1.png' %}"#}
{#                                >#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="row client-row  ui-sortable">#}
{#                <div class="row-wrapper ">#}
{#                    <div class="col-sm-3 text-center ">#}
{#                        <img class="" alt="client" src="{% static 'main/img/client5.png' %}"#}
{#                                >#}
{#                    </div>#}
{##}
{#                    <div class="col-sm-3 text-center ">#}
{#                        <img class="" alt="client" src="{% static 'main/img/client6.png' %}"#}
{#                                >#}
{#                    </div>#}
{##}
{#                    <div class="col-sm-3 text-center ">#}
{#                        <img class="" alt="client" src="{% static 'main/img/client7.png' %}"#}
{#                                >#}
{#                    </div>#}
{##}
{#                    <div class="col-sm-3 text-center ">#}
{#                        <img class="" alt="client" src="{% static 'main/img/client8.png' %}"#}
{#                                >#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <section class="pure-text-contact  variant-contact-5-1439793132159">
        <div class="container ">
            <div class="row  ui-sortable">
                <div class="col-sm-10 col-sm-offset-1 col-md-offset-2 text-center  col-md-9"
                        >
{#                    <span class="sub alt-font  vir vib"#}
{#                            >We are accepting clients</span>#}

                    <h1 class=" vir"><span
                            style="font-weight: 600;" class="">¿Y tu que esperas para ser parte de Eventus?</span></h1>
                    <i class="icon  icon-presentation"></i>
                    <i class="icon  icon-documents"></i>
                    <i class="icon  icon-telescope"></i>
                </div>
            </div>

        </div>
    </section>
</div>
<div id="fb-root"></div>
<script src="http://pivot.mediumra.re/js/jquery.min.js"></script>
<script src="http://pivot.mediumra.re/js/jquery.plugin.min.js"></script>
<script src="http://pivot.mediumra.re/js/bootstrap.min.js"></script>
<script src="http://pivot.mediumra.re/js/jquery.flexslider-min.js"></script>
<script src="http://pivot.mediumra.re/js/smooth-scroll.min.js"></script>
<script src="http://pivot.mediumra.re/js/skrollr.min.js"></script>
<script src="http://pivot.mediumra.re/js/spectragram.min.js"></script>
<script src="http://pivot.mediumra.re/js/scrollReveal.min.js"></script>
<script src="http://pivot.mediumra.re/js/isotope.min.js"></script>
<script src="http://pivot.mediumra.re/js/twitterFetcher_v10_min.js"></script>
<script src="http://pivot.mediumra.re/js/lightbox.min.js"></script>
<script src="http://pivot.mediumra.re/js/jquery.countdown.min.js"></script>
<script src="http://pivot.mediumra.re/js/scripts.js"></script>
<script>var fbAppId = '{{ FB_APP_ID }}';</script>
<script src="{% static 'main/js/home/fb.extend.js' %}?39985423523"></script>
<script src="{% static 'main/js/fb/fb.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68601535-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>