<div class="form-group">
    <label class="control-label col-lg-2">{{ field_date.label }}</label>

    <div class="col-md-4">
        <div class="input-group input-large custom-date-range" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
            {{ field_date }}
            <span class="input-group-addon">_At_</span>
            {{ field_time }}
        </div>
        <span class="help-block">Select date range</span>
    </div>
</div>