{% load i18n %}
<div class="form-group {% if field_date.errors or field_time.errors %} has-error{% endif %}">
    <label class="col-lg-2 control-label">{{ field_date.label }}</label>

    <div class="col-lg-2">
         {{ field_date }}
        {% if field_date.errors %}
            {% for error in field_date.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-lg-2  control-label" style="text-align: right">
        {% trans field_time.label %}
    </div>
    <div class="col-lg-2">
        {{ field_time }}
        {% if field_time.errors %}
            {% for error in field_time.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
</div>
