<div class="form-group {% if field.errors %} has-error{% endif %}">
    <label class="col-lg-2 control-label">{{ field.label }}</label>

    <div class="col-lg-10">
        <div class="input-group">
            {{ field }}
            <span class="input-group-addon">{{ span_text }}</span>
        </div>
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
</div>