{% load event_extras %}

{% if field|is_checkbox %}
    <div class="checkbox {% if field.errors %} has-error{% endif %}">
        <label class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <label>
                {{ field }} {{ field.label }}
            </label>
        </div>
    </div>
{% else %}
    <div class="form-group {% if field.errors %} has-error{% endif %}">
        <label class="col-md-2 col-sm-2 control-label">{{ field.label }}</label>

        <div class="col-md-6 col-sm-6">
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endif %}
