{% load i18n %}
<div class="form-group">
    <label class="col-sm-2 control-label">{{ field.label }}</label>

    <div class="col-sm-10 icheck ">
        <div class="square-blue single-row">
            <div class="radio" style="width: 150px">
                <input tabindex="3" type="radio" name="{{ field.name }}" id="{{ field.name }}_no" value="false"
                       {% if not field.data %}checked{% endif %}>
                <label for="{{ field.name }}_no">No</label>
            </div>
        </div>
        <div class="square-green single-row">
            <div class="radio" style="width: 150px">
                <input tabindex="3" type="radio" name="{{ field.name }}" id="{{ field.name }}_yes" value="true"
                       {% if field.data %}checked{% endif %}>
                <label for="{{ field.name }}_yes">{% trans 'Yes' %}</label>
            </div>
        </div>
    </div>
</div>