{% load static %}
{% load i18n %}
{% load event_extras %}
<div class="form-group {% if field_place.errors or field_point.errors %} has-error{% endif %}">
    <label class="col-lg-2 control-label">{% trans 'in' %}</label>
    <div class="col-lg-10">
        <div class='form-element'>
            <input
                    type="text" autocomplete="off" readonly="readonly"
                    style="width:0px;height:0px;opacity:0;font-size:1px;line-height:0px;z-index:50;position:absolute;left:0px;top:0px;"
                    name="{{ field_point.name }}" id="gMapMarkerInputmapPoint"
                    value="{{ field_point.value|default:'' }}">

            {% if field_point.errors %}
                {% for error in field_point.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% endif %}
            {% if field_place.errors %}
                {% for error in field_place.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% endif %}

            <div class="map-wrapper" style="position:relative;width:100%;height:300px;">
                <div id="mapmapPoint" class="map-item"
                     style="z-index:1;width:100%;height:300px;">
                </div>
                <div class="input-group"
                     style="position:absolute;left:5px;top:5px;z-index:2; width:400px;">
                    <input name="{{ field_place.name }}" id="mapmapPoint_searchbox" type="text" class="form-control"
                           placeholder="write the place, ex: UCSP" value="{{ field_place.value|default:'' }}">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    onclick="jCoreGoogleMap.locateMe(this, 'mapmapPoint');">
                                or <i class='fa fa-location-arrow'></i> Ubícame
                            </button>
                          </span>
                </div>

                <button onclick="jCoreGoogleMap.dropMarker(this, 'mapmapPoint');" type="button"
                        tabindex="-1" class="map-btn-dropmarker btn btn-danger btn-sm"
                        style="position:absolute;right:5px;top:5px;z-index:2;">
                    <span class="fa fa-map-marker"></span> Colocar punto
                </button>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'event/js/bc/geo-googlemap.js' %}"></script>
<script>

    window.onload = function () {

        var lat = -12.05, lng = -77.05, zoom = 8, marker = null;
        {% if field_point.value %}
            lat = {{ field_point.value|get_lat }};
            lng = {{ field_point.value|get_lng }};
            zoom = 16;
            marker = 'center';
        {% else %}
        {% endif %}
        jCoreGoogleMap.attach('mapmapPoint', {
            options: {
                center: {
                    latitude: lat,
                    longitude: lng

                },
                zoom: zoom,
                panControl: false,
                disableDefaultUI: true,
                mapTypeControl: false,
                mapTypeControlOptions: { mapTypeIds: ['base'] }
            },
            bindMarkerTo: '#gMapMarkerInputmapPoint',
            marker: marker,
            map: null
        });
        jCoreGoogleMap.loadGoogleMaps();


        $('#mapmapPoint_searchbox').keypress(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
            }
        });
    };
</script>