{% load i18n %}
<section class="panel">
    <header class="panel-heading">
        {{ form.form_meta.title }}
    </header>
    <div class="panel-body">
        <form class="form-horizontal adminex-form" method="post" action=".">
            {% csrf_token %}
            {% include 'event/hooks/form.html' with form=form %}
            <button type="submit" class="btn btn-primary">{% trans 'save' %}</button>
        </form>
    </div>
</section>