{% load event_extras %}

{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

{% for field in form %}
    {% include 'event/hooks/field_horizontal.html' with field=field %}
{% endfor %}