{% load event_extras %}
<div class="form-group {% if field.errors %} has-error{% endif %}">
    <label class="col-lg-2 control-label">{{ field.label }}</label>
    <div class="col-md-10">
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
            </div>
            <div class="fileupload-preview fileupload-exists thumbnail"
                 style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
            <div>
               <span class="btn btn-default btn-file">
               <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select image</span>
               <span class="fileupload-exists"><i
                       class="fa fa-undo"></i> Change</span>
               {{ field|clear_upload_field }}
               </span>
                <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">
                    <i class="fa fa-trash"></i> Remove</a>
            </div>
        </div>
    </div>
</div>