{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Login</title>

    <link href="{% static 'event/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'event/css/style-responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'event/js/html5shiv.js'%}"></script>
    <script src="{% static 'event/js/respond.min.js'%}"></script>
    <![endif]-->
</head>

<body class="login-body">

<div class="container">


    <form id="form_login" class="form-signin" role="form" action="." method="post">
        {% if user.is_authenticated %}
            <h3>{% trans "You are logged in as" %} <strong>{{ user.username }}</strong>. <a
                    href="{% url 'accounts:logout' %}">{% trans 'Logout.' %}</a></h3>
        {% else %}

            <div class="form-signin-heading text-center">
                <h1 class="sign-title">Ingresar</h1>
                <img src="{% static 'main/img/yovoy-dark.png' %}" alt="" width="50%"/>
            </div>
            <div class="login-wrap">
                <button class="btn btn-login btn-block" type="button" onclick="fb_login(afterFb_me)">
                    Login with <i class="fa fa-facebook"></i>
                </button>
            </div>
        {% endif %}
    </form>

</div>
<div id="fb-root"></div>

<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="{% static 'event/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'event/js/bootstrap.min.js' %}"></script>
<script src="{% static 'event/js/modernizr.min.js' %}"></script>
<script>var fbAppId = '{{ FB_APP_ID }}';</script>
<script src="{% static 'main/js/fb/fb.js' %}"></script>
<script>
    function afterFb_me(fbResponse) {
        $.post('/accounts/get-or-create-user-with-fb/', {data: JSON.stringify(fbResponse)}, function (response) {
            url = window.location.href
            var redirectTo = url.indexOf("next=");
            if(redirectTo!=-1){
                window.location.href = url.substr(redirectTo+5);
            }else {
                alert('intenta de nuevo porfavor');
            }
        });
    }
</script>
</body>
</html>
