{% extends 'app/layout2.html' %}
{% load i18n %}

{% block scripts %}
{% endblock %}

{% block content %}

    <form class="form-signin reset_pass" role="form" action="." method="post">
        <h2 class="form-signin-heading" style="margin-bottom: 25px;">
            {{ form.meta.title }}
        </h2>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success">
                {% elif message.tags == 'warning' %}
                    <div class="alert">
                {% elif message.tags == 'error' %}
                    <div class="alert alert-danger">
                {% else %}
                    <div class="alert alert-info">
                {% endif %}
                {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}

        {% csrf_token %}
        {% include "accounts/form.html" with form=form %}
        <button class="btn btn-md btn-primary btn-block btn_general" type="submit" style="margin-top: 15px;">{{ form.meta.button }}</button>

    </form>



{% endblock %}
