{% extends 'panels/layout.html' %}
{% load i18n %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="contenedor_form">
            <div class="inner cover landing">
                <h3 class="home_subtitle">
                    {% trans "You are logged in as" %} <strong>{{ user.username }}</strong>. <a
                        href="{% url 'accounts:logout' %}">{% trans 'Logout.' %}</a>
                </h3>
            </div>
        </div>
    {% else %}
        <form role="form" action="." method="post" enctype="multipart/form-data">

            <h2 class="form-signin-heading" style="margin-bottom: 25px; color: #2f3539;">
                {% trans "Apply for an account" %}
            </h2>

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success">
                    {% elif message.tags == 'warning' %}
                        <div class="alert">
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger">
                    {% else %}
                        <div class="alert alert-info">
                    {% endif %}
                {{ message|safe }}
                </div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}

            {% include "hock/form.html" with form=form %}
            <input type="reset" value="Reset Fields"/>
            <button class="btn btn-md btn-primary btn-block btn-sign-in" type="submit"
                    style="margin-top: 15px;">{% trans 'Request account' %}</button>
        </form>
    {% endif %}
{% endblock %}
