{% extends 'event/layout_event.html' %}
{% load static %}
{% block content %}
    <!--body wrapper start-->
    <div class="row">
        <div class="col-sm-12">
            {% include 'event/hooks/form_vertical.html' with form=form %}
        </div>
    </div>

{% endblock %}
