{% extends 'event/layout_event.html' %}
{% load static %}
{% block content %}
    <!--body wrapper start-->
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    {% include 'event/hooks/form_vertical.html' with form=form %}

                </section>
            </div>
        </div>
    </div>
{% endblock %}