{% extends layout %}
{% load static %}
{% load i18n %}
{% block content %}
    <style>
        .default-buttons{
            position: fixed;
            bottom: 50px;
            right: 10%;
        }
    </style>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <section class="panel">
                <header class="panel-heading">
                    {{ form.form_meta.title }}
                </header>
                <div class="panel-body">
                    <div class="widget-container">
                        <div class="stepy-tab">
                        </div>
                        <form id="default" class="form-horizontal adminex-form" method="post" action=".">
                            <fieldset title="{% trans 'Information' %}">
                                <legend>{% trans 'general' %}</legend>
                                {% csrf_token %}
                                {% include 'event/hooks/field_horizontal.html' with field=form.name %}
                                {% include 'event/hooks/field_horizontal.html' with field=form.nick %}
                                {% include 'event/hooks/field_date_time_inline.html' with field_date=form.start field_time=form.start_time is_advanced=False %}
                                <div class="pull-right" style="margin-top: -35px">
                                    <a id="end_link" href="#">{% trans 'is your event for more than one day' %}<i
                                            class="fa fa-question"></i></a>
                                </div>
                                <br/>
                                {% include 'event/hooks/field_date_time_inline.html' with field_date=form.end field_time=form.end_time is_advanced=True %}
                            </fieldset>
                            <fieldset title="{% trans 'Where' %}">
                                <legend>{% trans 'is on the map?' %}</legend>
                                {% include 'event/hooks/field_horizontal.html' with field=form.address %}
                                {% include 'event/hooks/field_map_point.html' with field_place=form.map_place field_point=form.map_point %}
                            </fieldset>
                            <fieldset title="{% trans 'Tickets' %}">
                                <legend>{% trans 'payed or not' %}</legend>
                                {% include 'event/hooks/field_boolean.html' with field=form.is_payed %}
                                <div class="form-group" style="border-bottom: none; display: none">
                                    <label class="col-sm-2 control-label col-lg-2"
                                           for="inputSuccess">{% trans 'ticket' %} </label>

                                    <div class="col-lg-10" id="tickets">
                                        <div class="row ticketItem" style="margin-bottom: 10px">
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" placeholder="{% trans 'name' %}"
                                                       name="name[]">
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="number" class="form-control" placeholder="{% trans 'cost' %}"
                                                       name="cost[]">
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="number" class="form-control"
                                                       placeholder="{% trans 'quantity' %}"
                                                       name="quantity[]">
                                            </div>
                                            <div class="col-lg-1">
                                                <a style="display: none;" href="#"
                                                   onclick="$(this).parents('.ticketItem').remove();return false;">
                                                    <i class="fa fa-minus-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="display: none">
                                    <div class="row">
                                        <div class="col-md-2 col-md-offset-10" style="margin-top: -35px">
                                            <a id="oneMoreTicketLink" href="#">{% trans 'one more' %} <i
                                                    class="fa fa-question"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset title="{% trans 'Final Step' %}">
                                <legend>{% trans 'Final Step Information' %}</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <p>{% trans 'Congratulations This is the Final Step' %}</p>
                                    </div>
                                </div>
                            </fieldset>
                            <button class="btn btn-info finish">
                                Finish
                            </button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block more_scripts %}
    <link href="{% static 'event/css/jquery.stepy.css' %}" rel="stylesheet">
    {% include 'event/scripts/datepicker.html' %}
    {% include 'event/scripts/timepicker.html' %}
    {% include 'event/scripts/icheck.html' %}
    <script src="{% static 'event/js/jquery.stepy.js' %}"></script>
    <script>
        $(document).ready(function(){
            var endDateParent = $('#id_end').parents('.form-group');
            endDateParent.css('display', 'none');
            endDateParent.css('margin-top', '-25px');

            $('#default').stepy({
                backLabel: '{% trans 'Previous' %}',
                block: true,
                nextLabel: '{% trans 'Next' %}',
                titleClick: true,
                titleTarget: '.stepy-tab'
            });


            $('#default-next-0, #default-title-1, #default-back-2').on('click', function () {
                google.maps.event.trigger(jCoreGoogleMap.maps.mapmapPoint.map, 'resize');
            })

            if($('#is_payed_yes').is(':checked')){
                $('#tickets').parents('.form-group').toggle('show');
                $('#oneMoreTicketLink').parents('.form-group').toggle('show');
            }
        });

        $('#end_link').click(function () {
            var endLinkIcon = $('#end_link').find('i');
            var endFormGroup = $('#id_end').parents('.form-group');
            var startFormGroup = $('#id_start').parents('.form-group');
            if (endFormGroup.is(':visible')) {
                startFormGroup.css('border-bottom', '1px solid #eff2f7');
                endLinkIcon.addClass('fa-question');
                endLinkIcon.removeClass('fa-exclamation');
            } else {
                startFormGroup.css('border-bottom', '0px');
                endLinkIcon.removeClass('fa-question');
                endLinkIcon.addClass('fa-exclamation');
            }
            endFormGroup.toggle('slow');
            return false;
        });
        $('#oneMoreTicketLink').click(function () {
            $ticketItem = $('.ticketItem').first().clone();
            $ticketItem.find('.fa-minus-circle').parents('a').show();
            $ticketItem.find('input').each(function(){$(this).val('')});
            $('#tickets').append($ticketItem);
            return false;
        });
        $('#is_payed_yes,#is_payed_no').on('ifChecked', function (event) {
            if($('#is_payed_yes').is(':checked')){
                $('#tickets').parents('.form-group').toggle('show');
                $('#oneMoreTicketLink').parents('.form-group').toggle('show');
            }
        });
        $('#id_nick').focus(function () {
            var $idNick = $('#id_nick');

            if ($idNick.val() == '') {
                $idNick.val(generateShortName($('#id_name').val()));
            }
        });


    </script>
{% endblock %}