{% extends layout %}
{% load static %}
{% load i18n %}
{% block content %}
    <!--body wrapper start-->
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    {% trans 'information' %}
                </header>
                <div class="panel-body">
                    <form class="form-horizontal adminex-form" method="post" action="." enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'event/hooks/field_horizontal.html' with field=form.name %}
                        {% include 'event/hooks/field_date_time_inline.html' with field_date=form.start field_time=form.start_time is_advanced=False %}
                        {% include 'event/hooks/field_horizontal.html' with field=form.slogan %}
                        {% include 'event/hooks/field_horizontal.html' with field=form.logo %}
                        {% include 'event/hooks/field_horizontal.html' with field=form.description %}
{#                        {% include 'event/hooks/field_horizontal_span.html' with field=form.nick span_text='.yovoy.pe' %}#}
                        {% include 'event/hooks/field_horizontal.html' with field=form.domain %}
                        {% include 'event/hooks/field_horizontal.html' with field=form.address %}


                        <div class="pull-right" style="margin-top: -35px">
                            <a id="end_link" href="#">{% trans 'use end date' %} <i class="fa fa-question"></i></a>
                        </div>
                        <br/>

                        {% include 'event/hooks/field_date_time_inline.html' with field_date=form.end field_time=form.end_time is_advanced=True %}
                        <div class="form-group" style="display: none">
                            <div class="row">
                                <div class="col-md-2 col-md-offset-10" style="margin-top: -35px">
                                    <a id="oneMoreAttendanceTypeLink" href="#">one more <i
                                            class="fa fa-question"></i></a>
                                </div>
                            </div>
                        </div>
                        {% include 'event/hooks/field_map_point.html' with field_place=form.map_place field_point=form.map_point %}
                        {% include 'event/hooks/field_horizontal.html' with field=form.facebook %}
                        {% include 'event/hooks/field_horizontal.html' with field=form.twitter %}
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-primary">{% trans 'update' %}</button>
                            </div>
                        </div>


                    </form>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
{% block more_scripts %}
    {% include 'event/scripts/datepicker.html' %}
    {% include 'event/scripts/timepicker.html' %}
    {% include 'event/scripts/icheck.html' %}
    <script>
        $(function () {
            var endDateParent = $('#id_end').parents('.form-group');
            endDateParent.css('display', 'none');
            endDateParent.css('margin-top', '-25px');
        });

        $('#end_link').click(function () {
            var endLinkIcon = $('#end_link').find('i');
            var endFormGroup = $('#id_end').parents('.form-group');
            var startFormGroup = $('#id_start').parents('.form-group');
            if (endFormGroup.is(':visible')) {
                startFormGroup.css('border-bottom', '1px solid #eff2f7');
                endLinkIcon.addClass('fa-question');
                endLinkIcon.removeClass('fa-exclamation');
            } else {
                startFormGroup.css('border-bottom', '0px');
                endLinkIcon.removeClass('fa-question');
                endLinkIcon.addClass('fa-exclamation');
            }
            endFormGroup.toggle('slow');
            return false;
        });
        $('#oneMoreAttendanceTypeLink').click(function () {
            $ticketItem = $('.ticketItem').first().clone();
            $ticketItem.find('.fa-minus-circle').parents('a').show();
            $('#tickets').append($ticketItem);
            return false;
        });
        $('#is_payed_yes,#is_payed_no').on('ifChecked', function (event) {
            $('#tickets').parents('.form-group').toggle('show');
            $('#oneMoreAttendanceTypeLink').parents('.form-group').toggle('show');
        });

    </script>
{% endblock %}