{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>{{ title }}</title>
    {% block more_styles %}{% endblock %}
    <link href="{% static 'event/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'event/css/style-responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
  <script src="{% static 'event/js/html5shiv.js'%}"></script>
  <script src="{% static 'event/js/respond.min.js'%}"></script>
  <![endif]-->
</head>

<body class="sticky-header {% if not event %}left-side-collapsed{% endif %}">

<section>
    {% block nav %}
        <div class="left-side sticky-left-side" style="background-color: #2b2b2b; display: none;">

            <!--logo and iconic logo start-->
            <div class="logo">
                <a href="#">eventus</a>
            </div>

            <div class="logo-icon text-center">
                <a href="#" style="color: #fff">e</a>
            </div>
            <!--logo and iconic logo end-->


            <div class="left-side-inner">

                <!--sidebar nav start-->
                {% include 'event/sections/panel_navigation.html' %}
                <!--sidebar nav end-->
            </div>
        </div>
    {% endblock %}

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>

            <!--toggle button end-->

            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="http://graph.facebook.com/v2.3/{{ user.person.fb_id }}/picture?width=175&height=175"
                                 alt=""/>
                            {{ user.first_name }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out"></i> <span>Salir</span></a>
                            </li>
                            <hr/>
                            {% for eventX in events_for_current_user %}
                                <li><a href="{% url 'event:home' eventX.nick %}"> {{ eventX.nick }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!-- page heading start-->
        {#        {% if event %}#}
        {#            <div class="page-heading">#}
        {#                <h3>#}
        {#                    YOVOY - {{ event.name }}#}
        {#                </h3>#}
        {#                <ul class="breadcrumb">#}
        {#                    <li>#}
        {#                        <a href="#">{{ event.nick }}</a>#}
        {#                    </li>#}
        {#                    <li class="active"> current page</li>#}
        {#                </ul>#}
        {#                <div class="pull-right">#}
        {#                    <a target="_blank" href="http://{{ event.nick}}.{{ request.META.HTTP_HOST }}" class="btn btn-primary">Ver sitio web</a>#}
        {#                </div>#}
        {#            </div>#}
        {#        {% endif %}#}
        <!-- page heading end-->

        <!--body wrapper start-->

        <section class="wrapper">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success">
                    {% elif message.tags == 'warning' %}
                        <div class="alert">
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger">
                    {% else %}
                        <div class="alert alert-info">
                    {% endif %}
                {{ message|safe }}
                </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </section>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer style="position: fixed">
            2015 &copy; eventus
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="{% static 'event/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'event/js/jquery-ui-1.9.2.custom.min.js' %}"></script>
<script src="{% static 'event/js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'event/js/bootstrap.min.js' %}"></script>
<script src="{% static 'event/js/modernizr.min.js' %}"></script>
<script src="{% static 'event/js/jquery.nicescroll.js' %}"></script>

{% block more_scripts %}
{% endblock %}

<!--common scripts for all pages-->
<script src="{% static 'event/js/event_scripts.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68601535-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>