{% extends 'event/layout.html' %}
{% load event_extras %}
{% load i18n %}
{% block nav %}
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="#">{{ event.nick }}</a>
        </div>

        <div class="logo-icon text-center">
            <a href="#" style="color: #fff">{{ event.nick }}</a>
        </div>
        <!--logo and iconic logo end-->


        <div class="left-side-inner">

            <!--sidebar nav start-->
            {% include 'event/sections/navigation.html' %}
            <!--sidebar nav end-->
        </div>
    </div>
    <!-- left side end-->
{% endblock %}