{% extends 'event/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">

                            <div class="tools pull-right" style="padding-right: 10px;padding-top: 12px;height: 30px;">
                                <a href="{% url 'event:event_create' %}">{% trans 'create event' %}</a>
                            </div>
                            <header class="panel-heading">
                                {% trans 'MY EVENTS' %}
                            </header>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{% trans 'nick' %}</th>
                                        <th>{% trans 'name' %}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for event in events %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ event.nick }}</td>
                                            <td>{{ event.name }}</td>
                                            <td><a href="{% url 'main:show_event' event.nick %}" target="_blank">{% trans 'visit' %}</a>
                                                | <a
                                                        href="{% url 'event:home' event.nick %}">{% trans 'admin' %}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}