<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- The jQuery library is a prerequisite for all jqSuite products -->
    <script type="text/ecmascript" src="{% static 'main/js/jquery.min.js' %}"></script>
    <!-- We support more than 40 localizations -->
    <script type="text/ecmascript" src="http://www.guriddo.net/demo/js/trirand/i18n/grid.locale-en.js"></script>
    <!-- This is the Javascript file of jqGrid -->
    <script type="text/ecmascript" src="http://www.guriddo.net/demo/js/trirand/jquery.jqGrid.min.js"></script>
    <!-- A link to a Boostrap  and jqGrid Bootstrap CSS siles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://www.guriddo.net/demo/css/trirand/ui.jqgrid-bootstrap.css"/>
    <script>
        $.jgrid.defaults.width = 750;
        $.jgrid.defaults.responsive = true;
        $.jgrid.defaults.styleUI = 'Bootstrap';
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <meta charset="utf-8"/>
    <title>jqGrid Loading Data - Inline Editing with Row buttons</title>
</head>
<body>
<div style="margin-left:20px">
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        var lastsel2;

        $("#jqGrid").jqGrid({
            url: '{% url 'event:registers_jqgrid' event_nick %}',
            editurl: '{% url 'event:registers_jqgrid_edit' event_nick %}',
            datatype: "json",
            colModel: [
                {
                    label: "Edit Actions",
                    name: "actions",
                    width: 100,
                    formatter: "actions",
                    formatoptions: {
                        keys: true,
                        editOptions: {},
                        addOptions: {},
                        delOptions: {}
                    }
                },
                {name: 'id', index: 'id', width: 10, sorttype: "int", editable: true, hidden: true},
                {label: 'Creado', name: 'created_at', index: 'created', width: 75, sorttype: "date"},
                {label: 'Actualizado', name: 'updated_at', index: 'updated', width: 75, sorttype: "date"},
                {name: 'person__id', index: 'person.person__id', editable: true, hidden: true},
                {
                    label: 'Nombre',
                    name: 'person__first_name',
                    index: 'person.person__first_name',
                    width: 75,
                    editable: true
                },
                {label: 'Apellido', name: 'person__last_name', width: 140, editable: true},
                {label: 'Correo', name: 'person__email', width: 100, editable: true},
                {label: 'Entrada', name: 'ticket__name', width: 120, editable: true,edittype:"select",
                    editoptions:{value:
                        "{% for ticket in event.tickets_all %}{{ticket.id}}:{{ticket.name}}{% if not forloop.last %};{% endif %}{% endfor %}"}},
                {label: 'Compronante', name: 'voucher', width: 120, editable: true},
                {label: 'Tiene Material', name: 'has_material', width: 120, editable: true},
                {label: 'Nota', name: 'note', width: 120, editable: true},
                {label: 'Nota2', name: 'note2', width: 120, editable: true},
            ],
            sortname: 'EmployeeID',
            loadonce: true,
            width: 750,
            height: 500,
            rowNum: 150,
            pager: "#jqGridPager",
            onSelectRow: function (id) {
                if (id && id !== lastsel2) {
                    {#                    jQuery('#jqGrid').restoreRow(lastsel2);#}
                    {#                    jQuery('#jqGrid').editRow(id, true);#}
                    lastsel2 = id;
                }
            },
        });

{#        $("#jqGrid").jqGrid('editRow', lastsel2,#}
{#                {#}
{#                    //url: 'clientArray'#}
{#                    aftersavefunc: function (id, response, options) {#}
{#                        someRetValue = response; // set someRetValue to any value#}
{#                        console.log(response)#}
{#                    }#}
{#                });#}

        $("#jqGrid").jqGrid('editRow', lastsel2,
                {
                    keys: true,
                    oneditfunc: function () {
                        alert("edited");
                    }
                });

        $('#jqGrid').jqGrid('navGrid', '#jqGridPager',
                // the buttons to appear on the toolbar of the grid
                {
                    edit: true,
                    add: false,
                    del: false,
                    search: false,
                    refresh: false,
                    view: false,
                    position: "left",
                    cloneToTop: false
                },
                // options for the Edit Dialog
                {
                    editCaption: "The Edit Dialog",
                    recreateForm: true,
                    closeAfterEdit: true,
                    afterSubmit: function (data, postdata, oper) {
                        var response = data.responseJSON;
                        if (response.hasOwnProperty("error")) {
                            if (response.error.length) {
                                return [false, response.error];
                            }
                        }
                        return [true, "", ""];
                    },
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText
                    }
                },
                // options for the Add Dialog
                {
                    closeAfterAdd: true,
                    recreateForm: true,
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText
                    }
                },
                // options for the Delete Dailog
                {
                    errorTextFormat: function (data) {
                        return 'Error: ' + data.responseText
                    }
                });

    });

</script>

<br/>
aqui unas cositas

{{event.name}}
<ul>
{% for ticket in event.tickets_all %}
<li>{{ticket.name}}</li>
{% endfor %}
</ul>
</body>
</html>