{% load static %}
{% load i18n %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>eventus</title>
    <link rel="stylesheet" href="{% static 'main/variant/css/variant-icons.css' %}">
    <link rel="stylesheet" href="{% static 'main/variant/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/variant/css/flexslider.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/variant/css/style.css' %}">
{#    <link rel="stylesheet" href="http://foundry.mediumra.re/variant/css/style.css">#}
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">


    <link href="{% static 'main/variant/theme/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'main/variant/theme/css/flexslider.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'main/variant/theme/css/elegant-icons.min.css' %}" rel="stylesheet" type="text/css"
          media="all">
    <link href="{% static 'main/variant/theme/css/pe-icon-7-stroke.min.css' %}" rel="stylesheet" type="text/css"
          media="all">
    <link href="{% static 'main/variant/theme/css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'main/variant/theme/css/theme.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'main/variant/theme/css/theme-helper.css' %}" rel="stylesheet" type="text/css" media="all">
{#    <link href="http://foundry.mediumra.re/variant/theme/css/theme.css" rel="stylesheet" type="text/css" media="all">#}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">

    {#    <link rel="stylesheet" type="text/css" href="{% static 'event/js/advanced-datatable/css/jquery.dataTables.css'%}" %>#}
    <link rel="stylesheet" type="text/css"
          href="{% static 'main/variant/theme/js/datatables/dataTables.bootstrap.css' %}" %>

    <style>

        .button-tabs .tabs > li{ margin-left: 3px; margin-right: 3px; }

        nav {
            position: absolute !important;
        }

        .relative-nav {
            position: relative !important;
        }

        .boxed-layout nav {
            left: 48px
        }

        .overlay-nav .logo-dark {
            right: -50px;
            opacity: 0.7;
        }
    </style>


    <style>
        .vhc {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #2b2b2b;
            font-family: Roboto, "Helvetica Neue", Helvetica, Helvetica, Arimo, Arial, sans-serif !important;
            font-smoothing: antialiased;
            -webkit-font-smoothing: antialiased;
            opacity: 1
        }

        .vhb {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200px;
            height: 40px;
            margin-left: -100px;
            margin-top: -20px;
            z-index: 2
        }

        .vhb img {
            width: 100%
        }

        .vha {
            position: absolute;
            bottom: 40px;
            left: 50%;
            width: 200px;
            margin-left: -100px;
            text-align: center;
            color: #fff;
            font-size: 13px
        }

        .vha span {
            display: block;
            line-height: 19px;
            opacity: .5
        }

        .vlb {
            max-width: 120px;
            display: inline-block;
            margin-bottom: 12px;
            opacity: .5
        }

        .vla {
            position: absolute;
            width: 500px;
            top: 80px;
            margin-left: -250px;
            left: 50%;
            overflow: hidden;
            text-align: center;
            opacity: 0;
            transition: all .3s ease;
            -webkit-transition: all .3s ease
        }

        .vla.vhr {
            opacity: 1
        }

        .vlc {
            background: #333;
            color: #eee;
            padding: 24px;
            border-radius: 2px
        }

        .vlc .oi {
            display: inline-block;
            margin-right: 8px;
            font-size: 18px;
            color: #f6f6f6
        }

        .vlc p {
            display: inline-block
        }

        .vld {
            cursor: wait;
            background-color: transparent;
            opacity: .3;
            border-radius: 30px;
            animation: loading .5s infinite linear;
            -moz-animation: loading .5s infinite linear;
            -webkit-animation: loading .5s infinite linear;
            border: 5px solid #fff;
            border-top: 5px solid transparent;
            border-left: 5px solid transparent;
            width: 30px;
            height: 30px;
            position: absolute;
            left: 50%;
            margin-left: -15px;
            top: 50%;
            margin-top: 50px
        }

        @keyframes loading {
            0% {
                -moz-transform: rotate(0deg)
            }
            100% {
                -moz-transform: rotate(360deg)
            }
        }

        @-moz-keyframes loading {
            0% {
                -moz-transform: rotate(0deg)
            }
            100% {
                -moz-transform: rotate(360deg)
            }
        }

        @-webkit-keyframes loading {
            0% {
                -webkit-transform: rotate(0deg)
            }
            100% {
                -webkit-transform: rotate(360deg)
            }
        }
    </style>

</head>
<body mrv_namespace="medium.rare.meetup" mrv_contenttarget=".main-container" mrv_navtarget=".nav-container"
      mrv_footertarget=".footer-container" vjv="pe-7s-,social_">

<div class="vhc vhq">

    <div class="vla">
        <ul class="slides">
            <li>
                <div class="vlc">
                    <span class="oi" data-glyph="lightbulb"></span>

                    <p>
                        {% trans 'Right-click elements on the page to edit them.' %}
                    </p>
                </div>
            </li>

            <li>
                <div class="vlc">
                    <span class="oi" data-glyph="lightbulb"></span>

                    <p>
                        {% trans 'Rename sections in the sidebar to enable them as in-page links.' %}
                    </p>
                </div>
            </li>

            <li>
                <div class="vlc">
                    <span class="oi" data-glyph="lightbulb"></span>

                    <p>
                        {% trans 'Export your pages as Variant files for later editing.' %}
                    </p>
                </div>
            </li>

            <li>
                <div class="vlc">
                    <span class="oi" data-glyph="lightbulb"></span>

                    <p>
                        {% trans 'Export all your pages as HTML in the pages tab.' %}
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="vld">

    </div>

    <div class="vhb">
        <img alt="{% trans 'eventus!, your event tool' %}" src="{% static 'main/img/logo-eventus-ligth.png' %}">
    </div>

    <div class="vha">
        {#				<a target="_blank" href="http://www.mediumra.re/"><img class="vlb" alt="Variant HTML Page Builder" src="img/mrare.png"></a>#}
        <span>&copy; {% trans 'Copyright 2015 eventus' %}<br>{% trans 'All Rights Reserved' %}</span>
    </div>

    <div class="vjg"></div>
</div>

<div class="vhv vba">

    <div class="vjc vjf vle">

        <div class="vlf">
            <ul>
{#                <li title="Pages" class="vlg vfp"><span class="oi" data-glyph="file"></span></li>#}
                <li title="{% trans 'Content' %}" class="vlh vhr"><span class="oi" data-glyph="layers"></span></li>
                <li title="{% trans 'Style' %}" class="vlj"><span class="oi" data-glyph="brush"></span></li>
            </ul>

            <div class="vll">

                <div title="{% trans 'view people registered' %}" class="vlx vcbc2-b">
                    <span class="oi" data-glyph="people"></span>
                </div>

                <div title="{% trans 'manage tickets' %}" class="vlx vcbc-b">
                    <span class="oi" data-glyph="bookmark"></span>
                </div>

                <div title="{% trans 'view as guest' %}" class="vlx">
                    <a href="{% url 'main:show_event' event.nick %}" target="_blank">
                        <span class="oi" data-glyph="eye"></span>
                    </a>
                </div>

                <div title="{% trans 'show info' %}" class="vlm">
                    <span class="oi" data-glyph="question-mark"></span>
                </div>

                {#						<div title="Lock Sidebar" class="vgw vhq">#}
                {#							<span class="oi" data-glyph="lock-unlocked"></span>#}
                {#						</div>#}
            </div>

        </div>

        <div class="vkm vjz">
            <div class="vgx">

                <div class="vlo vlp">

                    <div class="vlq">
                        <span>{% trans 'eventus Pages' %}</span>
                    </div>

                    <div class="vhs vgc">{% trans 'Save Page As' %}</div>
                    <div class="vhs ved">{% trans 'Import' %}</div>
                    <input type="file" class="vef" name="vef[]">

                    <div class="vmd">

                        <div class="vfw empty-vfw">

                        </div>
                    </div>

                    <div class="vls">

                        <div class="vlt">
                            <span>Export</span><span class="oi" data-glyph="caret-bottom"></span>

                            <div class="vlu">
                                <div class="vah vhs vaj vil">.html</div>
                                <div class="vdi vhs vaj vix">.variant</div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="vlv vlp vhr">

                    <div class="vlq">
                        <span class="vcr">{% trans 'Page Content' %}</span>
                    </div>

                    <div class="vlw">
                        <span class="vei" contenteditable="true">eventus</span>
                        <span class="oi" data-glyph="pencil"></span>
                    </div>

                    <div class="vmd">

                        <div class="vho">
                            <span class="vly oi" data-glyph="compass">{% trans 'Navigation Type' %}</span>
                            <ul class="vfj">

                            </ul>
                            <ul class="vfn">
                                <li class="vfo">{% trans 'No Nav' %}</li>
                            </ul>
                        </div>

                        <div class="vho">
                            <span class="vly oi" data-glyph="expand-down">{% trans 'Footer Type' %}</span>
                            <ul class="vdm">

                            </ul>
                            <ul class="vfk">
                                <li class="vfl">{% trans 'No Footer' %}</li>
                            </ul>
                        </div>

                        <div class="vem empty-vem">
                            {{ event.page_scheme.nav|default:''|safe }}
                        </div>

                        <div class="vac">
                            <span></span>
                        </div>

                    </div>

                    <div class="vgr">
                        <span class="vhq">{% trans 'SHOW' %}</span>
                        <span class="oi" data-glyph="trash"></span>
                    </div>

                    <div class="vad">


                        <div class="vgt">

                            <div class="vlz">
                                <div class="vma">
                                    <span>{% trans 'Filter' %}</span>
                                </div>

                                <div class="vgi">
                                    <div class="vgh vhr" vbp="*">
                                        {% trans 'Show All' %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="vgm">
                        </div>


                    </div>

                    <div class="vls">

                        <div class="vdq">
                            {#                            <span class="vhq">{% trans 'Publish Page' %}</span>#}
                        </div>

                    </div>


                </div>

                <div class="vmb vlp">

                    <div class="vlq">
                        <span>{% trans 'Page Style' %}</span>
                    </div>

                    <div class="vmd">

                        <div class="vho vih">
                            <span class="vly oi" data-glyph="droplet">{% trans 'Colour Scheme' %}</span>
                            <ul class="vay">

                            </ul>
                        </div>

                    </div>

                    <div class="vls">

                        <div class="vdq">
                            {#                            <span class="vhq">{% trans 'Publish Page' %}</span>#}
                        </div>

                    </div>


                </div>

            </div>
        </div>


    </div>

    <div class="viu">

    </div>

    <div class="vhm">
        <div class="vet vih vhe"><span>{% trans 'Load Previous Page' %}</span></div>
        <div class="vhd vih vhe"><span>{% trans 'Start New Page' %}</span></div>
    </div>

</div>

<div class="vaf vin vds">
    <div class="vfa">
        <span class="vjl vag"></span>
        <i class="variant-icon variant-close-circle vex"></i>
    </div>

    <div class="vew">
        <p class="vae">

        </p>
    </div>
    <div class="vjp">
        <div class="vhs vak vix vex">{% trans 'Ok' %}</div>
    </div>

</div>

<div class="vfc vin vds">
    <div class="vfa">
        <span class="vjl">{% trans 'Save custom navigation' %}</span>
        <i class="variant-icon variant-close-circle vex"></i>
    </div>

    <div class="vew">
        <p>
            {% trans 'Give this nav menu a name so that you can retrieve it from ''Navigation Styles'' at any time later on.' %}
        </p>

        <div class="vej">
            <i class="oi" data-glyph="compass"></i>
            <input type="text" placeholder="Navigation Name" class="vgb vez">
        </div>
    </div>

    <div class="vjp">
        <div class="vhs vex val vil">{% trans 'Cancel' %}</div>
        <div class="vhs vga vak vix">{% trans 'Save' %}</div>
    </div>

</div>

<div class="vfb vin vds">
    <div class="vfa">
        <span class="vjl">{% trans 'Save custom footer' %}</span>
        <i class="variant-icon variant-close-circle vex"></i>
    </div>

    <div class="vew">
        <p>
            {% trans 'Give this footer a name so that you can retrieve it from ''Footer Styles'' at any time later on.' %}
        </p>

        <div class="vej">
            <i class="oi" data-glyph="expand-down"></i>
            <input type="text" placeholder="Footer Name" class="vfz vez">
        </div>
    </div>

    <div class="vjp">
        <div class="vhs vex val vil">{% trans 'Cancel' %}</div>
        <div class="vhs vfy vak vix">{% trans 'Save' %}</div>
    </div>

</div>

<div class="vge vin vds">
    <div class="vfa">
        <span class="vjl">{% trans 'Save current page' %}</span>
        <i class="variant-icon variant-close-circle vex"></i>
    </div>

    <div class="vew">
        <p>
            {% trans 'Name and save the current page for later use.' %}
        </p>

        <div class="vej">
            <i class="oi" data-glyph="file"></i>
            <input type="text" placeholder="{% trans 'Page Name' %}" class="vgf vez" value="{{ event.nick }}">
        </div>
    </div>

    <div class="vjp">
        <div class="vhs vex val vil">{% trans 'Cancel' %}</div>
        <div class="vhs vgd vak vix">{% trans 'Save' %}</div>
    </div>

</div>

<div class="vcw vin">
    <div class="vfa">
        <span class="vjl">{% trans 'Edit Link ' %}</span><span class="vcq"></span>
    </div>

    <div class="vew">
        <div class="vej vgp">
            <span>Inner link:</span>
            <select class="veh vja">
                <option value="">{% trans 'Select' %}</option>
            </select>
        </div>
        <div class="vej">
            <span>{% trans 'Edit link' %}:</span>
            <span class="oi" data-glyph="link-intact"></span>
            <input type="text" class="vcu vez">
            <input type="text" class="vcv vez vih">
        </div>
        <div class="vej">
            <span>{% trans 'Open in' %}:</span>
            <span class="oi" data-glyph="browser"></span>
            <select class="vcy vja">
                <option class="vcz edit-veq" value="default">Default</option>
                <option class="vcz edit-link-target-_blank-mrv" value="_blank">{% trans 'New Tab' %}</option>
                <option class="vcz edit-link-target-_self-mrv" value="_self">{% trans 'Own Tab' %}</option>
            </select>
        </div>
    </div>

    <div class="vjp">
        <div class="vhs vex val vil">{% trans 'Cancel' %}</div>
        <div class="vhs vcx vak vix">{% trans 'Save' %}</div>
    </div>

</div>

<div class="vcl vin">
    <div class="vfa">
        <span class="vjl">{% trans 'Edit Image' %}</span>
        <i class="variant-icon variant-close-circle vex"></i>
    </div>

    <div class="vew">
        <div class="vhs vhp vaj vil"><span class="oi" data-glyph="grid-three-up"></span></div>
        <div class="vea">
            <div class="vey">
                <div class="vej">
                    <span>Edit image link:</span>
                    <span class="oi" data-glyph="image"></span>
                    <input type="text" placeholder="Image 'src' value" class="vco vez">
                </div>

                <div class="vej">
                    <span>Edit image title:</span>
                    <span class="oi" data-glyph="tags"></span>
                    <input type="text" placeholder="Image 'alt' value" class="vcf vez">
                </div>

                <input class="vck vih" type="text">
            </div>

            <div class="vey">
                <div class="vcm">
                    <img alt="Edit Image" src="" class="vcp">
                    <span class="veb">1280x800</span>
                </div>
            </div>

            <div class="vjp">
                <div class="vhs vee" style="float: left;">{% trans 'Import Images' %}</div>
                <div class="vhs vex val vil">{% trans 'Cancel' %}</div>
                <div class="vhs vcn vak vix">{% trans 'Save' %}</div>
            </div>
        </div>


    </div>

    <div class="vdz"
         vbv="aqp.jpg,hero1.jpg,hero2.jpg,hero3.jpg,hero4.jpg,hero5.jpg,hero6.jpg,hero7.jpg,hero8.jpg,hotel1.jpg,logo-dark.png,eventus-dark.png,logo.png,eventus-ligth.png,side1.jpg,side2.jpg,side3.jpg,speaker1.jpg,speaker2.jpg,speaker3.jpg,speaker4.jpg,sponsor1.jpg,sponsor2.png,sponsor3.png,sponsor4.png,sponsor5.png,sponsor6.png,travel.jpg,venue.jpg,lb1.jpg,lb2.jpg,lb3.jpg,lb4.jpg,lb5.jpg,lb6.jpg,lb7.jpg,lb8.jpg,grey-bg.jpg">

        <form id="imageUploadForm" action="{% url 'event:upload_image' %}" enctype="multipart/form-data">
            <input type="file" class="vch" name="image" multiple="multiple">
            <input type="hidden" name="event" value="{{ event.id }}">
        </form>
        <div class="vdx">
        </div>
        {#				<div class="vhs vee">Import Images</div>#}
    </div>


</div>

<div class="vde vin vdo">
    <div class="vfa">
        <span class="vjl">{% trans 'Edit Video Source' %}</span>
        <i class="variant-icon variant-close-circle vex"></i>
    </div>

    <div class="vew">
        <div class="vej">
            <span>{% trans 'Edit MP4 Source' %}:</span>
            <span class="oi" data-glyph="video"></span>
            <input type="text" class="vda vez">
        </div>

        <div class="vej">
            <span>{% trans 'Edit WEBM Source' %}:</span>
            <span class="oi" data-glyph="video"></span>
            <input type="text" class="vdg vez">
        </div>

        <div class="vej">
            <span>{% trans 'Edit OGV Source' %}:</span>
            <span class="oi" data-glyph="video"></span>
            <input type="text" class="vdb vez">
            <input class="vih vdd" type="text">

        </div>
    </div>
    <div class="vjp">
        <div class="vhs vex val vil">{% trans 'Cancel' %}</div>
        <div class="vhs vdf vak vix">{% trans 'Save' %}</div>
    </div>

</div>

<div class="vcd vin">
    <div class="vfa">
        <span class="vjl">{% trans 'Edit Icon' %}</span>
        <i class="variant-icon variant-close-circle vex"></i>
    </div>

    <div class="vew">
        <div class="vce"
             vai="pe-7s-cloud-upload,pe-7s-cash,pe-7s-close,pe-7s-bluetooth,pe-7s-cloud-download,pe-7s-way,pe-7s-close-circle,pe-7s-id,pe-7s-angle-up,pe-7s-wristwatch,pe-7s-angle-up-circle,pe-7s-world,pe-7s-angle-right,pe-7s-volume,pe-7s-angle-right-circle,pe-7s-users,pe-7s-angle-left,pe-7s-user-female,pe-7s-angle-left-circle,pe-7s-up-arrow,pe-7s-angle-down,pe-7s-switch,pe-7s-angle-down-circle,pe-7s-scissors,pe-7s-wallet,pe-7s-safe,pe-7s-volume2,pe-7s-volume1,pe-7s-voicemail,pe-7s-video,pe-7s-user,pe-7s-upload,pe-7s-unlock,pe-7s-umbrella,pe-7s-trash,pe-7s-tools,pe-7s-timer,pe-7s-ticket,pe-7s-target,pe-7s-sun,pe-7s-study,pe-7s-stopwatch,pe-7s-star,pe-7s-speaker,pe-7s-signal,pe-7s-shuffle,pe-7s-shopbag,pe-7s-share,pe-7s-server,pe-7s-search,pe-7s-film,pe-7s-science,pe-7s-disk,pe-7s-ribbon,pe-7s-repeat,pe-7s-refresh,pe-7s-add-user,pe-7s-refresh-cloud,pe-7s-paperclip,pe-7s-radio,pe-7s-note2,pe-7s-print,pe-7s-network,pe-7s-prev,pe-7s-mute,pe-7s-power,pe-7s-medal,pe-7s-portfolio,pe-7s-like2,pe-7s-plus,pe-7s-left-arrow,pe-7s-play,pe-7s-key,pe-7s-plane,pe-7s-joy,pe-7s-photo-gallery,pe-7s-pin,pe-7s-phone,pe-7s-plug,pe-7s-pen,pe-7s-right-arrow,pe-7s-paper-plane,pe-7s-delete-user,pe-7s-paint,pe-7s-bottom-arrow,pe-7s-notebook,pe-7s-note,pe-7s-next,pe-7s-news-paper,pe-7s-musiclist,pe-7s-music,pe-7s-mouse,pe-7s-more,pe-7s-moon,pe-7s-monitor,pe-7s-micro,pe-7s-menu,pe-7s-map,pe-7s-map-marker,pe-7s-mail,pe-7s-mail-open,pe-7s-mail-open-file,pe-7s-magnet,pe-7s-loop,pe-7s-look,pe-7s-lock,pe-7s-lintern,pe-7s-link,pe-7s-like,pe-7s-light,pe-7s-less,pe-7s-keypad,pe-7s-junk,pe-7s-info,pe-7s-home,pe-7s-help2,pe-7s-help1,pe-7s-graph3,pe-7s-graph2,pe-7s-graph1,pe-7s-graph,pe-7s-global,pe-7s-gleam,pe-7s-glasses,pe-7s-gift,pe-7s-folder,pe-7s-flag,pe-7s-filter,pe-7s-file,pe-7s-expand1,pe-7s-exapnd2,pe-7s-edit,pe-7s-drop,pe-7s-drawer,pe-7s-download,pe-7s-display2,pe-7s-display1,pe-7s-diskette,pe-7s-date,pe-7s-cup,pe-7s-culture,pe-7s-crop,pe-7s-credit,pe-7s-copy-file,pe-7s-config,pe-7s-compass,pe-7s-comment,pe-7s-coffee,pe-7s-cloud,pe-7s-clock,pe-7s-check,pe-7s-chat,pe-7s-cart,pe-7s-camera,pe-7s-call,pe-7s-calculator,pe-7s-browser,pe-7s-box2,pe-7s-box1,pe-7s-bookmarks,pe-7s-bicycle,pe-7s-bell,pe-7s-battery,pe-7s-ball,pe-7s-back,pe-7s-attention,pe-7s-anchor,pe-7s-albums,pe-7s-alarm,pe-7s-airplay,social_facebook,social_twitter,social_linkedin,social_googleplus,social_instagram,social_dribbble,social_vimeo,social_wordpress,social_tumblr,social_tumbleupon,social_pinterest,social_linkedin,social_youtube,social_picassa,social_skype,social_spotify">

        </div>
    </div>

    <div class="vjp">
        <input id="vgo" class="vih" type="text">

        <div class="vhs vex vcc vak vix">{% trans 'Done' %}</div>
    </div>

</div>

<div class="vdr vin">
    <div class="vfa">
        <span class="vjl">HTML Source Code</span>
        <i class="variant-icon variant-close-circle vex"></i>
    </div>

    <div class="vew">
        <div class="vft">
            <textarea class="vfu" cols="256" readonly="readonly" wrap="soft" style="display: none">
            </textarea>
        </div>
    </div>

    <div class="vjp">
        {#        <div class="vhs vgn vaj vil">Select All</div>#}
        {#        <div class="vhs vgy vaj vil">Download HTML file</div>#}
        <div class="vhs vex vak vix" style="display: none">{% trans 'Done' %}</div>
    </div>

</div>

<div class="global-vfr vin vkf">
    <img alt="Logo" src="{% static 'main/img/logo-eventus-ligth.png' %}">

    {#    <div class="vew">#}
    {#        <div class="vhs vap val">Clear Navs</div>#}
    {#        <div class="vhs vao val">Clear Footers</div>#}
    {#        <div class="vhs vaq val">Clear Pages</div>#}
    {#        <div class="vhs van val">Delete All</div>#}
    {#    </div>#}
    {#    <img alt="eventus" src="img/mrare.png">#}
    <div class="vew">
        {% trans 'Need help? ilike@oneventus.com' %}
    </div>
    {#    <img alt="Medium Rare" src="img/mrare.png">#}

    <p>
        &copy; Copyright <span class="vkg">2015</span> eventus
    </p>
</div>

<div class="vbi vin vdo">
    <div class="vfa">
        <span class="vjl vbk"> </span>
        <i class="variant-icon variant-close-circle vex"></i>
    </div>

    <div class="vew vbd">
        <p class="vbh"></p>

        <div class="vej">
            <span class="vbf"> </span>
            <span class="oi vkh" data-glyph=""></span>
            <input type="text" class="vbg vez">
            <input type="text" class="vbe vih">
            <input type="text" class="vbc vih">
        </div>
    </div>

    <div class="vjp">
        <div class="vhs vex val vil">{% trans 'Cancel' %}</div>
        <div class="vhs vbj vak vix">{% trans 'Save' %}</div>
    </div>

</div>

<div class="vcbc vin">
    <div class="vfa">
        <span class="vjl">{% trans 'Ticket Manager' %}</span>
        <i class="variant-icon variant-close-circle vex"></i>
    </div>
    <div class="vew">
        <div class="vcbd">
            <table id="ticketsTable" class="table">
                <thead>
                <tr>
                    <th style="width:50px"></th>
                    <th>{% trans 'name' %}</th>
                    <th>{% trans 'cost' %}</th>
                    <th>{% trans 'quantity' %}</th>
                    <th style="width:50px">{% trans 'actions' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in event.tickets_public %}
                    <tr vid="{{ ticket.id }}">
                        <td><span class="oi" data-glyph="bookmark"></span></td>
                        <td vname="name" type="text">{{ ticket.name }}</td>
                        <td vname="cost" type="number">{{ ticket.cost }}</td>
                        <td vname="quantity" type="number">{{ ticket.quantity }}</td>
                        <td>
                            <a class="saveTicket" title="{% trans 'save' %}" style="display:none"><span class="vlbc oi"
                                                                                                        data-glyph="check"></span></a>
                            <a class="cancelEditTicket" title="{% trans 'cancel' %}" style="display:none"><span
                                    class="vlbc oi" data-glyph="x"></span></a>
                            <a class="editTicket" title="{% trans 'edit' %}"><span class="vlbc oi"
                                                                                   data-glyph="pencil"></span></a>
                            <a class="deleteTicket" title="{% trans 'delete' %}"><span class="vlbc oi"
                                                                                       data-glyph="trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <a style="float: right;" class="addTicket" title="{% trans 'add ticket' %}">
                <span class="vlbc oi" data-glyph="plus"> {% trans 'add ticket' %}</span>
            </a>
        </div>
    </div>
    <div class="vjp">
        <input id="vgo" class="vih" type="text">

        <div class="vhs vex vak vix"><span class="oi" data-glyph="x"></span> {% trans 'CLOSE' %}</div>
    </div>
</div>

<div class="vcbc2 vin">
    <div class="vfa">
        <span class="vjl">{% trans 'People Registered' %}</span>
        <i class="variant-icon variant-close-circle vex"></i>
    </div>
    <div class="vew">
        <div class="vcbd">
            <table class="table table-striped table-hover" id="peopleTable" style="min-width: 650px">
                <thead>
                <tr>
                    <th>{% trans 'id' %}</th>
                    <th>{% trans 'ticket' %}</th>
                    <th>{% trans 'first name' %}</th>
                    <th>{% trans 'last name' %}</th>
                    <th>{% trans 'voucher' %}</th>
                    <th>{% trans 'status' %}</th>
                    <th>{% trans 'created at' %}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="vjp">
        <input id="vgo" class="vih" type="text">

        <div class="vhs vex vak vix"><span class="oi" data-glyph="x"></span> {% trans 'CLOSE' %}</div>
    </div>
</div>

<div class="vhw vjr">
    <div class="vau">{% trans 'element type' %}</div>
    <div class="vki vih vaw vav vfq">{% trans 'Options' %} &gt;</div>
    <div class="vgk vih vaw vav vfq"></div>
    <div class="vdh vih vaw vav vfq"></div>
    <div class="vct vih vaw vav vfq">{% trans 'Edit Link' %}</div>
    <div class="vcg vih vaw vav vfq">{% trans 'Edit Image' %}</div>
    <div class="vdc vih vaw vav vfq">{% trans 'Edit Video Source' %}</div>
    <div class="vcc vih vaw vav vfq">{% trans 'Choose Icon' %}</div>
    <div class="veg vih vaw vav vfq">{% trans 'Expand Column' %}</div>
    <div class="vbt vih vaw vav vfq">{% trans 'Shrink Column' %}</div>
    <div class="vas vih vaw vav vfq">{% trans 'Clone Whole Slide' %}</div>
    <div class="vcb vih vaw vav vfq">{% trans 'Delete Whole Slide' %}</div>
    <div class="vbc_w vih vaw vav vfq">{% trans 'Show In White' %}</div>
    <div class="vfe">

    </div>
    <div class="var vaw vav">{% trans 'Clone' %}</div>
    <div class="vbw vaw vav">{% trans 'Remove' %}</div>
</div>

<div id="vgg" class="vih">

    <section id="variant-slider-12" class="vim" vbp="header,fullscreen" vbr="Image & Paragraph">
        <section class="hero-slider cover fullscreen" parent-id="variant-slider-12">
            <ul class="slides">
                <li class="hero-slide">
                    <div class="background-image-holder parallax-background">
                        <img class="background-image" alt="{% trans  'Background Image' %}" src="{% static 'main/img/aqp.jpg' %}">
                    </div>

                    <div class="container v-align-transform">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                                <img alt="Logo" class="image-small mb8" delay-src="{% static 'main/img/tedxcharacato.png' %}">
                                <h6 class="uppercase mb32">Modular Design For Absolute Freedom.</h6>

                                <p class="text-justify mb0">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </section>

    <section id="variant-tabs-1" class="vim" vbp="Tabs" vbr="Button Tabs">
        <section class="toggle-bg-mrv">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                        <h4 class="uppercase mb80">Button Tabs</h4>
                        <div class="tabbed-content button-tabs">
                            <ul class="tabs">
                                <li class="active">
                                    <div class="tab-title" vht="li">
                                        <span vht="li">History</span>
                                    </div>
                                    <div class="tab-content">
                                        <p>
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" vht="li">
                                        <span vht="li">Approach</span>
                                    </div>
                                    <div class="tab-content">
                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" vht="li">
                                        <span vht="li">Culture</span>
                                    </div>
                                    <div class="tab-content">
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title">
                                        <span vht="li">Method</span>
                                    </div>
                                    <div class="tab-content">
                                        <p>
                                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

        </section>
    </section>

    <section id="variant-hero-slider-1" class="vim" vbs="vkj" vbp="header,slider" vbr="{% trans 'Hero Slider' %}">
        {% include 'main/_sections/hero_slider.html' %}
    </section>

    <section id="variant-register-header-1" class="vim" vbs="vkj" vbp="header,forms"
             vbr="{% trans 'Register Header' %}">
        {% include 'main/_sections/register_header.html' %}
    </section>

    <section id="variant-video-header-1" class="vim" vbs="vkj" vbp="header" vbr="{% trans 'Video Header' %}">
        {% include 'main/_sections/video_header.html' %}
    </section>

    <section id="variant-countdown-header-1" class="vim" vbs="vkj" vbp="header" vbr="{% trans 'Countdown Header' %}">
        {% include 'main/_sections/countdown_header.html' %}
    </section>

    <section id="variant-instagram-3" class="vim" vbs="vkj" vbp="image,gallery,header"
             vbr="{% trans 'Instagram Header' %}">
        {% include 'main/_sections/instagram_header.html' %}
    </section>

    <section id="variant-page-header-1" class="vim" vbs="vkj" vbp="header" vbr="{% trans 'Image Header' %}">
        {% include 'main/_sections/image_header.html' %}
    </section>

    <section id="variant-image-block-1" class="vim" vbs="text-mrv" vbp="text,image" vbr="{% trans 'Text with image' %}">
        {% include 'main/_sections/text_with_image.html' %}
    </section>

    <section id="variant-promo-links-1" class="vim" vbs="text-mrv" vbp="text"
             vbr="{% trans 'Links with Icon / Text' %}">
        {% include 'main/_sections/links_with_icon_text.html' %}
    </section>

    <section id="variant-members-1" class="vim" vbs="vkj" vbp="image,list" vbr="{% trans 'Speakers / Members' %}">
        {% include 'main/_sections/speakers_members.html' %}
    </section>

    <section id="variant-members-2" class="vim" vbs="vkj" vbp="image,list"
             vbr="{% trans 'Speakers / Members with text' %}">
        {% include 'main/_sections/speakers_members_with_text.html' %}
    </section>

    <section id="variant-icon-list-1" class="vim" vbs="text-mrv" vbp="text,list" vbr="{% trans 'Icons list' %}">
        {% include 'main/_sections/icons_list.html' %}
    </section>

    <section id="variant-icon-list-2" class="vim" vbs="vkj" vbp="image,text" vbr="{% trans 'Icons list on image' %}">
        {% include 'main/_sections/icons_list_on_image.html' %}
    </section>

    <section id="variant-image-block-2" class="vim" vbs="text-mrv" vbp="text,slider"
             vbr="{% trans 'Image with text slider' %}">
        {% include 'main/_sections/image_with_text_slider.html' %}
    </section>

    <section id="variant-video-divider-1" class="vim" vbs="vkj" vbp="video" vbr="{% trans 'Video Divider' %}">
        {% include 'main/_sections/video_divider.html' %}
    </section>

    <section id="variant-inline-video-1" class="vim" vbs="text-mrv" vbp="video,text" vbr="{% trans 'Inline video' %}">
        {% include 'main/_sections/inline_video.html' %}
    </section>

    <section id="variant-schedule-1" class="vim" vbs="text-mrv" vbp="text,list"
             vbr="{% trans 'Schedule - 3 columns' %}">
        {% include 'main/_sections/schedule_3_columns.html' %}
    </section>

    <section id="variant-schedule-2" class="vim" vbs="text-mrv" vbp="text,list"
             vbr="{% trans 'Schedule - 2 columns' %}">
        {% include 'main/_sections/schedule_2_columns.html' %}
    </section>

    <section id="variant-instagram-1" class="vim" vbs="vkj" vbp="image,gallery" vbr="{% trans 'Instagram Gallery' %}">
        {% include 'main/_sections/instagram_gallery.html' %}
    </section>

    <section id="variant-instagram-2" class="vim" vbs="text-mrv" vbp="text,list"
             vbr="{% trans 'Instagram Gallery with Text' %}">
        {% include 'main/_sections/instagram_gallery_with_text.html' %}
    </section>

    <section id="variant-lightbox-1" class="vim" vbs="vkj" vbp="image,gallery" vbr="{% trans 'Lightbox Gallery' %}">
        {% include 'main/_sections/lightbox_gallery.html' %}
    </section>

    <section id="variant-lightbox-2" class="vim" vbs="text-mrv" vbp="text,list"
             vbr="{% trans 'Lightbox Gallery with Text' %}">
        {% include 'main/_sections/lightbox_gallery_with_text.html' %}
    </section>

    <section id="variant-pricing-1" class="vim" vbs="vkj" vbp="header" vbr="{% trans 'Pricing Options' %} ">
        {% include 'main/_sections/pricing_options.html' %}
    </section>

    <section id="variant-faq-1" class="vim" vbs="text-mrv" vbp="text" vbr="{% trans 'FAQ Text' %}">
        {% include 'main/_sections/faq_text.html' %}
    </section>

    <section id="variant-countdown-divider-1" class="vim" vbs="vkj" vbp="image" vbr="{% trans 'Countdown Divider' %}">
        {% include 'main/_sections/countdown_divider.html' %}
    </section>

    <section id="variant-cta-1" class="vim" vbs="vkj" vbp="image" vbr="{% trans 'Call To Action' %}">
        {% include 'main/_sections/call_to_action.html' %}
    </section>

    <section id="variant-register-1" class="vim" vbs="text-mrv" vbp="text,forms" vbr="{% trans 'Form with image' %}">
        {% include 'main/_sections/form_with_image.html' %}
    </section>

    <section id="variant-sponsors-1" class="vim" vbs="vkj" vbp="image,list" vbr="{% trans 'Sponsors / Clients' %}">
        {% include 'main/_sections/sponsors_clients.html' %}
    </section>

    <section id="variant-visitors-1" class="vim" vbs="text-mrv" vbp="list,text,image"
             vbr="{% trans 'Additional info columns' %}">
        {% include 'main/_sections/additional_info_columns.html' %}
    </section>

    <section id="variant-subscribe-2" class="vim" vbs="vkj" vbp="forms" vbr="{% trans 'Subscribe' %}">
        {% include 'main/_sections/subscribe.html' %}
    </section>

    <section id="variant-tweets-1" class="vim" vbs="vkj" vbp="social,map" vbr="{% trans 'Tweets with map' %}">
        {% include 'main/_sections/tweets_with_map.html' %}
    </section>

    <section id="variant-contact-1" class="vim" vbs="vkj" vbp="social,map,forms" vbr="{% trans 'Form with map' %}">
        {% include 'main/_sections/form_with_map.html' %}
    </section>

    <section id="variant-map-1" class="vim" vbs="vkj" vbp="social,map" vbr="{% trans 'Fullwidth Map' %}">
        {% include 'main/_sections/fullwidth_map.html' %}
    </section>

    <section id="variant-subscribe-1" class="vim" vbs="vkj" vbp="forms,image" vbr="{% trans 'Subscribe with Tweets' %}">
        {% include 'main/_sections/subscribe_with_tweets.html' %}
    </section>

    <section id="variant-404-1" class="vim" vbs="text-mrv" vbp="page" vbr="{% trans '404 Page' %}">
        {% include 'main/_sections/404_page.html' %}
    </section>

    <section id="variant-top-nav-1" class="vev" data-vjt="Top Nav" vbs="nav" vbr="Main Nav" data-vff="[{&quot;name&quot;:&quot;Overlay Bar&quot;,&quot;className&quot;:&quot;overlay-nav&quot;},{&quot;name&quot;:&quot;Top Bar&quot;,&quot;className&quot;:&quot;relative-nav&quot;}]">

		<nav>
			<div class="container">
				<div class="row">
					<div class="col-md-2">
                        <img alt="Logo" class="logo logo-light" delay-src="../img/logo.png">
                        <img alt="Logo" class="logo logo-dark" delay-src="../img/logo-dark.png">
					</div>

					<div class="col-md-10 text-right">
						<ul class="menu">
							<li><a class="inner-link" href="#about-scroll" vht="parent">Single Link</a></li>
							<li class="has-dropdown"><a vht="parent" href="#">Dropdown</a>
								<ul class="nav-dropdown">
									<li><a vht="parent" href="#">Dropdown 1</a></li>
									<li><a vht="parent" href="#">Dropdown 2</a></li>
									<li><a vht="parent" href="#">Dropdown 3</a></li>
								</ul>
							</li>
							<li><a class="inner-link" href="#home">Single Link</a></li>
							<li class="social-link"><a href="#"><i vht="li" class="icon social_twitter"></i></a></li>
							<li class="social-link"><a href="#"><i vht="li" class="icon social_facebook"></i></a></li>
							<li class="social-link instagram-toggle" vjw=".instagram-sidebar"><a href="#" class="instagram-toggle-init"><i class="icon social_instagram"></i></a></li>
						</ul>
						<div class="sidebar-menu-toggle"><i vht="parent" class="icon icon_menu" vjw=".sidebar-menu"></i></div>
						<div class="mobile-menu-toggle"><i vht="parent" class="icon icon_menu"></i></div>

					</div>
				</div>
			</div>

			<div class="bottom-border"></div>

			<div class="sidebar-menu">
				<img alt="Logo" class="logo" delay-src="../img/logo.png">
				<div class="bottom-border"></div>
				<div class="sidebar-content">

					<div class="widget">
						<ul class="menu">
							<li><a vht="parent" class="inner-link" href="#top">Home</a></li>
							<li><a vht="parent" class="inner-link" href="#about-scroll">About</a></li>
							<li><a vht="parent" class="inner-link" href="#home">Schedule</a></li>
							<li><a vht="parent" class="inner-link" href="#home">Tickets</a></li>
							<li><a vht="parent" class="inner-link" href="#home">Register</a></li>
							<li><a vht="parent" class="inner-link" href="#home">Visitors</a></li>
							<li><a vht="parent" class="inner-link" href="#home">Subscribe</a></li>
						</ul>
					</div>

					<div class="widget">
						<ul class="social-profiles">
							<li><a href="#"><i vht="parent" class="icon social_twitter"></i></a></li>
							<li><a href="#"><i vht="parent" class="icon social_facebook"></i></a></li>
							<li><a href="#"><i vht="parent" class="icon social_dribbble"></i></a></li>
							<li><a href="#"><i vht="parent" class="icon social_instagram"></i></a></li>
							<li><a href="#"><i vht="parent" class="icon social_googleplus"></i></a></li>
						</ul>
					</div>

					<div class="copy-text">
						<span>&copy; Copyright 2014 Meetup Inc.</span>
					</div>
				</div>
			</div>

			<div class="instagram-sidebar" data-vip="{&quot;buttonText&quot;:&quot;Edit Instagram Feed&quot;,&quot;modalTitle&quot;:&quot;Edit Instagram Feed&quot;,&quot;modalIntro&quot;:&quot;Enter the username for your desired Instagram feed.&quot;,&quot;modalInputLabel&quot;:&quot;Instagram username:&quot;,&quot;selector&quot;:&quot;.instafeed&quot;,&quot;attribute&quot;:&quot;data-user-name&quot;,&quot;refresh&quot;:&quot;true&quot;}">
				<div class="instafeed" data-user-name="insideenvato">
					<ul></ul>
				</div>
			</div>

		</nav>
    </section>

</div>

<div id="vdk" class="vih">

    <section id="variant-footer-1" class="vim" vbs="footer" vbp="misc" vbr="Footer Long">
        <footer class="classic">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <ul class="menu">
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a class="inner-link back-to-top" href="#top">Back To Top</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-5">
                        <span class="lead color-heading">About Meetup</span>

                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo.
                        </p>
                    </div>

                    <div class="col-sm-4">
                        <ul class="contact-methods">
                            <li><i class="icon pe-7s-mail"></i><span>hello@meetup.net</span></li>
                            <li><i class="icon pe-7s-phone"></i><span>1800 382 372</span></li>
                            <li><i class="icon pe-7s-map-marker"></i><span>San Francisco, CA</span></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul class="social-profiles">
                            <li><a href="#"><i class="icon social_twitter"></i></a></li>
                            <li><a href="#"><i class="icon social_facebook"></i></a></li>
                            <li><a href="#"><i class="icon social_dribbble"></i></a></li>
                            <li><a href="#"><i class="icon social_instagram"></i></a></li>
                            <li><a href="#"><i class="icon social_googleplus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    <section id="variant-footer-2" class="vim" vbs="footer" vbp="misc" vbr="Footer Short">
        <footer class="short footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="text-white">&copy; {% trans 'Copyright 2015 eventus.' %}</span>
                    </div>

                    <div class="col-sm-9 text-right">
                        <ul class="menu">
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a class="inner-link back-to-top" href="#top">Back To Top&nbsp;<i
                                    class="icon pe-7s-angle-up-circle"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>
    </section>

</div>


<div id="vdt" class="vih">
			<pre>
				<code id="vji" data-name="Original">
                    &lt;!doctype html&gt;
                    &lt;html lang="en"&gt;
                    &lt;head&gt;
                    &lt;meta charset="utf-8"&gt;
                    &lt;title&gt;{{ event.nick }}&lt;/title&gt;
                    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                    &lt;link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"
                    media="all"/&gt;
                    &lt;link href="{% static 'main/css/flexslider.min.css' %}" rel="stylesheet" type="text/css"
                    media="all"/&gt;
                    &lt;link href="{% static 'main/css/elegant-icons.min.css' %}" rel="stylesheet"
                    type="text/css" media="all"/&gt;
                    &lt;link href="{% static 'main/css/pe-icon-7-stroke.min.css' %}" rel="stylesheet"
                    type="text/css" media="all"/&gt;
                    &lt;link href="{% static 'main/css/lightbox.min.css' %}" rel="stylesheet" type="text/css"
                    media="all"/&gt;
                    &lt;link href="{% static 'main/variant/theme/css/theme.css' %}" rel="stylesheet" type="text/css"
                    media="all"/&gt;
                    &lt;link href="{% static 'main/variant/theme/css/theme-helper.css' %}" rel="stylesheet" type="text/css"
                    media="all"/&gt;
                    &lt;link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet'
                    type='text/css'&gt;
                    &lt;/head&gt;
                    &lt;body [optional-body-classes]&gt;

                    &lt;div class="loader"&gt;
                    &lt;div class="strip-holder"&gt;
                    &lt;div class="strip-1"&gt;&lt;/div&gt;
                    &lt;div class="strip-2"&gt;&lt;/div&gt;
                    &lt;div class="strip-3"&gt;&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;a id="top"&gt;&lt;/a&gt;
                </code>
			</pre>
</div>


<div id="vfv" class="vih">
			<pre>
				<code id="vif" name="Original">
                    {#                    &lt;script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" &gt;&lt;/script&gt;#}
                    &lt;div id="fb-root"&gt;&lt;/div&gt;
                    &lt;script src="{% static 'main/js/jquery.min.js' %}"&gt;&lt;/script&gt;
                    &lt;script src="{% static 'main/js/bootstrap.min.js' %}"&gt;&lt;/script&gt;
                    &lt;script src="{% static 'main/js/skrollr.min.js' %}"&gt;&lt;/script&gt;
                    &lt;script src="{% static 'main/js/spectragram.min.js' %}"&gt;&lt;/script&gt;
                    &lt;script src="{% static 'main/js/flexslider.min.js' %}"&gt;&lt;/script&gt;
                    &lt;script src="{% static 'main/js/jquery.plugin.min.js' %}"&gt;&lt;/script&gt;
                    &lt;script src="{% static 'main/js/jquery.countdown.min.js' %}"&gt;&lt;/script&gt;
                    &lt;script src="{% static 'main/js/lightbox.min.js' %}"&gt;&lt;/script&gt;
                    &lt;script src="{% static 'main/js/smooth-scroll.min.js' %}"&gt;&lt;/script&gt;
                    &lt;script src="{% static 'main/js/twitterfetcher.min.js' %}"&gt;&lt;/script&gt;
                    &lt;script src="{% static 'main/js/placeholders.min.js' %}"&gt;&lt;/script&gt;
                    &lt;script src="{% static 'main/js/placeholders.min.js' %}"&gt;&lt;/script&gt;
                    &lt;script>
                        var fbAppId = '{{ FB_APP_ID }}';
                    &lt;/script&gt;
                    &lt;script type="application/json" class="event_params">
                        TICKETS_JSON
                    &lt;/script&gt;
                    &lt;script src="{% static 'main/js/scripts.js' %}"&gt;&lt;/script&gt;
                    &lt;script src="{% static 'main/js/home/fb.extend.js' %}?39985423523"&gt;&lt;/script&gt;
                    &lt;script src="{% static 'main/js/fb/fb.js' %}"&gt;&lt;/script&gt;
                    &lt;script &gt;
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                    ga('create', 'UA-68601535-1', 'auto');
                    ga('send', 'pageview');
                     &lt;/script&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;
                </code>
			</pre>
</div>

<div id="vbn" class="vih"></div>

<div id="vbl" class="vih"></div>

<ul id="vhl" class="vih"></ul>

<div id="vdp" class="vih"></div>

<script class="vaz" type="application/json">
			{
				"original":
				{
					"name":"{{ event.nick }}",
					"pathToOriginal":"mixture/public/css/less/",
					"originalFileName":"theme",
					"colours":["#0072bc"]
				},
				"schemes":
				[
					{
						"name":"Tedx",
						"colours":["#000000"]
					},
					{
						"name":"DeepBlue",
						"colours":["#005790"]
					},
					{
						"name":"OceanFloor",
						"colours":["#004470"]
					},
					{
						"name":"LightJade",
						"colours":["#00BF8A"]
					},
					{
						"name":"Jaded",
						"colours":["#00936B"]
					},
					{
						"name":"Grass",
						"colours":["#47B40C"]
					},
					{
						"name":"Leaf",
						"colours":["#379D16"]
					},
					{
						"name":"Sulphur",
						"colours":["#DCBE00"]
					},
					{
						"name":"HumbleBumble",
						"colours":["#FFDB00"]
					},
					{
						"name":"Camaro",
						"colours":["#FFA900"]
					},
					{
						"name":"ProperOrange",
						"colours":["#FF8700"]
					},
					{
						"name":"Hot",
						"colours":["#FF5F00"]
					},
					{
						"name":"Lava",
						"colours":["#E12B00"]
					},
					{
						"name":"Haemo",
						"colours":["#A32834"]
					},
					{
						"name":"Handbag",
						"colours":["#E9004E"]
					},
					{
						"name":"Lippy",
						"colours":["#D6116E"]
					},
					{
						"name":"Powerpuff",
						"colours":["#C600AE"]
					},
					{
						"name":"Debbie",
						"colours":["#7300C2"]
					},
					{
						"name":"GunmetalPurple",
						"colours":["#572864"]
					}
				]
			}
		</script>

<script id="vkk" type="application/json">
			{ 
				"options":[
					{	
						"type":"toggle",
						"class":"boxed-layout",
						"text":"Boxed Layout",
						"initial":"off",
						"icon":"resize-width"
					},
					{	
						"type":"toggle",
						"class":"no-loader",
						"text":"Disable Loader",
						"initial":"off",
						"icon":"reload"
					}
				]
			}
		</script>

<div id="veu" class="vih">
    {% if event.page_scheme.main %}
        {{ event.page_scheme.main|safe }}
    {% else %}
        <div class="nav-container">
        </div>
        <div class="main-container">
        </div>
        <div class="footer-container">
        </div>
    {% endif %}
</div>

<a class="vml vih" href="#purchase-template" target="_blank">Buy Now</a>

<div class="vml vls">
    <div class="vdq">
        <span class="vhq" style="color: #fff">{% trans 'Publish Page' %}</span>
    </div>
</div>

<script src="{% static 'main/js/jquery.min.js' %}"></script>

<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/variant/theme/js/datatables/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/variant/theme/js/datatables/dataTables.bootstrap.js' %}"></script>

<script src="{% static 'main/variant/theme/js/skrollr.min.js' %}"></script>
<script src="{% static 'main/variant/theme/js/spectragram.min.js' %}"></script>
<script src="{% static 'main/variant/theme/js/flexslider.min.js' %}"></script>
<script src="{% static 'main/variant/theme/js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'main/variant/theme/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'main/variant/theme/js/lightbox.min.js' %}"></script>
<script src="{% static 'main/variant/theme/js/smooth-scroll.min.js' %}"></script>
<script src="{% static 'main/variant/theme/js/twitterfetcher.min.js' %}"></script>


<script src="https://www.youtube.com/iframe_api"></script>
<script src="{% static 'main/variant/js/alterClass.js' %}"></script>
<script src="{% static 'main/variant/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script src="{% static 'main/variant/js/storage2.js' %}"></script>
<script src="{% static 'main/variant/js/reInit.js' %}"></script>
<script src="{% static 'main/variant/js/simpleModal.js' %}"></script>
<script src="{% static 'main/variant/js/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'main/variant/js/jsZip.js' %}"></script>
<script src="{% static 'main/variant/js/saveAs.js' %}"></script>
<script>
    {% url 'main:show_event' event.nick as url_show_event %}
    fbAppId = '{{ FB_APP_ID }}', eventSlug = '{{ event.nick }}',
            variantText = {
                Edit_Image: '{% trans 'Edit Image' %}',
                Show_Previous_Slide: '{% trans 'Show Previous Slide' %}',
                Delete_Slide: '{% trans 'Delete Slide' %}',
                Show_next_Slide: '{% trans 'Show next Slide' %}',
                Clone_Slide: '{% trans 'Clone Slide' %}',
                modal_title: '{% trans 'Modal Title' %}',
                modal_message: '{% trans 'Wait Please, your page is being saving ...' %}',
                success_save_scheme: '{% blocktrans %}Your page has been updated click <a href="{{ url_show_event }}"'+
                    ' target="_blank">here</a> to see it like a guest{% endblocktrans %}'
            },
            eventusServices = {
                save_scheme: '{% url 'event:scheme' event.nick %}'
            },eventusTheme='{{ event.page_scheme.theme|default:'theme.css' }}';

    function showEditingTicketMenu($tr) {
        var $input = $('<input type="text">');

        $tr.find("[vname]").each(function () {
            $input.val($(this).text());
            $input.attr('type', $(this).attr('type'));
            $input.css('width', $(this).css('width'));
            $(this).attr('last_value', $input.val());
            $(this).html($input.clone());

        });

        var $table = $($tr.parents('table'));
        $tr.find('.saveTicket').show();
        $tr.find('.cancelEditTicket').show();
        $tr.find("[vname] input:first").focus();
        $table.find('.editTicket').hide();
        $table.find('.deleteTicket').hide();
        $('.addTicket').hide();
    }

    function showNormalTicketMenu($tr) {
        $tr.find('.saveTicket').hide();
        $tr.find('.cancelEditTicket').hide();
        var $table = $($tr.parents('table'));
        $table.find('.editTicket').show();
        $table.find('.deleteTicket').show();
        $('.addTicket').show();
    }

    $(document).on('click', '.editTicket', function () {
        var $tr = $($(this).parents('tr'));
        showEditingTicketMenu($tr);
    });

    $(document).on('click', '.saveTicket', function () {
        var $tr = $($(this).parents('tr'));

        var ticket = {
            id: $tr.attr('vid'),
            name: $tr.find("[vname=name] input").val(),
            cost: $tr.find("[vname=cost] input").val(),
            quantity: $tr.find("[vname=quantity] input").val(),
            event:{{ event.id }}
        };
        $.post('{% url 'event:save_ticket'%}', ticket, function (response) {
            if (response.success) {
                $tr.attr('vid', response.id);
                $tr.find("[vname]").each(function () {
                    $(this).html($(this).find('input').val());
                });
                $('.input-error').removeClass('input-error');
                showNormalTicketMenu($tr);
            } else {
                for (var i = 0; i < response.length; i++) {
                    $tr.find('[vname=' + response[i] + '] input').addClass('input-error');
                }
            }
        });
    });

    $(document).on('click', '.cancelEditTicket', function () {
        var $tr = $($(this).parents('tr'));
        if ($tr.attr('vid') > 0) {
            $tr.find("[vname]").each(function () {
                $(this).html($(this).attr('last_value'));
            });
            showNormalTicketMenu($tr);
        } else {
            showNormalTicketMenu($tr);
            $tr.remove();
        }
    });

    $(document).on('click', '.deleteTicket', function () {
        var $tr = $($(this).parents('tr'));
        $.post('{% url 'event:delete_ticket'%}', {id: $tr.attr('vid')}, function (response) {
            if (response.success) {
                $tr.remove();
            } else {
                alert('{% trans 'this tickets is been using, cannot be deleted' %}');
            }
        });
    });

    $('.addTicket').on('click', function () {
        var $table = $('#ticketsTable');
        var $tr = $('<tr vid="">' +
                '<td><span class="oi" data-glyph="bookmark"></span></td>' +
                '<td vname="name" type="text"></td>' +
                '<td vname="cost" type="number"></td>' +
                '<td vname="quantity" type="number"></td>' +
                '<td>' +
                '<a class="saveTicket" title="add" style="display: none;"><span class="vlbc oi" data-glyph="check"></span></a>' +
                '<a class="cancelEditTicket" title="cancel" style="display: none;"><span class="vlbc oi" data-glyph="x"></span></a>' +
                '<a class="editTicket" title="edit" style="display: inline;"><span class="vlbc oi" data-glyph="pencil"></span></a>' +
                '<a class="deleteTicket" title="delete" style="display: inline;"><span class="vlbc oi" data-glyph="trash"></span></a>' +
                '</td>' +
                '</tr>');
        $table.append($tr);
        showEditingTicketMenu($tr);
    });

    function showRegisterForm(fbResponse) {
        $('.fb-login').hide();
        $('#id_firstName').val(fbResponse.first_name);
        $('#id_lastName').val(fbResponse.last_name);
        $('#id_email').val(fbResponse.email);
        $('#id_fbId').val(fbResponse.id);
        $('form.email-form').removeClass('hide');
    }

    $(document).ready(function () {
        $('#peopleTable').DataTable({
            "dom": "<'row'<'col-md-8 col-sm-12'><'col-md-4 col-sm-12'<'table-group-actions pull-right'>>><'table-scrollable't><'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'>>",
            "lengthMenu": [
                [10, 20, 50, 100, 150, -1],
                [10, 20, 50, 100, 150, "All"] // change per page values here
            ],
            "pageLength": 10, // default record count per page
            {#                    "processing": true,#}
            "serverSide": true,
            "bInfo": false,
            ajax: {
                url: '{% url 'event:registers_json' event.nick %}',
                type: 'POST'
            },
            columns: [
                {"data": 'id'},
                {"data": 'ticket__name'},
                {"data": 'person__first_name'},
                {"data": 'person__last_name'},
                {"data": 'voucher'},
                {"data": 'status'},
                {"data": 'created_at'}
            ]
        });


    });
</script>

<script src="{% static 'main/variant/js/init-unminified.js' %}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68601535-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>