.in-white {
    color: #000 !important;
}

.in-white h6,.in-white p{
    color: #000 !important;
}

.in-white:before {
    background-color: #fff !important;
    opacity: 0 !important;;
}

#ticket_id:hover {
    background-color: #ccc;
    color: #000;
    box-shadow: 0 0 10px 100px #1882A8 inset;
}