/*!
// Contents
// ------------------------------------------------

 1. Mixins
 2. Helper classes & resets
 3. Loader
 4. Colours
 5. Typography
 6. Spacing
 7. Buttons
 8. Navigation
 9. Slider, Dividers
 10. Speakers & Topics
 11. Schedule
 12. Galleries
 13. Pricing & FAQ
 14. Subscribe
 15. Contact
 16. Forms
 17. Footers
 18. Tabs - foundry
 36. SPACING
// --------------------------------------------------*/
/*!
// 1. Useful Mixins
// --------------------------------------------------*/
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical-align-cancel {
  top: 0px;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.preserve-3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.transition-100 {
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
}
.transition-300 {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.transition-700 {
  transition: all 0.7s ease-out;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
}
.overlay:before {
  background-color: #333333;
  opacity: 0.5;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
}
.overlay .container {
  position: relative;
  z-index: 2;
}
.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fullscreen {
  height: 100vh;
}
/*!
// 2. Helper Classes & Resets
// --------------------------------------------------*/
.go-right {
  right: 0px;
}
.go-left {
  left: 0px;
}
img {
  max-width: 100%;
}
.main-container {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
/*!
// 3. Loader
// --------------------------------------------------*/
.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: #fff;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  opacity: 1;
}
.strip-holder {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  margin-left: -50px;
  position: relative;
}
.strip-1,
.strip-2,
.strip-3 {
  width: 20px;
  height: 20px;
  background: #00936b;
  position: relative;
  -webkit-animation: stripMove 2s ease infinite alternate;
  animation: stripMove 2s ease infinite alternate;
  -moz-animation: stripMove 2s ease infinite alternate;
}
.strip-2 {
  -webkit-animation-duration: 2.1s;
  animation-duration: 2.1s;
  background-color: #00f9b5;
}
.strip-3 {
  -webkit-animation-duration: 2.2s;
  animation-duration: 2.2s;
  background-color: #60ffd4;
}
@-webkit-keyframes stripMove {
  0% {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
  }
  50% {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    transform: scale(4, 1);
    -webkit-transform: scale(4, 1);
    -moz-transform: scale(4, 1);
  }
  100% {
    transform: translate3d(-50px, 0px, 0px);
    -webkit-transform: translate3d(-50px, 0px, 0px);
    -moz-transform: translate3d(-50px, 0px, 0px);
  }
}
@-moz-keyframes stripMove {
  0% {
    transform: translate3d(-50px, 0px, 0px);
    -webkit-transform: translate3d(-50px, 0px, 0px);
    -moz-transform: translate3d(-50px, 0px, 0px);
  }
  50% {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    transform: scale(4, 1);
    -webkit-transform: scale(4, 1);
    -moz-transform: scale(4, 1);
  }
  100% {
    transform: translate3d(50px, 0px, 0px);
    -webkit-transform: translate3d(50px, 0px, 0px);
    -moz-transform: translate3d(50px, 0px, 0px);
  }
}
@keyframes stripMove {
  0% {
    transform: translate3d(-50px, 0px, 0px);
    -webkit-transform: translate3d(-50px, 0px, 0px);
    -moz-transform: translate3d(-50px, 0px, 0px);
  }
  50% {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    transform: scale(4, 1);
    -webkit-transform: scale(4, 1);
    -moz-transform: scale(4, 1);
  }
  100% {
    transform: translate3d(50px, 0px, 0px);
    -webkit-transform: translate3d(50px, 0px, 0px);
    -moz-transform: translate3d(50px, 0px, 0px);
  }
}
.main-container {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  opacity: 0;
}
nav {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  opacity: 0;
}
.show-content {
  opacity: 1 !important;
}
.hide-loader {
  opacity: 0 !important;
}
/*!
// 4. Colours
// --------------------------------------------------*/
.background-dark {
  background-color: #333333 !important;
}
.color-heading {
  color: #333333;
}
/*!
// 5. Typography
// --------------------------------------------------*/
.text-white {
  color: #fff;
}
body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  color: #777777;
  font-size: 14px;
  line-height: 24px;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0px;
  color: #333333;
}
h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 42px;
}
h3 {
  font-size: 20px;
  line-height: 28px;
}
.large-h1 {
  font-size: 42px;
  line-height: 48px;
  font-weight: 300;
}
p {
  font-size: 14px;
  line-height: 24px;
}
p:last-child {
  margin-bottom: 0px;
}
p.lead {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}
span.lead {
  font-weight: 400;
}
.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: -1px;
}
.uppercase {
  font-weight: 400;
  text-transform: uppercase;
}
h1.uppercase {
  letter-spacing: 17px;
  margin-right: -17px;
}
h2.uppercase {
  letter-spacing: 10px;
  margin-right: -10px;
}
h3.uppercase {
  letter-spacing: 6px;
  margin-right: -6px;
}
h4.uppercase {
  letter-spacing: 3px;
  margin-right: -3px;
}
h5.uppercase {
  letter-spacing: 2px;
  margin-right: -2px;
}
h6.uppercase,
.h6-u {
  letter-spacing: 2px;
  font-weight: 700;
}
.bold-h6 {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0px;
  color: #333333;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: -1px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
strong {
  font-weight: 600;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
@media all and (max-width: 767px) {
  h1 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 36px;
  }
  h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .large-h1 {
    font-size: 24px;
    line-height: 28px;
  }
  p {
    font-size: 13px;
    line-height: 22px;
  }
  p.lead {
    font-size: 15px;
    line-height: 26px;
  }
}
/*!
// Spacing Standards
// --------------------------------------------------*/
section {
  padding: 72px 0px;
  background: #fff;
}
.duplicatable-content {
  padding-bottom: 36px;
}
/*!
// 6. Buttons
// --------------------------------------------------*/
a:hover {
  text-decoration: none;
}
h1 a,
span a,
p a,
.text-link a {
  font-weight: 600;
  color: #fff;
  display: inline-block;
  border-bottom: 4px solid #fff;
  padding-bottom: 6px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
span a,
p a,
.text-link a {
  padding-bottom: 4px;
  border-bottom: 3px solid #fff;
}
span a:hover {
  color: #fff;
}
p a,
.text-link a {
  color: #00936b !important;
  border-color: #00936b;
  padding-bottom: 2px;
}
p a,
.text-link a:hover {
  color: #333333;
}
.btn {
  min-width: 180px;
  border-radius: 25px;
  background: #00936b;
  text-align: center;
  padding: 13px 0px 14px 0px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  font-weight: 600;
  line-height: 1;
}
.btn:hover {
  color: #fff;
  background: #007a58;
}
.btn-hollow {
  background: none;
  border: 2px solid #00936b;
  color: #00936b;
}
.btn-hollow:hover {
  background: #00936b;
}
.btn-white {
  background: #fff;
  color: #00936b;
}
.btn-white:hover {
  background: #fff;
  color: #006046;
}
.btn-hollow.btn-white {
  background: none;
  border-color: #fff;
  color: #fff;
}
.btn-hollow.btn-white:hover {
  background: #fff;
  color: #00936b;
}
.btn-lg {
  padding: 20px 0px 21px 0px;
  text-transform: uppercase;
  min-width: 230px;
  border-radius: 35px;
}
/*!
// Backgrounds & Parallax
// --------------------------------------------------*/
.background-image-holder {
  position: absolute;
  width: 100%;
  height: 130%;
  top: -10%;
  background-size: cover !important;
  background-position: 50% 50% !important;
}
.image-holder {
  position: relative;
  overflow: hidden;
}
/*!
// 7. Navigation
// --------------------------------------------------*/
nav .logo {
  max-height: 45px;
  max-width: 110px;
  position: absolute;
  top: -6px;
  opacity: 1;
}
nav .text-right {
  position: relative;
}
nav .container {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.overlay-nav {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  padding-top: 24px;
  line-height: 1;
  background: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.overlay-nav .logo-dark {
  opacity: 0;
}
.overlay-nav.sticky-nav .logo-light {
  opacity: 0;
}
.overlay-nav.sticky-nav .logo-dark {
  opacity: 1;
}
.bottom-border {
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.sidebar-menu .bottom-border {
  position: relative;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.2);
  display: block !important;
}
.menu {
  display: inline-block;
  text-align: left;
  line-height: 1;
}
.menu li {
  float: left;
  margin-right: 32px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
  top: 4px;
}
.menu li:last-child {
  margin-right: 0px;
}
.menu li:nth-las-child(2) {
  margin-right: 12px;
}
.menu li a {
  color: #fff;
  display: inline-block;
  padding-bottom: 24px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.menu li a:hover {
  border-bottom: 2px solid #fff;
}
.nav-dropdown {
  position: absolute;
  z-index: -1;
  max-height: 0px;
  background: rgba(255, 255, 255, 0.9);
  min-width: 200px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.nav-dropdown li:first-child {
  margin-top: 12px;
}
.nav-dropdown li {
  opacity: 0;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  margin-right: 0px;
  float: none;
  margin-bottom: 18px;
}
.nav-dropdown li a {
  padding-bottom: 0px;
  padding-left: 24px;
  color: #333333;
}
.nav-dropdown li a:hover {
  border-color: rgba(0, 0, 0, 0);
}
.has-dropdown:hover .nav-dropdown {
  z-index: 10;
  max-height: 300px;
}
.has-dropdown:hover .nav-dropdown li {
  opacity: 1;
}
.has-dropdown a {
  padding-left: 18px;
}
.has-dropdown:before {
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e688";
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: -6px;
}
.menu .social-link {
  font-size: 14px;
  top: 0px !important;
  margin-right: 18px !important;
}
.menu .social-link:nth-last-child(2) {
  margin-right: 18px;
}
.sticky-nav {
  background: rgba(255, 255, 255, 0.9);
}
.sticky-nav .menu li a {
  color: #333333;
}
.sticky-nav .bottom-border {
  display: none;
}
.sticky-nav .menu li a:hover {
  border-color: rgba(0, 0, 0, 0);
}
.sticky-nav .sidebar-menu-toggle,
.sticky-nav .mobile-menu-toggle {
  color: #333333;
}
.sticky-nav .nav-dropdown {
  background: rgba(255, 255, 255, 0.9);
}
.sticky-nav .has-dropdown:before {
  color: #333333;
}
.sidebar-menu-toggle,
.mobile-menu-toggle {
  position: absolute;
  color: #fff;
  font-size: 32px;
  right: 0px;
  top: -7px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.mobile-menu-toggle {
  display: none;
}
.sidebar-menu,
.instagram-sidebar {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 300px;
  height: 100%;
  background: #333333;
  transform: translate3d(300px, 0px, 0px);
  -webkit-transform: translate3d(300px, 0px, 0px);
  -moz-transform: translate3d(300px, 0px, 0px);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.show-sidebar {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
}
.reveal-sidebar {
  transform: translate3d(-300px, 0px, 0px);
  -webkit-transform: translate3d(-300px, 0px, 0px);
  -moz-transform: translate3d(-300px, 0px, 0px);
}
.sidebar-content {
  padding: 0px 24px;
  margin-top: 24px;
}
.widget {
  margin-bottom: 24px;
}
.widget .title {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 12px;
}
.widget .menu li {
  float: none;
  margin-bottom: 12px;
}
.widget .menu li a {
  padding-bottom: 0px;
  color: #fff !important;
  font-size: 12px;
}
.widget .menu li a:hover {
  border-color: rgba(0, 0, 0, 0);
}
.widget .menu .social-link {
  display: none;
}
.widget .social-profiles li {
  margin-right: 24px;
}
.widget .social-profiles li a {
  color: #fff;
}
.instagram-toggle {
  cursor: pointer;
}
.instagram-toggle-init {
  pointer-events: none;
}
.instagram-sidebar li {
  width: 100%;
  height: 250px;
}
.instagram-sidebar {
  overflow-y: auto;
}
.sidebar-content .copy-text {
  position: absolute;
  bottom: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
.text-panel {
  background: #474747;
  padding: 18px;
}
.relative-nav {
  position: relative;
  padding-top: 28px;
  background: #fff;
}
.relative-nav .menu li a {
  color: #333333;
}
.relative-nav .has-dropdown:before {
  color: #333333;
}
.relative-nav .nav-dropdown {
  background: rgba(53, 53, 53, 0.8);
}
.relative-nav .has-dropdown li a {
  color: #fff;
}
.relative-nav .sidebar-menu-toggle {
  color: #333333;
}
.relative-nav .logo-light {
  opacity: 0 !important;
}
.relative-nav .logo-dark {
  opacity: 1 !important;
}
.relative-nav .logo {
  top: -4px !important;
}
.sidebar-menu .logo {
  max-width: 110px;
  position: relative;
  top: 21px !important;
  margin-bottom: 32px;
  left: 24px;
}
@media all and (max-width: 768px) {
  nav {
    max-height: 67px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9) !important;
  }
  nav .menu li {
    float: none;
    margin-bottom: 24px;
  }
  nav .menu li a {
    color: #333333 !important;
    padding-bottom: 0px;
  }
  nav .logo {
    max-width: 90px;
    top: -2px;
  }
  nav .logo-dark {
    opacity: 1 !important;
  }
  nav .logo-light {
    opacity: 0 !important;
  }
  nav .menu {
    width: 100%;
    display: block;
    margin-top: 67px;
    margin-right: 0px;
  }
  nav .social-link {
    float: left !important;
  }
  .sidebar-menu-toggle {
    display: none;
  }
  .mobile-menu-toggle {
    display: block;
    position: fixed;
    top: 17px;
    right: 24px;
    color: #333333 !important;
  }
  .open-menu {
    max-height: 800px !important;
  }
  .nav-dropdown {
    position: relative;
    display: none;
  }
  .has-dropdown:hover .nav-dropdown {
    display: block;
  }
  .has-dropdown:before {
    color: #333333;
  }
}
/*!
// 8. Sliders & Dividers & Headers
// --------------------------------------------------*/
.hero-slider {
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.hero-slider .slides li {
  height: 780px;
  position: relative;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.hero-slider .slides li:before {
  background-color: #333333;
  opacity: 0.4;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
}
.hero-slider .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.hero-slider h1 {
  margin-bottom: 42px;
}
.hero-slider .btn-hollow {
  color: #fff;
  border-color: #fff;
  margin-left: 16px;
}
.hero-slider .btn-hollow:hover {
  background: #fff;
  color: #00936b;
}
@media all and (max-width: 767px) {
  .hero-slider .btn-hollow {
    display: none;
  }
}
.register-header form.register {
  padding-top: 0px;
  background: rgba(0, 0, 0, 0.4);
  padding: 24px;
}
.register-header form input {
  width: 100% !important;
}
.register-header form.register span {
  color: #fff;
}
.register-header .logo,
.hero-slide .logo {
  max-width: 150px;
  display: block;
  margin-bottom: 12px;
}
.register-header h1 {
  margin-bottom: 24px !important;
}
@media all and (max-width: 768px) {
  .register-header form.register .form-name,
  .register-header form.register .form-email {
    max-width: 100%;
    width: 100%;
  }
}
@media all and (min-width: 321px) and (max-width: 767px) and (orientation: landscape) {
  .register-header form.register .form-name,
  .register-header form.register .form-email {
    width: 50%;
  }
}
@media all and (max-width: 767px) {
  .hero-slide .logo {
    max-width: 100px;
  }
  .register-header .logo {
    display: none;
  }
  .register-header h1 {
    display: none;
  }
  .register-header form h1 {
    display: block;
  }
  .register-header span.lead {
    display: none;
  }
  .register-header input,
  .register-header .select-holder {
    max-width: 100% !important;
  }
  .hero-slider h1 {
    margin-bottom: 18px;
  }
}
.testimonials-slider {
  position: relative;
  margin-bottom: 48px;
}
.testimonials-slider .flex-control-nav a {
  background: rgba(0, 0, 0, 0.3);
}
.testimonials-slider .flex-control-nav a.flex-active {
  background: rgba(0, 0, 0, 0.8);
}
.testimonials-slider .flex-control-nav a:hover {
  background: rgba(0, 0, 0, 0.8);
}
.testimonials-slider .flex-control-nav {
  bottom: -48px;
  text-align: left;
}
.primary-overlay:before {
  background-color: #00936b;
  opacity: 0.8;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
  background-color: #00936b !important;
}
.strip-divider {
  padding: 216px 0px;
  position: relative;
  overflow: hidden;
}
.strip-divider .container {
  z-index: 2;
  position: relative;
}
.strip-divider h1 {
  margin: 0px;
  font-size: 36px;
  line-height: 48px;
}
.strip-divider a:hover {
  color: #fff !important;
}
@media all and (max-width: 767px) {
  .strip-divider {
    padding: 72px 0px;
  }
}
.countdown-divider {
  padding: 144px 0px;
}
.countdown-divider img,
.countdown-header img,
.video-header img {
  max-width: 300px;
  display: inline-block;
  margin-bottom: 12px;
}
.countdown-header h1 {
  margin-bottom: 0px;
}
.countdown-header:before {
  opacity: 0.8 !important;
}
.video-header:before {
  opacity: 0.5 !important;
  background: #000 !important;
}
.video-header .uppercase,
.countdown-header .uppercase {
  display: block;
  font-weight: 600;
  margin-bottom: 24px;
}
@media all and (max-width: 768px) {
  .countdown-header img,
  .countdown-divider img,
  .video-header img {
    max-width: 150px;
  }
}
.countdown {
  text-align: center;
  margin-top: 72px;
}
.countdown-row {
  color: #fff;
  font-size: 80px;
  font-weight: 300;
}
.countdown-section {
  width: 20%;
  display: inline-block;
}
.countdown-amount {
  display: inline-block;
  margin-bottom: 48px;
}
.countdown-period {
  display: block;
  font-size: 24px;
}
.section-header {
  position: relative;
  overflow: hidden;
  height: 450px;
}
.section-header h1 {
  font-size: 32px;
}
.section-header.overlay:before {
  opacity: 0.2;
}
.section-header i {
  font-size: 40px;
  color: #fff;
  margin: 0px 24px 12px 0px;
}
.section-header i:last-of-type {
  margin-right: 0px;
}
@media all and (max-width: 767px) {
  .countdown {
    margin-top: 48px;
  }
  .countdown-row {
    font-size: 36px;
  }
  .countdown-period {
    font-size: 16px;
  }
}
.video-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.video-wrapper video {
  width: 100%;
}
@media all and (max-width: 1390px) {
  .video-wrapper video {
    width: 110%;
  }
}
@media all and (max-width: 1260px) {
  .video-wrapper video {
    width: 120%;
  }
}
@media all and (max-width: 1160px) {
  .video-wrapper video {
    width: 130%;
  }
}
@media all and (max-width: 1024px) {
  .video-wrapper {
    display: none;
  }
}
.call-to-action {
  padding: 144px 0px;
}
.call-to-action .uppercase {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}
.call-to-action h1 {
  margin-bottom: 32px;
}
.call-to-action .btn {
  margin-bottom: 40px;
}
.call-to-action a i {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  margin-right: 12px;
  font-size: 24px;
  line-height: 60px;
}
.call-to-action .social_facebook {
  background-color: #3b5998;
}
.call-to-action .social_twitter {
  background-color: #00aced;
}
.call-to-action a:last-of-type i {
  margin-right: 0px;
}
@media all and (max-width: 768px) {
  .call-to-action {
    padding: 72px 0px;
  }
}
/*!
// 9. Image with text
// --------------------------------------------------*/
.image-with-text {
  overflow: hidden;
  position: relative;
  height: 600px;
}
.image-with-text h1 {
  margin-bottom: 24px;
}
.side-image {
  padding: 0px;
  position: absolute;
  top: 0px;
  height: 100%;
}
@media all and (max-width: 767px) {
  .image-with-text {
    height: auto;
    padding: 72px 0px;
  }
  .image-with-text .vertical-align {
    top: 0px;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.cover {
  margin: 0;
  padding: 0;
}
.cover h1,
.cover h2,
.cover h3,
.cover h4,
.cover h5,
.cover h6 {
  color: #ffffff;
}
.cover p,
.cover span,
.cover li {
  color: #ffffff;
}
.image-bg.bg-light h1,
.image-bg.bg-light h2,
.image-bg.bg-light h3,
.image-bg.bg-light h4,
.image-bg.bg-light h5,
.image-bg.bg-light h6 {
  color: #222222;
}
.image-bg.bg-light p,
.image-bg.bg-light span,
.image-bg.bg-light li {
  color: #777777;
}
.cover:first-child .fullscreen {
  max-height: 100%;
}
.cover.fullscreen .slides > li {
  height: 100vh;
}
.cover .slides li .container {
  z-index: 4;
  position: relative;
}
.cover .flex-control-nav {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: .9;
}
.cover .flex-control-nav:hover {
  opacity: 1;
}
.cover .align-bottom {
  padding: 0 32px;
  bottom: 16px;
}
.cover .align-top {
  padding: 0 32px;
}
@media all and (max-width: 767px) {
  .cover .align-bottom {
    padding: 0 15px;
  }
  .cover .align-bottom.relative-xs {
    position: relative;
    bottom: 0;
  }
  .cover.fullscreen {
    height: auto;
    padding: 80px 0;
  }
  .cover.fullscreen.image-slider {
    padding: 0;
  }
  .cover.fullscreen .container {
    top: 0;
    transform: none;
    -webkit-transform: none;
  }
  .cover.fullscreen .slides li {
    height: auto;
    padding: 80px 0;
  }
}
/*!
// Promo Blocks
// --------------------------------------------------*/
.color-blocks {
  position: relative;
  overflow: hidden;
  color: #fff;
}
.color-block {
  position: absolute;
  top: 0px;
  height: 100%;
  padding: 0px;
  color: #fff;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.color-blocks h1,
.color-blocks h2,
.color-blocks h3,
.color-blocks h4,
.color-blocks h5,
.color-blocks h6 {
  color: #fff;
}
.color-blocks h1 {
  margin-bottom: 12px;
}
.color-blocks a {
  color: #fff;
  pointer-events: auto;
}
.color-blocks a:hover i {
  transform: rotateZ(-10deg);
}
.color-blocks i,
.contained-promo i {
  color: #00936b;
  font-size: 70px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  line-height: 117px;
  background: #fff;
  text-align: center;
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
}
.block-left {
  background-color: #00936b;
}
.block-right {
  background-color: #006a4d;
  right: 0px;
}
@media all and (max-width: 768px) {
  .block-content {
    margin-bottom: 144px;
    overflow: hidden;
    display: block;
  }
  .block-content:last-of-type {
    margin-bottom: 0px;
  }
  .color-block {
    height: 50%;
    width: 100%;
  }
  .block-right {
    top: 50%;
  }
}
@media all and (max-width: 767px) {
  .block-content i {
    margin-bottom: 30px;
  }
}
/*!
// 10. Speakers & Topics
// --------------------------------------------------*/
.speakers-row {
  padding: 0px 15px;
}
.speaker-column {
  padding: 0px;
}
.speaker {
  position: relative;
  overflow: hidden;
}
.speaker,
.topic {
  margin-bottom: 36px;
}
.speaker .hover-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.speaker .image-holder {
  margin-bottom: 12px;
}
.speaker span {
  display: block;
  font-size: 16px;
}
.speaker-name {
  color: #333333;
}
.speaker .social-links {
  width: 100%;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transform: translate3d(0px, -200px, 0px);
  -webkit-transform: translate3d(0px, -200px, 0px);
  -moz-transform: translate3d(0px, -200px, 0px);
}
.speaker .social-links a {
  color: #fff;
  font-size: 24px;
  display: inline-block;
  margin-left: 6px;
}
.speaker .social-links a:last-child {
  margin-right: 0px;
}
.speaker .image-holder:hover .hover-state {
  opacity: 1;
}
.speaker .image-holder:hover .hover-state .social-links {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
}
.speaker-with-bio {
  overflow: hidden;
  margin-bottom: 36px;
}
.speaker-with-bio .speaker {
  width: 50%;
  float: left;
  margin-bottom: 0px;
}
.speaker-with-bio .speaker-description {
  width: 50%;
  float: left;
  padding-left: 30px;
}
.speaker-description span {
  display: inline-block;
  margin-bottom: 18px;
  font-weight: 600;
}
@media all and (max-width: 767px) {
  .speaker-with-bio .speaker {
    width: 100%;
  }
  .speaker-with-bio .speaker-description {
    width: 100%;
    padding-left: 0px;
  }
}
.topics {
  position: relative;
  overflow: hidden;
}
.topics .container {
  position: relative;
  z-index: 2;
}
.topics.overlay .ruled-list li {
  border-color: rgba(255, 255, 255, 0.5);
}
.topics.overlay .topic i {
  color: #fff;
}
.topic h3 {
  margin-bottom: 18px;
}
.topic p.lead {
  margin-bottom: 32px;
}
.topic i {
  font-size: 60px;
  color: #00936b;
  display: inline-block;
  margin-bottom: 32px;
}
@media all and (max-width: 767px) {
  .topic h3 {
    display: inline-block;
    position: relative;
    bottom: 18px;
    left: 12px;
  }
  .topic i {
    margin-bottom: 12px;
  }
}
.ruled-list li {
  border-top: 1px dotted rgba(0, 0, 0, 0.3);
  padding: 12px 0px;
  font-size: 16px;
}
@media all and (min-width: 321px) and (max-width: 767px) and (orientation: landscape) {
  .speakers-row .col-sm-6 {
    width: 50%;
    float: left !important;
  }
}
/*!
// 11. Schedule
// --------------------------------------------------*/
.inline-video {
  background: #f5f5f5 !important;
}
.inline-video iframe {
  width: 100%;
  height: 300px;
  border: none;
}
.inline-video .btn {
  min-width: 150px;
  margin-top: 32px;
  margin-right: 16px;
}
@media all and (max-width: 768px) {
  .inline-video iframe {
    height: 350px;
    margin-top: 42px;
  }
}
@media all and (max-width: 767px) {
  .inline-video iframe {
    height: 200px;
    margin-top: 30px;
  }
  .inline-video .btn {
    margin-top: 18px;
  }
}
@media all and (min-width: 321px) and (max-width: 767px) and (orientation: landscape) {
  .inline-video iframe {
    height: 250px;
  }
}
.embedded-video-holder p {
  display: none;
}
.schedule-overview {
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 36px;
}
.schedule-overview li {
  padding: 24px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.schedule-overview li:first-child .top {
  display: none;
}
.schedule-overview li:last-child .bottom {
  display: none;
}
.schedule-title span {
  display: block;
  font-size: 16px;
}
.schedule-title .title {
  color: #333333;
}
.schedule-text {
  max-height: 0px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  opacity: 0;
}
.schedule-overview li:hover {
  background-color: #f5f5f5 !important;
}
.schedule-overview li:hover .schedule-text {
  max-height: 300px;
  opacity: 1;
  padding-top: 18px;
}
.schedule-overview li:hover .top,
.schedule-overview li:hover .bottom,
.schedule-overview li:hover .middle {
  border-color: rgba(0, 0, 0, 0.4);
}
.schedule-overview li:hover .middle {
  background: #333333;
}
.schedule-with-text .btn,
.contained-gallery .btn {
  margin-top: 24px;
  margin-right: 12px;
}
.schedule-with-text .schedule-overview li {
  padding-right: 48px;
}
@media all and (max-width: 1024px) {
  .schedule-overview li {
    padding-right: 48px;
  }
}
@media all and (max-width: 767px) {
  .schedule-with-text .btn,
  .contained-gallery .btn {
    margin-bottom: 32px;
  }
}
.marker-pin {
  position: absolute;
  right: 32px;
  top: 0px;
  height: 100%;
}
.marker-pin .top,
.marker-pin .bottom {
  height: 50%;
  width: 2px;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.marker-pin .top {
  top: 0px;
}
.marker-pin .bottom {
  bottom: 0px;
}
.marker-pin .middle {
  width: 18px;
  height: 18px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -9px;
  z-index: 2;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
/*!
// 12. Galleries
// --------------------------------------------------*/
.instagram,
.lightbox-gallery {
  position: relative;
  padding: 216px 0px;
}
.gallery-header .logo {
  max-width: 400px;
  display: block;
  margin: 0px auto;
  margin-bottom: 12px;
}
@media screen and (max-width: 768px) {
  .gallery-header .logo {
    max-width: 200px;
  }
  .gallery-header h1 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}
.instagram,
.lightbox-gallery {
  overflow: hidden;
  background: #000 !important;
}
.instagram ul,
.lightbox-gallery ul {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}
.instagram li,
.lightbox-gallery li {
  float: left;
  width: 20%;
  height: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  overflow: hidden;
  background-size: cover !important;
  opacity: 0.5;
}
.instagram li:hover,
.lightbox-gallery li:hover {
  opacity: 1 !important;
}
.instagram .container,
.lightbox-gallery .container {
  position: relative;
  z-index: 3;
}
.instagram i,
.lightbox-gallery i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 16px;
}
.instagram h1,
.lightbox-gallery h1 {
  font-size: 42px;
  line-height: 48px;
  font-weight: 300;
  margin-bottom: 16px;
}
@media all and (max-width: 1200px) {
  .instagram li:nth-child(n+9),
  .lightbox-gallery li:nth-child(n+9) {
    display: none;
  }
  .instagram li,
  .lightbox-gallery li {
    width: 25%;
  }
}
@media all and (max-width: 900px) {
  .instagram li:nth-child(n+7),
  .lightbox-gallery li:nth-child(n+7) {
    display: none;
  }
  .instagram li,
  .lightbox-gallery li {
    width: 33.333333%;
  }
}
@media all and (max-width: 767px) {
  .instagram,
  .lightbox-gallery {
    padding: 144px 0px;
  }
  .instagram li:nth-child(n+5),
  .lightbox-gallery li:nth-child(n+5) {
    display: none;
  }
  .instagram li,
  .lightbox-gallery li {
    width: 50%;
  }
}
.testimonials {
  background: #f5f5f5 !important;
}
.contained-gallery .instagram,
.contained-gallery .lightbox-gallery {
  padding: 185px 0px;
}
.contained-gallery .instagram li:nth-child(n+9),
.contained-gallery .lightbox-gallery li:nth-child(n+9) {
  display: none;
}
.contained-gallery .instagram li,
.contained-gallery .lightbox-gallery li {
  width: 25%;
  opacity: 0.7;
}
@media all and (max-width: 1024px) {
  .contained-gallery .instagram li:nth-child(n+7) {
    display: none;
  }
  .contained-gallery .lightbox-gallery li:nth-child(n+7) {
    display: none;
  }
  .contained-gallery .instagram li,
  .contained-gallery .lightbox-gallery li {
    width: 33.33333%;
  }
  .contained-gallery .instagram,
  .contained-gallery .lightbox-gallery {
    padding: 200px 0px;
  }
}
@media all and (max-width: 768px) {
  .contained-gallery .instagram,
  .contained-gallery .lightbox-gallery {
    margin-bottom: 32px;
  }
  .contained-gallery .btn {
    margin-bottom: 0px;
  }
  .contained-gallery .instagram li:nth-child(n+5),
  .contained-gallery .lightbox-gallery li:nth-child(n+5) {
    display: block !important;
  }
  .contained-gallery .instagram li:nth-child(n+7),
  .contained-gallery .lightbox-gallery li:nth-child(n+7) {
    display: none !important;
  }
  .contained-gallery .instagram li,
  .contained-gallery .lightbox-gallery li {
    width: 33.33333% !important;
  }
}
/*!
// 13. Pricing
// --------------------------------------------------*/
.pricing-option {
  overflow: hidden;
  background: #f5f5f5 !important;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  padding: 72px 0px;
  margin-bottom: 30px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.pricing-option .dot {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
}
.pricing-option:hover {
  background: #ededed !important;
}
@media all and (min-width: 321px) and (max-width: 767px) and (orientation: landscape) {
  .pricing-options .col-sm-6 {
    width: 50%;
    float: left;
  }
}
.dollar,
.price,
.type {
  font-weight: 600;
  color: #333333;
  font-size: 72px;
}
.dollar {
  font-size: 36px;
  position: relative;
  bottom: 22px;
}
.price {
  line-height: 1;
}
.type {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 12px;
}
.plan-title {
  display: block;
  font-weight: 600;
  margin-bottom: 12px;
  font-size: 18px;
  color: #333333;
}
.pricing-option ul li {
  color: #777777;
}
.pricing-option.emphasis {
  background: #00936b;
  color: #fff;
}
.pricing-option.emphasis .type,
.pricing-option.emphasis .dollar,
.pricing-option.emphasis .price,
.pricing-option.emphasis .plan-title,
.pricing-option.emphasis ul li {
  color: #fff !important;
}
@media all and (max-width: 991px) {
  .type {
    margin-bottom: 12px;
  }
  .pricing-option {
    text-align: center !important;
  }
}
/*!
// Frequently Asked Questions
// --------------------------------------------------*/
.faq-item {
  margin-bottom: 36px;
}
p.question {
  font-weight: 600;
  color: #333333;
  font-size: 16px;
}
/*!
// Visitor Info
// --------------------------------------------------*/
.info-box {
  margin-bottom: 36px;
  position: relative;
  overflow: hidden;
}
.info-box img {
  display: block;
  margin-bottom: 12px;
}
.info-box h3 {
  margin-bottom: 12px;
}
.info-box .text-link {
  position: absolute;
  bottom: 12px;
  right: 0px;
}
.text-link a {
  display: inline-block;
  margin-left: 12px;
}
@media all and (min-width: 321px) and (max-width: 767px) and (orientation: landscape) {
  .visitor-info .col-sm-4 {
    width: 50%;
    float: left;
  }
}
/*!
// 14. Subscribe
// --------------------------------------------------*/
.subscribe-1 {
  position: relative;
  overflow: hidden;
  padding-top: 144px;
  padding-bottom: 36px;
}
.subscribe-1:before {
  background-color: #333333;
  opacity: 0.4;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
}
.subscribe-1 .container {
  position: relative;
  z-index: 2;
}
.subscribe-1 .email-subscribe {
  margin-bottom: 216px;
}
.subscribe-1 footer {
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  padding-top: 36px;
}
.subscribe-1 .twitter-feed {
  margin-bottom: 72px;
}
.subscribe-1 h1 {
  margin-bottom: 30px;
}
.email-subscribe span {
  display: block;
  margin-top: 12px;
}
.twitter-feed i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 32px;
}
.twitter-feed span a {
  border-bottom: none;
}
.tweets-feed .user {
  display: none;
}
.tweets-feed .interact {
  display: none;
}
.tweets-feed .tweet {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.tweets-feed .tweet a {
  color: #fff !important;
  border-color: #fff !important;
}
.tweets-feed .timePosted {
  display: none;
}
@media all and (max-width: 767px) {
  .tweets-feed .tweet {
    font-size: 20px;
    line-height: 26px;
  }
  .subscribe-2 .form-email {
    margin-bottom: 24px;
  }
}
/*!
// 15. Contact
// --------------------------------------------------*/
.contact-tweets {
  background: #00936b;
  color: #fff;
  position: relative;
  overflow: hidden;
  height: 600px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.contact-tweets .social_twitter {
  font-size: 42px;
  margin-bottom: 32px;
  display: inline-block;
}
.contact-tweets .map-holder {
  position: absolute;
  height: 100%;
  padding: 0px;
  top: 0px;
  right: 0px;
}
.contact-tweets .timePosted {
  display: block !important;
}
.map-holder:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
}
.map-holder iframe {
  border: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.contact-tweets span a {
  border-bottom: 2px solid #fff;
  padding-bottom: 1px;
}
.contact-tweets form {
  padding-top: 0px !important;
}
.contact-tweets form .btn {
  background: #fff;
  color: #00936b;
}
.contact-tweets form ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
.contact-tweets form :-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
.contact-tweets form ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
.contact-tweets form :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
.contact-tweets .icon {
  font-size: 60px;
  margin-bottom: 12px;
}
.contact-tweets .form-message {
  max-width: 95.5%;
  width: 95.5%;
}
.fullwidth-map {
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.fullwidth-map .map-holder {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.fullwidth-map.screen:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
/*!
// Sponsors
// --------------------------------------------------*/
.sponsors {
  background: #f5f5f5 !important;
}
.sponsor {
  margin-bottom: 36px;
  height: 80px;
  line-height: 80px;
}
.sponsor img {
  max-width: 150px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  max-height: 80px;
}
.sponsors span {
  display: inline-block;
  margin-top: 24px;
}
.sponsors span a {
  color: #00936b;
  border-color: #00936b;
}
@media all and (min-width: 321px) and (max-width: 767px) and (orientation: landscape) {
  .sponsors .col-sm-6 {
    width: 50%;
    float: left;
  }
}
/*!
// 16. Forms
// --------------------------------------------------*/
form.register {
  overflow: hidden;
  padding-top: 24px;
  display: block;
}
form.register div {
  padding: 0px;
}
input[type="text"],
form.register .select-holder {
  margin-bottom: 32px;
  padding: 12px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  font-size: 14px;
  max-width: 90%;
  color: #fff;
  padding-left: 24px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
input[type="text"]:focus,
form.register .select-holder:focus,
input[type="text"]:hover,
form.register .select-holder:hover {
  outline: none;
  background: rgba(255, 255, 255, 0.2);
}
form.register select {
  width: 90%;
  margin: 0px;
  background: none;
  border: none;
  cursor: pointer;
}
form.register select:focus {
  outline: none;
}
form.register input[type="submit"] {
  padding-bottom: 12px;
  width: 90%;
  margin-bottom: 12px;
}
input[type="submit"] {
  font-weight: normal;
}
.email-subscribe {
  overflow: hidden;
}
.email-subscribe input {
  margin: 0px auto;
  min-width: 100%;
  max-width: 100%;
}
.email-subscribe input[type="text"] {
  background: rgba(255, 255, 255, 0.3);
}
.email-subscribe input[type="text"]:hover,
.email-subscribe input[type="text"]:focus {
  background: rgba(255, 255, 255, 0.4);
}
.email-subscribe ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
.email-subscribe :-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
.email-subscribe ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
.email-subscribe :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
.email-subscribe input[type="submit"] {
  min-height: 48px;
}
.subscribe-2 .email-subscribe input[type="text"] {
  background: rgba(0, 0, 0, 0.2);
}
.subscribe-2 i {
  color: #00936b;
  font-size: 70px;
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 18px;
}
.subscribe-2 i:last-of-type {
  margin-right: 0px;
}
input.error {
  color: #ff4532;
}
.mail-list-form {
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
}
.form-success,
.form-error {
  display: none;
  width: 100%;
  padding: 6px 18px 8px 18px !important;
  margin-top: 12px;
  color: #fff;
  background-color: #55c950;
  border-radius: 20px;
}
.form-error {
  background-color: #D74B4B;
}
form .field-error {
  background: #D74B4B !important;
}
.form-loading {
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  margin: 0px auto;
  top: 50%;
  width: 30px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-out;
  -moz-animation-iteration-count: infinite;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}
@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@media all and (max-width: 767px) {
  form.register input,
  form.register .select-holder {
    width: 100% !important;
    max-width: 100%;
  }
  .subscribe-1 .email-subscribe input[type="text"] {
    margin-bottom: 24px;
  }
}
@media all and (min-width: 321px) and (max-width: 767px) and (orientation: landscape) {
  form.register .col-sm-6 {
    width: 50%;
    float: left;
  }
  form.register input,
  form.register .select-holder {
    max-width: 95% !important;
  }
  form.register input[type="submit"] {
    max-width: 100% !important;
  }
}
/*!
// Utility Pages
// --------------------------------------------------*/
.error-page {
  background: #00936b;
  padding: 0px;
}
.error-page h1 {
  font-size: 84px;
  line-height: 96px;
  margin-bottom: 0px;
  margin-bottom: 12px;
}
.error-page p {
  font-size: 24px;
  line-height: 32px;
}
.error-page i {
  color: #fff;
  font-size: 84px;
  display: inline-block;
  margin-right: 24px;
}
.error-page i:last-of-type {
  margin-right: 0px;
}
.error-page .btn {
  margin-right: 24px;
  margin-top: 12px;
}
@media all and (max-width: 767px) {
  .error-page i {
    display: none;
  }
}
/*!
// 17. Footers
// --------------------------------------------------*/
.footer .top-border {
  height: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 32px;
}
.footer .menu {
  overflow: visible;
}
.footer .menu li {
  top: 0px;
}
.footer .menu li a {
  padding-bottom: 0px;
}
.footer .menu li .btn {
  min-width: 0px;
  padding: 10px 18px;
  font-size: 14px;
}
.footer .menu li a {
  diplay: inline-block;
  position: relative;
  border: none;
}
.footer .menu li a:hover {
  border: none;
}
.footer .back-to-top {
  padding-right: 42px;
}
.footer .menu li a i {
  font-size: 36px;
  position: absolute;
  right: 0px;
  top: -12px;
}
@media all and (max-width: 767px) {
  .footer .text-right {
    text-align: left !important;
  }
  .footer .menu {
    margin-top: 24px;
  }
  .footer .menu li {
    float: none;
    margin-bottom: 12px;
  }
}
footer.classic {
  padding: 72px 0px 36px 0px;
  background: #f5f5f5 !important;
}
footer.classic .menu li {
  float: none;
  margin-bottom: 12px;
}
footer.classic .menu li a {
  color: #333333;
  padding-bottom: 0px;
  font-weight: 600;
}
footer.classic span.lead {
  display: inline-block;
  margin-bottom: 12px;
}
footer.short {
  background: #333333;
  color: #fff;
  padding: 72px 0px;
}
footer.short .top-border {
  height: 1px !important;
}
@media all and (max-width: 767px) {
  footer.classic div {
    margin-bottom: 18px;
  }
}
.contact-methods li {
  margin-bottom: 12px;
}
.contact-methods li:last-child {
  margin-bottom: 0px;
}
.contact-methods i {
  font-size: 36px;
  color: #333333;
}
.contact-methods span {
  display: inline-block;
  position: relative;
  bottom: 10px;
  left: 8px;
  font-size: 16px;
}
footer.classic .social-profiles {
  margin-top: 36px;
}
.social-profiles {
  display: inline-block;
  overflow: hidden;
}
.social-profiles li {
  float: left;
  margin-right: 36px;
}
.social-profiles li:last-child {
  margin-right: 0px;
}
.social-profiles li a {
  color: #333333;
  font-size: 20px;
}
/*!
// 18. Tabs - foundry
// --------------------------------------------------*/
.tabs {
  overflow: hidden;
}
.tabs li {
  display: inline-block;
  cursor: pointer;
}
.tabs.thirds {
  width: 100%;
}
.tabs.thirds li {
  width: 33.3333333%;
}
.tabs.thirds .tab-title {
  width: 100%;
}
.button-tabs .tabs {
  display: inline-block;
  overflow: hidden;
}
.button-tabs .tabs > li {
  margin-bottom: 8px;
  float: left;
}
.button-tabs .tabs > li:last-child {
  margin-right: 0;
}
.button-tabs .tab-title {
  padding: 13px;
  display: inline-block;
  text-align: center;
  min-width: 150px;
  background: #f5f5f5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.bg-secondary .button-tabs .tab-title {
  background: #eee;
}
.button-tabs .tab-title span {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0px;
  color: #333333;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: -1px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
.button-tabs .active .tab-title {
  background: #00936b;
  color: #fff;
}
.button-tabs .tab-title:hover {
  background: #eee;
}
.button-tabs .active .tab-title:hover {
  background: #00936b;
}
.button-tabs.vertical {
  overflow: hidden;
}
.button-tabs.vertical > .tabs {
  max-width: 30%;
  float: left;
}
.button-tabs.vertical > .content {
  padding-left: 3%;
  max-width: 70%;
  float: right;
}
.button-tabs.vertical > .tabs li,
.button-tabs.vertical .tab-title {
  width: 100%;
}
.button-tabs.vertical > .tabs li {
  margin-bottom: 10px;
}
.bg-dark .button-tabs .tab-title span {
  color: #222;
}
@media all and (max-width: 767px) {
  .button-tabs .tabs li {
    width: 49%;
    margin-bottom: 15px;
  }
  .button-tabs.vertical .tabs,
  .button-tabs.vertical .content {
    max-width: 100%;
    width: 100%;
    padding-left: 0;
  }
}
.tabbed-content .content > li {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}
.tabbed-content .content .active {
  opacity: 1;
  visibility: visible;
  display: block;
}
.text-tabs .tabs {
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
  overflow: visible;
}
.text-tabs.no-border .tabs {
  border-bottom: none;
}
.text-tabs .tab-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0 24px;
  opacity: 0.5;
  position: relative;
}
.text-tabs .tab-title span {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0px;
  color: #333333;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: -1px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
.text-tabs .tab-title:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #00936b;
  bottom: 10px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: -17px;
  left: 0;
}
.text-tabs .active .tab-title {
  opacity: 1;
  color: #00936b;
}
.bg-primary .text-tabs .tab-title:after {
  background: #2dffc6;
}
.text-tabs .active .tab-title:after {
  opacity: 1;
}
.text-tabs .tab-title:hover {
  opacity: 1;
}
@media all and (max-width: 767px) {
  .text-tabs .tabs {
    padding-bottom: 0;
  }
  .text-tabs .tabs li {
    width: 49%;
    margin-bottom: 15px;
  }
  .text-tabs .tab-title:after {
    display: none;
  }
  .text-tabs:not(.text-center) .tabs li:first-child .tab-title {
    padding-left: 24px;
  }
}
.icon-tabs .tabs li {
  width: 24.5%;
  margin-bottom: 24px;
}
.icon-tabs .tab-title {
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: .5;
}
.icon-tabs .tab-title:hover {
  opacity: 1;
}
.icon-tabs .active .tab-title {
  color: #00936b;
  opacity: 1;
}
.icon-tabs .active .tab-title i {
  color: #00936b;
}
.image-bg .icon-tabs .active .tab-title i {
  color: #fff;
}
.icon-tabs .tab-title i {
  display: block;
  margin-bottom: 16px;
}
.icon-tabs .tab-title span {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0px;
  color: #333333;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: -1px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
@media all and (max-width: 767px) {
  .icon-tabs .tabs li {
    margin-bottom: 16px;
    margin-right: 0;
    width: 49%;
  }
  .icon-tabs .tab-title i {
    font-size: 32px;
  }
}
/*!---------- 36. SPACING ----------*/
.mr0 {
  margin-right: 0;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb8 {
  margin-bottom: 8px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb32 {
  margin-bottom: 32px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb48 {
  margin-bottom: 48px;
}
.mb56 {
  margin-bottom: 56px;
}
.mb64 {
  margin-bottom: 64px;
}
.mb72 {
  margin-bottom: 72px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb88 {
  margin-bottom: 88px;
}
.mb96 {
  margin-bottom: 96px;
}
.mb104 {
  margin-bottom: 104px;
}
.mb112 {
  margin-bottom: 112px;
}
.mb120 {
  margin-bottom: 120px;
}
.mb160 {
  margin-bottom: 160px;
}
.mt0 {
  margin-top: 0 !important;
}
.mt8 {
  margin-top: 8px;
}
.mt16 {
  margin-top: 16px;
}
.mt24 {
  margin-top: 24px;
}
.mt32 {
  margin-top: 32px;
}
.mt40 {
  margin-top: 40px;
}
.mt48 {
  margin-top: 48px;
}
.mt56 {
  margin-top: 56px;
}
.mt64 {
  margin-top: 64px;
}
.mt72 {
  margin-top: 72px;
}
.mt80 {
  margin-top: 80px;
}
.mt88 {
  margin-top: 88px;
}
.mt96 {
  margin-top: 96px;
}
.mt104 {
  margin-top: 104px;
}
.mt112 {
  margin-top: 112px;
}
.mt120 {
  margin-top: 120px;
}
.mt160 {
  margin-top: 160px;
}
.p32 {
  padding: 0 32px;
}
.p24 {
  padding: 24px;
}
.p0 {
  padding: 0;
}
.pt0 {
  padding-top: 0;
}
.pt8 {
  padding-top: 8px;
}
.pt16 {
  padding-top: 16px;
}
.pt24 {
  padding-top: 24px;
}
.pt32 {
  padding-top: 32px;
}
.pt40 {
  padding-top: 40px;
}
.pt48 {
  padding-top: 48px;
}
.pt64 {
  padding-top: 64px;
}
.pt72 {
  padding-top: 72px;
}
.pt80 {
  padding-top: 80px;
}
.pt88 {
  padding-top: 88px;
}
.pt96 {
  padding-top: 96px;
}
.pt104 {
  padding-top: 104px;
}
.pt112 {
  padding-top: 112px;
}
.pt120 {
  padding-top: 120px;
}
.pt160 {
  padding-top: 160px;
}
.pt180 {
  padding-top: 180px;
}
.pt240 {
  padding-top: 240px;
}
.pb0 {
  padding-bottom: 0;
}
.pb8 {
  padding-bottom: 8px;
}
.pb16 {
  padding-bottom: 16px;
}
.pb24 {
  padding-bottom: 24px;
}
.pb32 {
  padding-bottom: 32px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb48 {
  padding-bottom: 48px;
}
.pb56 {
  padding-bottom: 56px;
}
.pb64 {
  padding-bottom: 64px;
}
.pb72 {
  padding-bottom: 72px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb88 {
  padding-bottom: 88px;
}
.pb96 {
  padding-bottom: 96px;
}
.pb104 {
  padding-bottom: 104px;
}
.pb112 {
  padding-bottom: 112px;
}
.pb120 {
  padding-bottom: 120px;
}
.pb160 {
  padding-bottom: 160px;
}
.pb180 {
  padding-bottom: 180px;
}
.pb240 {
  padding-bottom: 240px;
}
@media all and (max-width: 990px) {
  .mb-s-0 {
    margin-bottom: 0;
  }
  .mb-s-8 {
    margin-bottom: 8px;
  }
  .mb-s-16 {
    margin-bottom: 16px;
  }
  .mb-s-24 {
    margin-bottom: 24px;
  }
  .mb-s-32 {
    margin-bottom: 32px;
  }
  .mb-s-40 {
    margin-bottom: 40px;
  }
  .mb-s-48 {
    margin-bottom: 48px;
  }
  .mb-s-64 {
    margin-bottom: 64px;
  }
  .mb-s-72 {
    margin-bottom: 72px;
  }
  .mb-s-80 {
    margin-bottom: 80px;
  }
  .mb-s-88 {
    margin-bottom: 88px;
  }
  .mb-s-96 {
    margin-bottom: 96px;
  }
  .mb-s-104 {
    margin-bottom: 104px;
  }
  .mb-s-112 {
    margin-bottom: 112px;
  }
  .mb-s-120 {
    margin-bottom: 120px;
  }
}
@media all and (max-width: 990px) {
  .mb-sm-0 {
    margin-bottom: 0;
  }
  .mb-sm-8 {
    margin-bottom: 8px;
  }
  .mb-sm-16 {
    margin-bottom: 16px;
  }
  .mb-sm-24 {
    margin-bottom: 24px;
  }
  .mb-sm-32 {
    margin-bottom: 32px;
  }
  .mb-sm-40 {
    margin-bottom: 40px;
  }
  .mb-sm-48 {
    margin-bottom: 48px;
  }
  .mb-sm-64 {
    margin-bottom: 64px;
  }
  .mb-sm-72 {
    margin-bottom: 72px;
  }
  .mb-sm-80 {
    margin-bottom: 80px;
  }
  .mb-sm-88 {
    margin-bottom: 88px;
  }
  .mb-sm-96 {
    margin-bottom: 96px;
  }
  .mb-sm-104 {
    margin-bottom: 104px;
  }
  .mb-sm-112 {
    margin-bottom: 112px;
  }
  .mb-sm-120 {
    margin-bottom: 120px;
  }
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .mt-sm-8 {
    margin-top: 8px;
  }
  .mt-sm-16 {
    margin-top: 16px;
  }
  .mt-sm-24 {
    margin-top: 24px;
  }
  .mt-sm-32 {
    margin-top: 32px;
  }
  .mt-sm-40 {
    margin-top: 40px;
  }
  .mt-sm-48 {
    margin-top: 48px;
  }
  .mt-sm-56 {
    margin-top: 56px;
  }
  .mt-sm-64 {
    margin-top: 64px;
  }
  .mt-sm-72 {
    margin-top: 72px;
  }
  .mt-sm-80 {
    margin-top: 80px;
  }
  .mt-sm-88 {
    margin-top: 88px;
  }
  .mt-sm-96 {
    margin-top: 96px;
  }
  .mt-sm-104 {
    margin-top: 104px;
  }
  .mt-sm-112 {
    margin-top: 112px;
  }
  .mt-sm-120 {
    margin-top: 120px;
  }
  .p0-sm {
    padding: 0;
  }
  .pt-sm-0 {
    padding-top: 0;
  }
  .pt-sm-8 {
    padding-top: 8px;
  }
  .pt-sm-16 {
    padding-top: 16px;
  }
  .pt-sm-24 {
    padding-top: 24px;
  }
  .pt-sm-32 {
    padding-top: 32px;
  }
  .pt-sm-40 {
    padding-top: 40px;
  }
  .pt-sm-48 {
    padding-top: 48px;
  }
  .pt-sm-64 {
    padding-top: 64px;
  }
  .pt-sm-72 {
    padding-top: 72px;
  }
  .pt-sm-80 {
    padding-top: 80px;
  }
  .pt-sm-88 {
    padding-top: 88px;
  }
  .pt-sm-96 {
    padding-top: 96px;
  }
  .pt-sm-104 {
    padding-top: 104px;
  }
  .pt-sm-112 {
    padding-top: 112px;
  }
  .pt-sm-120 {
    padding-top: 120px;
  }
  .pt-sm-160 {
    padding-top: 160px;
  }
  .pb-sm-0 {
    padding-bottom: 0;
  }
  .pb-sm-8 {
    padding-bottom: 8px;
  }
  .pb-sm-16 {
    padding-bottom: 16px;
  }
  .pb-sm-24 {
    padding-bottom: 24px;
  }
  .pb-sm-32 {
    padding-bottom: 32px;
  }
  .pb-sm-40 {
    padding-bottom: 40px;
  }
  .pb-sm-48 {
    padding-bottom: 48px;
  }
  .pb-sm-64 {
    padding-bottom: 64px;
  }
  .pb-sm-72 {
    padding-bottom: 72px;
  }
  .pb-sm-80 {
    padding-bottom: 80px;
  }
  .pb-sm-88 {
    padding-bottom: 88px;
  }
  .pb-sm-96 {
    padding-bottom: 96px;
  }
  .pb-sm-104 {
    padding-bottom: 104px;
  }
  .pb-sm-112 {
    padding-bottom: 112px;
  }
  .pb-sm-120 {
    padding-bottom: 120px;
  }
}
@media all and (max-width: 767px) {
  .mb-xs-0 {
    margin-bottom: 0;
  }
  .mb-xs-8 {
    margin-bottom: 8px;
  }
  .mb-xs-16 {
    margin-bottom: 16px;
  }
  .mb-xs-24 {
    margin-bottom: 24px;
  }
  .mb-xs-32 {
    margin-bottom: 32px;
  }
  .mb-xs-40 {
    margin-bottom: 40px;
  }
  .mb-xs-48 {
    margin-bottom: 48px;
  }
  .mb-xs-64 {
    margin-bottom: 64px;
  }
  .mb-xs-72 {
    margin-bottom: 72px;
  }
  .mb-xs-80 {
    margin-bottom: 80px;
  }
  .mb-xs-88 {
    margin-bottom: 88px;
  }
  .mb-xs-96 {
    margin-bottom: 96px;
  }
  .mb-xs-104 {
    margin-bottom: 104px;
  }
  .mb-xs-112 {
    margin-bottom: 112px;
  }
  .mb-xs-120 {
    margin-bottom: 120px;
  }
  .mt-xs-0 {
    margin-top: 0 !important;
  }
  .mt-xs-8 {
    margin-top: 8px;
  }
  .mt-xs-16 {
    margin-top: 16px;
  }
  .mt-xs-24 {
    margin-top: 24px;
  }
  .mt-xs-32 {
    margin-top: 32px;
  }
  .mt-xs-40 {
    margin-top: 40px;
  }
  .mt-xs-48 {
    margin-top: 48px;
  }
  .mt-xs-56 {
    margin-top: 56px;
  }
  .mt-xs-64 {
    margin-top: 64px;
  }
  .mt-xs-72 {
    margin-top: 72px;
  }
  .mt-xs-80 {
    margin-top: 80px;
  }
  .mt-xs-88 {
    margin-top: 88px;
  }
  .mt-xs-96 {
    margin-top: 96px;
  }
  .mt-xs-104 {
    margin-top: 104px;
  }
  .mt-xs-112 {
    margin-top: 112px;
  }
  .mt-xs-120 {
    margin-top: 120px;
  }
  .p0-xs {
    padding: 0;
  }
  .pt-xs-0 {
    padding-top: 0;
  }
  .pt-xs-8 {
    padding-top: 8px;
  }
  .pt-xs-16 {
    padding-top: 16px;
  }
  .pt-xs-24 {
    padding-top: 24px;
  }
  .pt-xs-32 {
    padding-top: 32px;
  }
  .pt-xs-40 {
    padding-top: 40px;
  }
  .pt-xs-48 {
    padding-top: 48px;
  }
  .pt-xs-64 {
    padding-top: 64px;
  }
  .pt-xs-72 {
    padding-top: 72px;
  }
  .pt-xs-80 {
    padding-top: 80px;
  }
  .pt-xs-88 {
    padding-top: 88px;
  }
  .pt-xs-96 {
    padding-top: 96px;
  }
  .pt-xs-104 {
    padding-top: 104px;
  }
  .pt-xs-112 {
    padding-top: 112px;
  }
  .pt-xs-120 {
    padding-top: 120px;
  }
  .pt-xs-160 {
    padding-top: 160px;
  }
  .pt-xs-180 {
    padding-top: 180px;
  }
  .pt-xs-240 {
    padding-top: 240px !important;
  }
  .pb-xs-0 {
    padding-bottom: 0;
  }
  .pb-xs-8 {
    padding-bottom: 8px;
  }
  .pb-xs-16 {
    padding-bottom: 16px;
  }
  .pb-xs-24 {
    padding-bottom: 24px;
  }
  .pb-xs-32 {
    padding-bottom: 32px;
  }
  .pb-xs-40 {
    padding-bottom: 40px;
  }
  .pb-xs-48 {
    padding-bottom: 48px;
  }
  .pb-xs-64 {
    padding-bottom: 64px;
  }
  .pb-xs-72 {
    padding-bottom: 72px;
  }
  .pb-xs-80 {
    padding-bottom: 80px;
  }
  .pb-xs-88 {
    padding-bottom: 88px;
  }
  .pb-xs-96 {
    padding-bottom: 96px;
  }
  .pb-xs-104 {
    padding-bottom: 104px;
  }
  .pb-xs-112 {
    padding-bottom: 112px;
  }
  .pb-xs-120 {
    padding-bottom: 120px;
  }
  .pb-xs-180 {
    padding-bottom: 180px;
  }
  .pb-xs-240 {
    padding-bottom: 240px !important;
  }
  .pb-xs-250 {
    padding-bottom: 240px !important;
  }
}
