{% load static %}
{% load i18n %}
{% if footer != '' %}
    {% if footer == 'variant-footer-1' %}
        <footer class="classic">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <ul class="menu">
{#                            <li><a href="#">{% trans  'Press' %}</a></li>#}
{#                            <li><a href="#">{% trans  'Terms of service' %}</a></li>#}
{#                            <li><a href="#">{% trans  'About' %}</a></li>#}
{#                            <li><a href="#">{% trans  'Contact' %}</a></li>#}
                            <li><a class="inner-link back-to-top" href="#top">{% trans  'Back To Top' %}</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-5">
                        <span class="lead color-heading">{% trans  'About' %} {{ event.nick }}</span>

                        <p>
                            {{ event.description }}
                        </p>
                    </div>

                    <div class="col-sm-4">
                        <ul class="contact-methods">
                            <li><i class="icon pe-7s-mail"></i><span>hello@meetup.net</span></li>
                            <li><i class="icon pe-7s-phone"></i><span>1800 382 372</span></li>
                            <li><i class="icon pe-7s-map-marker"></i><span>{{ event.address }}</span></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul class="social-profiles">
                            {% if event.twitter %}<li><a href="#"><i class="icon social_twitter"></i></a></li>{% endif %}
                            {% if event.facebook %}<li><a href="#"><i class="icon social_facebook"></i></a></li>{% endif %}
                            {% if event.dribbble %}<li><a href="#"><i class="icon social_dribbble"></i></a></li>{% endif %}
                            {% if event.instagram %}<li><a href="#"><i class="icon social_instagram"></i></a></li>{% endif %}
                            {% if event.googleplus %}<li><a href="#"><i class="icon social_googleplus"></i></a></li>{% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    {% elif footer == 'variant-footer-2' %}

        <footer class="short footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="text-white">© Copyright 2015 eventus</span>
                    </div>

                    <div class="col-sm-9 text-right">
                        <ul class="menu">
{#                            <li><a href="#">{% trans  'Press' %}</a></li>#}
{#                            <li><a href="#">{% trans  'Terms of service' %}</a></li>#}
{#                            <li><a href="#">{% trans  'About' %}</a></li>#}
{#                            <li><a href="#">{% trans  'Contact' %}</a></li>#}
                            <li><a class="inner-link back-to-top" href="#top">{% trans  'Back To Top' %}&nbsp;<i
                                    class="icon pe-7s-angle-up-circle"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>
    {% endif %}
{% endif %}