{% load static %}
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {#    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>#}
    <link href="{% static 'main/css/flexslider.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'main/css/elegant-icons.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'main/css/pe-icon-7-stroke.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'main/css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
    {% if theme %}
        <link href="{% static 'main/variant/theme/css/'|add:theme %}" rel="stylesheet" type="text/css" media="all"/>
    {% else %}
        <link href="{% static 'main/variant/theme/css/theme-deepblue.css' %}" rel="stylesheet" type="text/css"
              media="all"/>
    {% endif %}
    <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="{% static 'main/css/ie9.css' %}" />
		<![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <style>
        .btn-blue {
            background-color: #393EE1;
        }

        .btn-blue:hover {
            color: #fff;
            background: #3815e1;
        }

        select {
            color: #fff;
            background-color: #474747 !important;
        }
    </style>
</head>