{% load static %}
{% if nav != '' %}
    {% if nav == 'overlay' %}
        <nav class="overlay-nav">
    {% else %}
        <nav class="relative-nav">
    {% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img alt="Logo" class="logo logo-light" src="{% static 'main/img/logo-eventus-ligth.png' %}">
            <img alt="Logo" class="logo logo-dark" src="{% static 'main/img/logo-eventus-dark.png' %}">
        </div>

        <div class="col-md-10 text-right">
            <ul class="menu" style="margin-right: 32px;">
                <li><a class="inner-link" href="#about" target="default">Acerca de</a></li>
                {% if event.is_show_speakers %}
                    <li><a class="inner-link" href="#speakers" target="default">speakers</a></li>{% endif %}
                {% if event.is_show_presentations %}
                    <li><a class="inner-link" href="#schedule" target="default">schedule</a></li>{% endif %}
                {% if event.is_show_speakers %}
                    <li><a class="inner-link" href="#contact" target="default">directions</a></li>{% endif %}
                {% if event.is_show_speakers %}
                    <li><a class="inner-link" href="#subscribe" target="default">subscribe</a></li>{% endif %}
                {% if event.twitter %}
                    <li class="social-link">
                        <a href="{{ event.twitter }}"><i class="icon social_twitter"></i></a></li>{% endif %}
                {% if event.facebook %}
                    <li class="social-link">
                        <a href="{{ event.facebook }}"><i class="icon social_facebook"></i></a></li>{% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="bottom-border"></div>
</nav>
{% endif %}
