{% load i18n %}

<form class="register email-form" action="{% url 'main:register' event.nick %}" method="post">
    {% csrf_token %}
    <input type="hidden" id="id_fbId" name="id">

    <div class="col-sm-6">
        <input class="form-name validate-required" type="text" placeholder="{% trans 'Name' %}"
               name="first_name" id="id_firstName"
               data-vip="{'buttonText':'Edit Placeholder Text','modalTitle':'Edit Placeholder Text','modalIntro':'Enter text you want the user to see when field is empty.','modalInputLabel':'Placeholder text:','selector':'input','attribute':'placeholder','refresh':'false'}">
    </div>
    <div class="col-sm-6">
        <input class="form-name validate-required" type="text" placeholder="{% trans 'Last Name' %}"
               name="last_name" id="id_lastName"
               data-vip="{'buttonText':'Edit Placeholder Text','modalTitle':'Edit Placeholder Text','modalIntro':'Enter text you want the user to see when field is empty.','modalInputLabel':'Placeholder text:','selector':'input','attribute':'placeholder','refresh':'false'}">
    </div>
    <div class="col-sm-6">
        <input class="form-email validate-email" type="text" placeholder="{% trans 'Email Address' %}"
               name="email" id="id_email"
               data-vip="{'buttonText':'Edit Placeholder Text','modalTitle':'Edit Placeholder Text','modalIntro':'Enter text you want the user to see when field is empty.','modalInputLabel':'Placeholder text:','selector':'input','attribute':'placeholder','refresh':'false'}">
    </div>
    <div class="col-sm-6">
        <input class="form-phone" type="text" placeholder="{% trans 'Phone Number' %}" name="phone"
               data-vip="{'buttonText':'Edit Placeholder Text','modalTitle':'Edit Placeholder Text','modalIntro':'Enter text you want the user to see when field is empty.','modalInputLabel':'Placeholder text:','selector':'input','attribute':'placeholder','refresh':'false'}">
    </div>
    <div class="col-sm-6">
        <div class="select-holder">
            <select class="form-selection" name="ticket_id" id="ticket_id">
                <option value="" selected="selected">{% trans 'select a ticket' %}</option>
            </select>
        </div>
    </div>

    <div class="col-sm-6">
        <input type="button" value="{% trans 'Register with facebook' %}" class="btn btn-blue btn-face" onclick="fb_login(showRegisterForm)">
        <input type="submit" value="{% trans 'Register Now' %}" class="btn btn-submit hide"
               data-vip="{'buttonText':'{% trans  'Edit Submit Button Text' %}','modalTitle':'{% trans  'Edit Submit Button Text' %}','modalIntro':'Enter text you want the user to see when field is empty.','modalInputLabel':'Submit button text:','selector':'input','attribute':'value','refresh':'false'}">

    </div>

    <div class="col-sm-12">
        <span>* We process using a 100% secure gateway</span>

        <div class="form-success"><span>Thank you, your registration has been received!</span></div>
        <div class="form-error"><span>Validation error, please check all fields</span></div>
    </div>
</form>