{% load static %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{#<script src="{% static 'main/js/bootstrap.min.js' %}"></script>#}
<script src="{% static 'main/js/skrollr.min.js' %}"></script>
<script src="{% static 'main/js/spectragram.min.js' %}"></script>
<script src="{% static 'main/js/flexslider.min.js' %}"></script>
<script src="{% static 'main/js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'main/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'main/js/jquery.countdown-es.js' %}"></script>
<script src="{% static 'main/js/lightbox.min.js' %}"></script>
<script src="{% static 'main/js/smooth-scroll.min.js' %}"></script>
<script src="{% static 'main/js/twitterfetcher.min.js' %}"></script>
<script src="{% static 'main/js/placeholders.min.js' %}"></script>
<script>var fbAppId = '{{ FB_APP_ID }}',eventSlug='{{ event.nick }}';</script>
<script src="{% static 'main/js/home/fb.extend.js' %}"></script>
<script src="{% static 'main/js/fb/fb.js' %}"></script>
<script src="{% static 'main/js/scripts.js' %}"></script>